<lib-popup-page
title=" {{'currencyConversion.AddNewcurrency' | translate}}"
[closeFunction]="close"
(Submit)="save()"
>
<div>
  <form [formGroup]="addCurrencyForm">
    <div class="grid m-0 ">
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="addCurrencyForm.controls['fromCurrencyId']">
            {{'currencyConversion.FromCurrency' | translate}}
          </lib-label>
          <lib-select formControlName="fromCurrencyId" [options]="currencies" optionValue="id"
            optionLabel="name">
            
          </lib-select>
          <lib-field-validations [appControl]="addCurrencyForm.controls['fromCurrencyId']">
          </lib-field-validations>
          <div *ngIf="sameCurrency" class="error body_b16">
            {{'currencyConversion.errorSameCurrency' | translate}}
          </div>
        </lib-form-group>
      </div>
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="addCurrencyForm.controls['fromCurrencyRate']">
            {{'currencyConversion.CurrencyRate' | translate}}
          </lib-label>
          <lib-text-input type="number" formControlName="fromCurrencyRate" />
          <lib-field-validations [appControl]="addCurrencyForm.controls['fromCurrencyRate']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="addCurrencyForm.controls['toCurrencyId']">
            {{'currencyConversion.ToCurrency' | translate}}
          </lib-label>
          <lib-select formControlName="toCurrencyId" [options]="currencies" optionValue="id"
            optionLabel="name">
            
          </lib-select> <lib-field-validations [appControl]="addCurrencyForm.controls['toCurrencyId']">
          </lib-field-validations>
          <div *ngIf="sameCurrency" class="error body_b16">
            {{'currencyConversion.errorSameCurrency' | translate}}
          </div>
        </lib-form-group>
      </div>
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="addCurrencyForm.controls['reversedRate']">
            {{'currencyConversion.ReversedRate' | translate}}
          </lib-label>
          <lib-text-input [readOnly]="true" type="text" formControlName="reversedRate" />
          <lib-field-validations [appControl]="addCurrencyForm.controls['reversedRate']">
          </lib-field-validations>
        </lib-form-group>
      </div>

      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="addCurrencyForm.controls['note']">
            {{'currencyConversion.Notes' | translate}}
          </lib-label>
          <lib-text-input type="text" formControlName="note" />
          <lib-field-validations [appControl]="addCurrencyForm.controls['note']">
          </lib-field-validations>
        </lib-form-group>
      </div>

    </div>
  </form>
</div>
</lib-popup-page>