<lib-page-content [title]="'Tax.TaxList' | translate" [subTitle]="'Tax.TaxList' | translate">
  <div>
    <div class="user_page">
      <lib-data-table
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        (addNew)="onAdd()"
        (exportObj)="exportedColumns($event)"
        [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'code',
              headerText: ('Tax.Id' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'name',
              headerText: ('Tax.Name' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'ratio',
              headerText: ('Tax.Ratio' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'accountName',
              headerText: ('Tax.Account' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'taxGroupName',
              headerText: ('Tax.TaxGroup' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'id',
              headerText: ('Tax.Actions' | translate),
              template: actions
            }
          ]
        }"
      >
        <ng-container search>
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="{{ 'Tax.Search' | translate }}"
                (keyup)="onSearchChange($event)"
              />
            </span>
          </div>
        </ng-container>
        <ng-container action>
          <div class="flex gap-2">
            <lib-export
              (exportClick)="exportTaxesData()"
              [exportData]="exportData"
              [exportColumns]="exportColumns"
              [ExportName]="'Taxes'"
            >
            </lib-export>
            <!-- <lib-button pRipple className="addToList" label="{{ 'Tax.AddNew' | translate }}" (onClick)="onAdd()"
              [icon]="'pi pi-plus'">
            </lib-button> -->
            <lib-button-micro
              nameClass="save"
              title="{{ 'Tax.AddNew' | translate }}"
              (click)="onAdd()"
              iconName="pi pi-plus"
            >
            </lib-button-micro>
          </div>
        </ng-container>

        <ng-template #actions let-action>
          <div class="actions flex align-items-center">
            <lib-button-micro nameClass="table_button_edit" (click)="onEdit(action)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_delete" (click)="onDelete(action.id)">
            </lib-button-micro>
          </div>
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
