<div class="chart_of_account_tree">
  <div class="grid">
    <div class="md:col-4">
      <div class="tree">

        <p-tree [value]="nodes" expanded="true">
          <ng-template let-node pTemplate="default">
            <div class="ui-tree-node-content label_text" [ngClass]="{'active': node === activeNode}">
              <span class="tree-icon" *ngIf="node.children"></span>
              <i class="folder_icon pi pi-folder" *ngIf="node.children && node.children.length != 0"></i>
              <i class="file_icon pi pi-file" *ngIf="node.children && node.children.length == 0"></i>
              <!-- <span (click)="handleTabClick(node)"
                *ngIf="node.children.length == 0"></span> -->
              <span id="label_tree"  *ngIf="node.children" (click)="handleTabClick(node)">{{node.label}}</span>
              <!-- *ngIf="node.children && node.children.length != 0 " -->
              <button class="btn_add"   (click)="addChild(node)" *ngIf="node.hasNoChild">+</button>

            </div>
          </ng-template>
        </p-tree>
      </div>
    </div>
    <div class="md:col-8">
    <app-view-chart *ngIf="view" [account]="account" ></app-view-chart>
    <app-add-chart *ngIf="add" [parentAddedId]="parentAddedId" (operationCompleted)="handleOperationCompleted($event)"></app-add-chart>
    <app-edit-chart *ngIf="edit"></app-edit-chart>
    </div>
  </div>
</div>