.cards {
  padding-top: 100px;
  margin-bottom: 48px;
  height: 100vh;
  .desc {
    display: flex;
    padding: 24px;
    flex-direction: column;
    position: absolute;
    left: 30%;
    border-radius: 12px;
    background: #f7f7f7;
    @include breakpoint($lg, max) {
      padding: 0;
    }
    p {
      @include line-clamp(5);
      font-size: 18px;
    }
  }
  .number {
    h3 {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(13, 102, 176, 0.8);
      font-family: "DIN";
      font-size: 90px;
      font-style: normal;
      font-weight: 700;
      // text-transform: capitalize;
      color: #f2f2f3;
      line-height: 90px; /* 100% */
    }
  }
  h2 {
    color: $shams-yellow;
    font-family: "DIN";
    font-size: 32px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    // text-transform: capitalize;
  }
  p {
    color: $shams-navy;
    font-family: "DIN";
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 24px;
  }
  a {
    display: inline-block;
    width: fit-content;
  }
  .img-card {
    position: relative;
    // height: 55%;
    height: 55%;
    // max-width: 710px;
    // width: 710px ;nav
    // width: 145%;
    // @media screen and (max-width: 1600px) {
    //     width: 122%;
    // }

    // @media screen and (max-width: 1500px) {
    //     width: 118%;
    // }
    // @media screen and (max-width: 1400px) {
    //     width: 126%;
    // }
    // @media screen and (max-width: 1350px) {
    //     width: 122%;
    // }
    // @media screen and (max-width: 1300px) {
    //     width: 118%;
    // }
    // @media screen and (max-width: 1250px) {
    //     width: 112%;
    // }
    // @media screen and (max-width: 1200px) {
    //     width: 130%;
    // }
    // @media screen and (max-width: 1150px) {
    //     width: 125%;
    // }
    // @media screen and (max-width: 1100px) {
    //     width: 115%;
    // }
    // @media screen and (max-width: 1050px) {
    //     width: 113%;
    // }
    // @media screen and (max-width: 1000px) {
    //     width: 107%;
    // }
    @include breakpoint($lg, max) {
      height: auto !important;
      width: auto !important;
    }
    img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      width: 100%;
      @include breakpoint($lg, max) {
        position: inherit;
        height: auto !important;
        width: 100% !important;
      }
    }
  }
  &.first,
  &:nth-child(odd) {
    &::before {
      content: url("/img/bg-gold.svg");
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .img-card {
      right: -45%;
      @media screen and (max-width: 1600px) {
        right: -23%; 
      }

      @media screen and (max-width: 1500px) {
        right: -16%; 
      }
      @media screen and (max-width: 1400px) {
        right: -24%; 
      }
      @media screen and (max-width: 1350px) {
        right: -21%; 
      }
      @media screen and (max-width: 1300px) {
        right: -17%; 
      }
      @media screen and (max-width: 1250px) {
        right: -15%; 
      }
      @media screen and (max-width: 1200px) {
        right: -27%; 
      }
      @media screen and (max-width: 1150px) {
        right: -21%; 
      }
      @media screen and (max-width: 1100px) {
        right: -18%; 
      }
      @media screen and (max-width: 1050px) {
        right: -12%; 
      }
      @media screen and (max-width: 1000px) {
        right: -10%; 
      }

      img {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }
  &.second,
  &:nth-child(even) {
    &::before {
      content: url("/img/bg-blue.svg");
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .col-lg-6:first-child {
      order: 2;
    }
    .img-card {
      left: -45%;
      @media screen and (max-width: 1600px) {
        left: -23% ;
      }

      @media screen and (max-width: 1500px) {
        left: -16% ;
      }
      @media screen and (max-width: 1400px) {
        left: -24% ;
      }
      @media screen and (max-width: 1350px) {
        left: -21% ;
      }
      @media screen and (max-width: 1300px) {
        left: -17% ;
      }
      @media screen and (max-width: 1250px) {
        left: -15% ;
      }
      @media screen and (max-width: 1200px) {
        left: -27% ;
      }
      @media screen and (max-width: 1150px) {
        left: -21% ;
      }
      @media screen and (max-width: 1100px) {
        left: -18% ;
      }
      @media screen and (max-width: 1050px) {
        left: -12% ;
      }
      @media screen and (max-width: 1000px) {
        left: -10% ;
      }
      img {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  @include breakpoint($lg, max) {
    transform: none;
    padding-top: 0;
    margin-bottom: 0;
    height: auto;
    width: auto;
    margin-top: 100px;
    &::before {
      content: none !important;
    }
    .img-card {
      position: inherit !important;
      right: inherit;
      left: inherit !important;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      img {
        margin-top: 24px;
        border-radius: 8px;
      }
    }
    &:nth-child(odd) {
      .img-card {
        right: -44%;
        img {
          position: inherit;
          border-radius: 8px;
        }
      }
    }
  
    &:nth-child(even) {
    //   .col-lg-6:first-child {
    //     order: 0;
    //   }
      .img-card {
        left: inherit;
        img {
          position: inherit;
          border-radius: 8px;
        }
      }
    }
  }
}
