<div class="chart_add_page">
  <form [formGroup]="formGroup">
    <div class="grid">
      <lib-fildest header="{{ 'ChartOfAccounts.AccountCode' | translate }}" class="md:col-12">
        <div class="grid">
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['accountCode']">
                {{ 'ChartOfAccounts.AccountCode' | translate }}
              </lib-label>
              <lib-text-input [readOnly]="true" formControlName="accountCode"> </lib-text-input>
            </lib-form-group>
          </div>
          <div class="md:col-6" *ngIf="hasParentAccount">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['levelId']">
                {{ 'ChartOfAccounts.level' | translate }}
              </lib-label>
              <lib-text-input [readOnly]="true" type="text" formControlName="levelId" />
              <lib-field-validations [appControl]="formGroup.controls['levelId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['name']">
                {{ 'ChartOfAccounts.name' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="name" />
              <lib-field-validations [appControl]="formGroup.controls['name']">
              </lib-field-validations>
            </lib-form-group>
          </div>
        </div>
      </lib-fildest>
      <lib-fildest header="{{ 'ChartOfAccounts.ParentAccount' | translate }}" class="md:col-12">
        <div class="grid">
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['parentId']">
                {{ 'ChartOfAccounts.parentName' | translate }}
              </lib-label>
              <lib-select
                [readOnly]="currencyIsVisible"
                formControlName="parentId"
                [options]="parentAccounts"
                optionValue="id"
                [selectedValue]="selectValue ? formGroup.controls['parentId'].value : null"
                optionLabel="name"
                (valueChanged)="onParentAccountChange($event)"
              >
              </lib-select>
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['accountCode']">
                {{ 'ChartOfAccounts.ParentAccountCode' | translate }}
              </lib-label>
              <lib-text-input [readOnly]="true" type="text" formControlName="parentAccountCode" />
            </lib-form-group>
          </div>
        </div>
      </lib-fildest>
      <lib-fildest header="{{ 'ChartOfAccounts.Account' | translate }}" class="md:col-12">
        <div class="grid">
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['natureId']">
                {{ 'ChartOfAccounts.AccountNature' | translate }}
              </lib-label>
              <lib-select
                [readOnly]="hasParentAccount"
                formControlName="natureId"
                [selectedValue]="selectValue ? parentAcountName?.natureId?.toString() : null"
                [options]="lookups[LookupEnum.AccountNature]"
                optionValue="name"
                optionLabel="name"
              >
              </lib-select>
              <lib-field-validations [appControl]="formGroup.controls['natureId']">
              </lib-field-validations>
              <!-- <lib-select
                  [options]="lookups[LookupEnum.AccountNature]"
                  optionValue="id"
                  optionLabel="name"
                >
                </lib-select> -->
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['accountSectionId']">
                {{ 'ChartOfAccounts.AccountSection' | translate }}
              </lib-label>
              <lib-select
                [readOnly]="hasParentAccount"
                formControlName="accountSectionId"
                [selectedValue]="selectValue ? parentAcountName?.accountSectionId : null"
                [options]="accountSections"
                optionValue="id"
                optionLabel="nameAr"
                (valueChanged)="onAccountSectionChange($event)"
              >
              </lib-select>
              <lib-field-validations [appControl]="formGroup.controls['accountSectionId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['accountTypeId']">
                {{ 'ChartOfAccounts.AccountType' | translate }}
              </lib-label>
              <lib-select
                formControlName="accountTypeId"
                [options]="accountTypes"
                optionValue="id"
                optionLabel="nameEn"
                [selectedValue]="accountTypeIdValue"
              >
              </lib-select>
              <lib-field-validations [appControl]="formGroup.controls['accountTypeId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['tags']">
                {{ 'ChartOfAccounts.Tags' | translate }}
              </lib-label>
              <lib-multi-select
                formControlName="tags"
                [options]="accountTags"
                optionValue="id"
                optionLabel="name"
                [placeholder]="'ChartOfAccount.Select' | translate"
                [selectedValue]="formGroup.controls['tags'].value"
              >
              </lib-multi-select>
            </lib-form-group>
          </div>
        </div>
        <lib-fildest header="{{ 'ChartOfAccounts.details' | translate }}" class="md:col-12">
          <div class="grid">
            <div class="md:col-12">
              <lib-label [appControl]="formGroup.controls['hasNoChild']">
                {{ 'ChartOfAccounts.HasNoChild' | translate }}
              </lib-label>
              <div>
                <lib-input-switch
                  formControlName="hasNoChild"
                  (ngModelChange)="toggleCurrencyVisibility()"
                >
                </lib-input-switch>
              </div>
            </div>
            <div class="md:col-6" *ngIf="!currencyIsVisible">
              <lib-form-group>
                <lib-label [appControl]="formGroup.controls['currencyId']">
                  {{ 'ChartOfAccounts.Currency' | translate }}
                </lib-label>
                <lib-select
                  formControlName="currencyId"
                  [options]="currencies"
                  optionValue="id"
                  optionLabel="name"
                  [selectedValue]="formGroup.controls['currencyId'].value"
                >
                </lib-select>
              </lib-form-group>
            </div>
          </div>
          <lib-fildest
            header="{{ 'ChartOfAccounts.costCenterConfig' | translate }}"
            class="md:col-12"
            *ngIf="!currencyIsVisible"
          >
            <div class="grid">
              <div class="md:col-6">
                <lib-form-group>
                  <div class="account_activation">
                    <div>
                      <p-radioButton
                        name="costCenterConfig"
                        value="Mandatory"
                        formControlName="costCenterConfig"
                        inputId="Mandatory"
                      >
                      </p-radioButton>
                      <label class="title" for="Mandatory">{{
                        'costCenter.mandatory' | translate
                      }}</label>
                    </div>
                    <div>
                      <p-radioButton
                        name="costCenterConfig"
                        value="Optional"
                        formControlName="costCenterConfig"
                        inputId="Optional"
                      >
                      </p-radioButton>
                      <label class="title" for="Optional">{{
                        'costCenter.optional' | translate
                      }}</label>
                    </div>
                    <div>
                      <p-radioButton
                        name="costCenterConfig"
                        value="NotAllow"
                        formControlName="costCenterConfig"
                        inputId="NotAllow"
                      >
                      </p-radioButton>
                      <label class="title" for="NotAllow">{{
                        'costCenter.notAllow' | translate
                      }}</label>
                    </div>
                  </div>
                </lib-form-group>
              </div>
            </div>
          </lib-fildest>
        </lib-fildest>

        <lib-fildest
          header="{{ 'ChartOfAccounts.AccountActivation' | translate }}"
          class="md:col-12"
        >
          <div class="grid">
            <div class="md:col-6">
              <lib-form-group>
                <div class="account_activation">
                  <div>
                    <p-radioButton
                      name="accountActivation"
                      value="Active"
                      formControlName="accountActivation"
                      inputId="Active"
                    >
                    </p-radioButton>

                    <label class="title" for="Active">{{
                      'ChartOfAccounts.Active' | translate
                    }}</label>
                  </div>
                  <div>
                    <p-radioButton
                      name="accountActivation"
                      value="Inactive"
                      formControlName="accountActivation"
                      inputId="Inactive"
                    >
                    </p-radioButton>

                    <label class="title" for="Inactive">{{
                      'ChartOfAccounts.Inactive' | translate
                    }}</label>
                  </div>
                  <div>
                    <p-radioButton
                      name="accountActivation"
                      value="PeriodicActive"
                      formControlName="accountActivation"
                      inputId="Period"
                    >
                    </p-radioButton>
                    <label class="title" for="Period">{{
                      'ChartOfAccounts.periodicActive' | translate
                    }}</label>
                  </div>
                </div>

                <lib-field-validations [appControl]="formGroup.controls['AccountActivation']">
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="md:col-3">
              <lib-form-group *ngIf="selectedPeriodOption === 'PeriodicActive'">
                <lib-label [appControl]="formGroup.controls['periodicActiveFrom']">
                  {{ 'ChartOfAccounts.periodicActiveFrom' | translate }}
                </lib-label>
                <lib-calendar formControlName="periodicActiveFrom"></lib-calendar>

                <lib-field-validations [appControl]="formGroup.controls['periodicActiveFrom']">
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="md:col-3">
              <lib-form-group *ngIf="selectedPeriodOption === 'PeriodicActive'">
                <lib-label [appControl]="formGroup.controls['periodicActiveTo']">
                  {{ 'ChartOfAccounts.periodicActiveTo' | translate }}
                </lib-label>
                <lib-calendar formControlName="periodicActiveTo"></lib-calendar>

                <lib-field-validations [appControl]="formGroup.controls['periodicActiveTo']">
                </lib-field-validations>
              </lib-form-group>
            </div>
          </div>
        </lib-fildest>

        <!-- <div class="grid">
         
          
        
             <div class="md:col-6">
              <lib-form-group>
                <lib-label [appControl]="formGroup.controls['companies']">
                  {{ 'ChartOfAccounts.companies' | translate }}
                </lib-label>
                <lib-multi-select
                  formControlName="companies"
                  [options]="companyDropDown"
                  optionValue="id"
                  optionLabel="name"
                  [selectedValue]="formGroup.controls['companies'].value"
                >
                </lib-multi-select>
              </lib-form-group>
            </div> 
          </div>-->
          
       
  
       
        </lib-fildest>
      </div>
    </form>
    <div class="btn_group">
      <div class="grid">
        <div class="md:col-6">
          <div class="grid">
            <div class="md:col-6">
              <lib-button-micro
              title="{{ 'ChartOfAccounts.Cancel' | translate }}"
                nameClass="cancel"
                widthNumber="100%"
                (click)="cancel()"

              >
              </lib-button-micro>
            </div>
            <div class="md:col-6">
              <lib-button-micro
              title="{{ 'ChartOfAccounts.Save' | translate }}"
                nameClass="save"
                widthNumber="100%"
                (click)="onSubmit()"

              >
              </lib-button-micro>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    
    <div class="action">
      
      
      
    </div>
  </div>
  