<div class="edit_company_page">
  <div class="company_code">
    <div class="code">
      <p class="title">{{ "Company.CompanyCode" | translate }}</p>
      <p class="code_num">{{ companyCode }}</p>
    </div>
    <div class="status">
      <div class="checked">
        <p-inputSwitch [(ngModel)]="isActive" (onChange)="toggle()">
        </p-inputSwitch>
        <p class="active" *ngIf="isActive">
          {{ "User.Activate" | translate }}
        </p>
        <p class="inactive" *ngIf="!isActive">
          {{ "User.Deactivate" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="company_nav">
    <div class="company_name">
      <p class="title">{{ companyName }}</p>
    </div>
    <div class="company_route">
      <div class="tab active_link" id="addres" (click)="activeTag('addres')">
        <a (click)="navigateToAddress()">
          {{ "Company.AddressTab" | translate }}</a>
      </div>
      <div class="tab" id="contact" (click)="activeTag('contact')">
        <a (click)="navigateToContact()">
          {{ "Company.ContactTab" | translate }}</a>
      </div>
      <div class="tab" id="legal" (click)="activeTag('legal')">
        <a (click)="navigateToLegal()"> {{ "Company.LegalTab" | translate }}</a>
      </div>
      <div class="tab" id="hierarchy" (click)="activeTag('hierarchy')">
        <a (click)="navigateToHierarchy()">
          {{ "Company.HierarchyTab" | translate }}</a>
      </div>
      <div class="tab" id="branches" (click)="activeTag('branches')">
        <a (click)="navigateToBranches()">
          {{ "Company.BranchesTab" | translate }}</a>
      </div>
    </div>
    <!-- <div class="edit_btn">
      <button class="edit" (click)="toggleEditMode()">
        <i class="fa fa-regular fa-pen-to-square"></i>
        {{
        editMode ? ("Company.Save" | translate) : ("Company.Edit" | translate)
        }}
      </button>
    </div> -->
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>