.edit_company_page {
  // width: 95%;
  // margin: auto;

  .group {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 5px;
  }

  .error {
    color: red;
  }

  .form-label {
    margin-bottom: 5px;
  }

  .Actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 10px 40px;
      background-color: #1a90b0;
      font-size: 18px;
      color: #fff;
      border: none;
      border-radius: 12px;
      cursor: pointer;
    }

  }

}



::ng-deep {
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #1a90b0 !important;
  }

  .p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none !important;
  }

  .p-inputswitch {
    width: 9rem;
    height: 3rem;
    border-radius: 50%;
  }

  .p-inputswitch-slider {
    border: 4px solid #d9dde6 !important;
  }

  .p-inputswitch .p-inputswitch-slider:before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 35px;
    background: #ffffff;
    width: 2.25rem;
    height: 2.25rem;
    left: 0.25rem;
    margin-top: -1.15rem;
    border-radius: 50%;
    transition-duration: 0.2s;
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M4 0C1.8 0 0 1.8 0 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4m0 1c.66 0 1.26.21 1.75.56L1.56 5.75C1.21 5.26 1 4.66 1 4c0-1.66 1.34-3 3-3m2.44 1.25C6.79 2.74 7 3.34 7 4c0 1.66-1.34 3-3 3c-.66 0-1.26-.21-1.75-.56z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .p-inputswitch-checked .p-inputswitch-slider:before {
    content: "\2713" !important;
    -webkit-mask-image: none !important;
    mask-image: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a90b0;
    font-size: 35px;
    background: #ffffff;
    width: 3rem;
    height: 2rem;
    left: -0.2rem;
    margin-top: -1.0rem;
    border-radius: 15px;
    transition-duration: 0.2s;
  }

  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(5.5rem);
  }

  .p-inputtext:enabled:hover {
    border-color: #1a90b0 !important;
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    // box-shadow: 0 0 0 0.2rem #1a90b0 !important;
    border-color: #1a90b0 !important;
  }

  .p-autocomplete:not(.p-disabled):hover .p-autocomplete-multiple-container {
    border-color: #1a90b0 !important;
  }

  .p-autocomplete:not(.p-disabled).p-focus .p-autocomplete-multiple-container {
    outline: 0 none;
    outline-offset: 0;
    // box-shadow: 0 0 0 0.2rem #1a90b0 !important;
    border-color: #1a90b0 !important;
  }

  .p-autocomplete:not(.p-disabled):hover .p-autocomplete-multiple-container {
    border-color: #1a90b0 !important;
  }

  .p-autocomplete:not(.p-disabled).p-focus .p-autocomplete-multiple-container {
    outline: 0 none;
    outline-offset: 0;
    // box-shadow: 0 0 0 0.2rem #1a90b0 !important;
    border-color: #1a90b0 !important;
  }

  .p-dropdown {
    background: #ffffff;
    border: 1px solid #d1d5db;
    transition: none !important;
    border-radius: 6px;
    width: 100% !important;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: #1a90b0 !important;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    // box-shadow: 0 0 0 0.2rem #1a90b0 !important;
    border-color: #1a90b0 !important;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    color: #fff !important;
    background: #1a90b0 !important;
  }


}

.checked {
  position: relative;

  .active {
    position: absolute;
    top: -6px;
    left: 20px;
    color: #fff;
  }

  .inactive {
    position: absolute;
    top: -6px;
    left: 50px;
    color: #40444c;
  }
}

.edit_company_page {
  .company_code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    // background: #F7F8F8;

    .code {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-inline-end: 25px;

      .title {
        font-size: 1rem;
        color: #383A42;
        margin-inline-end: 10px;
      }

      .code_num {
        font-size: 1rem;
        color: #1a90b0;

      }
    }
  }

  .company_nav {
 
    border-bottom: 1px solid #B6BAC3;
    padding: 10px;
    
    .company_nav_content{
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 90%;
      margin: auto;
    }
    .company_name{
      width: 50%;
      
      .title{
        
      margin: 0;
      }
    }
    .company_route {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;

      .tab {
        margin-inline-end: 20px;
        text-transform: capitalize;

        a {
          color: #B6BAC3;
          font-size: 1rem;
          text-decoration: none;
          cursor: pointer;
        }
      }

      .active_link {
        a {
          color: #383A42 !important;

        }

        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 90%;
          left: 2px;
          bottom: -12px;
          height: 3px;
          background: #1a90b0;
        }
      }
    }

    .edit_btn {
      .edit {
        background: #fff;
        padding: 10px 20px;
        color: #1a90b0;
        border: 1px solid #1a90b0;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
          background: #1a90b0;
          color: #fff;
        }
      }
    }
  }
}