<lib-page-content [title]="'itemDefinition.TaxList' | translate" [subTitle]="'itemDefinition.TaxList' | translate">
    <div>
      <div class="user_page">
        <lib-data-table
       
          [items]="tableData"
          className="p-datatable-gridlines"
          [currentPageResult]="currentPageInfo"
          (pageChange)="onPageChange($event)"
          (addNew)="onAdd()"
          [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
              {
                name: 'code',
                headerText: ('itemDefinition.code' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'name',
                headerText: ('itemDefinition.name' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'typeName',
                headerText: ('itemDefinition.type' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'itemCategoryName',
                headerText: ('itemDefinition.category' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'uomName',
                headerText: ('itemDefinition.uom' | translate),
                isGlobalFilter: true,
                isSortable: true
              },



              {
                name: 'id',
                headerText: ('itemDefinition.actions' | translate),
                template: actions
              }
            ]
          }"
        >



          <ng-container search>
            <lib-form-group>
              <lib-text-input
              type="text"
              [placeholder]="'itemDefinition.search' | translate"
              [(ngModel)]="searchTerm"
              (keyUp)="onSearchChange()"
            ></lib-text-input>
            </lib-form-group>
            </ng-container>
          <ng-container action>

            <div>
              <lib-export
              (exportClick)="exportClick($event)"
              [exportData]="exportData"
              [exportColumns]="exportColumns"
              [ExportName]="'Item Definition'"
            >
            </lib-export>
            </div>
            <!--  -->
            <div>
              <lib-button-micro
              [title]="'create' | translate"
              nameClass="save"
              iconName="pi pi-plus"
              (click)="onAdd()"
            >
            </lib-button-micro>
            </div>
            </ng-container>















          <ng-template #actions let-action>
            <div class="actions flex align-items-center">
              <img src="assets/images/table/edit.svg" alt="" (click)="onEdit(action)" />
              <img src="assets/images/table/delete.svg" alt="" (click)="onDelete(action.id)" />
              <!-- <img src="assets//images/table/view.svg" alt="" (click)="onView(action)" /> -->
            </div>
          </ng-template>
        </lib-data-table>
      </div>
    </div>
  </lib-page-content>
