<div class="card mt-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">{{ "Company.Add.AccInfo" | translate }}</h3>
  </div>

  <div class="card-body">
    <h4>{{ "Company.Add.Step" | translate }}</h4>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">

      <div class="form-group mb-3">
        <label for="companyName" class="form-label">
          {{ "Company.Add.CompanyName" | translate }} :</label
        >
        <input
          aria-label="companyName"
          formControlName="name"
          class="form-control"
        />
        <div *ngIf="hasError('companyName', 'required')" class="text-danger">
          {{ "Company.Add.CompanyName" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="plan" class="form-label"
          >{{ "Company.Add.Plan" | translate }} :</label
        >
        <input
          aria-label="planId"
          formControlName="planId"
          class="form-control"
        />
        <div *ngIf="hasError('planId', 'required')" class="text-danger">
          {{ "Company.Add.Plan" | translate }}
          {{ "Company.Add.Plan" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="country" class="form-label"
          >{{ "Company.Add.Country" | translate }} :</label
        >
        <select
          formControlName="countryCode"
          id="country"
          name="country"
          class="form-select"
          required
        >
          <option value="">
            {{ "Company.Add.Select" | translate }}
            {{ "Company.Add.Country" | translate }}
          </option>
          <option *ngFor="let option of CountryDropDown" [value]="option.code">
            {{ option.name }}
          </option>
        </select>
        <div *ngIf="hasError('Country', 'required')" class="text-danger">
          {{ "Company.Add.Country" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

  

      <div class="form-group mb-3">
        <label for="industry" class="form-label"
          >{{ "Company.Add.Industry" | translate }} :</label
        >
        <select
          formControlName="industryId"
          id="industry"
          name="industry"
          class="form-select"
          required
        >
          <option value="">
            {{ "Company.Add.Select" | translate
            }}{{ "Company.Add.Industry" | translate }}
          </option>
          <option *ngFor="let option of industryDropDown" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
        <div *ngIf="hasError('industryId', 'required')" class="text-danger">
          {{ "Company.Add.Industry" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="currency" class="form-label"
          >{{ "Company.Add.Currency" | translate }} :</label
        >
        <select
          formControlName="currencyId"
          id="currency"
          name="currency"
          class="form-select"
          required
        >
          <option value="">
            {{ "Company.Add.Select" | translate }}
            {{ "Company.Add.Currency" | translate }}
          </option>
          <option *ngFor="let option of currencyDropDown" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
        <div *ngIf="hasError('currencyId', 'required')" class="text-danger">
          {{ "Company.Add.Currency" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="website" class="form-label"
          >{{ "Company.Add.Website" | translate }} :</label
        >
        <input
          aria-label="website"
          formControlName="website"
          class="form-control"
        />
        <div *ngIf="hasError('website', 'required')" class="text-danger">
          {{ "Company.Add.Website" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="address" class="form-label"
          >{{ "Company.Add.Address" | translate }} :</label
        >
        <input
          aria-label="address"
          formControlName="address"
          class="form-control"
          maxlength="100"
        />
        <div *ngIf="hasError('address', 'required')" class="text-danger">
          {{ "Company.Add.Address" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="MobileNumberCode" class="form-label"
          >{{ "Company.Add.MobileNumberCode" | translate }} :</label
        >
        <select
          formControlName="mobileNumberCode"
          id="MobileNumberCode"
          name="mobileNumberCode"
          class="form-select"
          required
        >
          <option value="">
            {{ "Company.Add.Select" | translate }}
            {{ "Company.Add.MobileNumberCode" | translate }}
          </option>
          <option
            *ngFor="let option of mobileCodeDropDown"
            [value]="option.code"
          >
            {{ option.phoneCode }}
          </option>
        </select>
        <div
          *ngIf="hasError('MobileNumberCode', 'required')"
          class="text-danger"
        >
          {{ "Company.Add.MobileNumberCode" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="mobile" class="form-label">
          {{ "Company.Add.MobileNumber" | translate }} :</label
        >
        <input
          aria-label="mobile"
          type="tel"
          formControlName="mobileNumber"
          class="form-control"
        />
        <div *ngIf="hasError('mobile', 'required')" class="text-danger">
          {{ "Company.Add.MobileNumber" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="companyEmail" class="form-label">{{
          "Company.Add.CompanyEmail" | translate
        }}</label>
        <input
          type="email"
          formControlName="companyEmail"
          id="companyEmail"
          class="form-control"
        />
        <div *ngIf="hasError('companyEmail', 'required')" class="text-danger">
          {{ "Company.Add.CompanyEmail" | translate }}
          {{ "Company.Add.Required" | translate }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        {{ "Company.Add.Next" | translate }}
      </button>
    </form>

    <hr />
  </div>
</div>
