.card-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;


  }
  .card-alignment{
    display: flex;
    flex-direction: row;

  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 200px;
    text-align: center;
  }
  
  .card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    margin-top: 8px;
  }