<div class="mt-4">
  <div>plan 1</div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="navigateToManageCompany()"
  >
    Manage Company
  </button>
  <button
    type="button"
    class="btn btn-success"
    (click)="navigateToManageUser()"
  >
    Manage User
  </button>
</div>

<div class="mt-4">
  <div>plan 2</div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="navigateToManageCompany()"
  >
    Manage Company
  </button>
  <button
    type="button"
    class="btn btn-success"
    (click)="navigateToManageUser()"
  >
    Manage User
  </button>
</div>

<div class="mt-4">
  <div>plan 3</div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="navigateToManageCompany()"
  >
    Manage Company
  </button>
  <button
    type="button"
    class="btn btn-success"
    (click)="navigateToManageUser()"
  >
    Manage User
  </button>
</div>
