<lib-popup-page
  title=" {{ 'mainSales.ChangeSalesPhonenumber' | translate }}"
  [closeFunction]="onCancel"
  (Submit)="onSubmit()"
>
  <div class="m-auto text-center head-instraction">
    {{ 'mainSales.popupAttention' | translate }}
  </div>
  <div class="pt-3">
    <form class="domain_form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="domain_content">
        <div class="grid m-0">
          <div class="col-6 my-2">
            <div class="info-lable flex align-items-center gap-2">
              <img src="assets/images/vansales/Vector.png" alt="" srcset="" />
              {{ 'mainSales.SalesPhoneNumber' | translate }}
            </div>
            <p>01091997883</p>
          </div>
          <div class="col-6 my-2">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['phoneNumber']">
                {{ 'mainSales.phoneNumber' | translate }}
              </lib-label>
              <lib-text-input
                type="text"
                formControlName="phoneNumber"
                placeholder="{{ 'mainSales.phoneNumber' | translate }}"
                [iconUrl]="'assets/images/Vector.png'"
                class="form-control"
              />
              <lib-field-validations
                [appControl]="formGroup.controls['phoneNumber']"
              ></lib-field-validations>
            </lib-form-group>
          </div>
        </div>
      </div>
    </form>
  </div>
</lib-popup-page>
