<!-- <lib-page-content>
  <div class="plan_page">
    <div class="card-container grid">
      <div class="card col-12 md:col-6 lg:col-3" *ngFor="let plan of []">
        <div class="plan_description">
          <p *ngIf="plan.id == 1" class="pi pi-chart-bar plan_ico"></p>
          <p *ngIf="plan.id == 2" class="pi pi-briefcase plan_ico"></p>
          <p *ngIf="plan.id == 3" class="pi pi-chart-line plan_ico"></p>
          <p class="card_name">{{ plan.name }}</p>
          <p class="card_subdomain">
            1 Domain • 10 Users • 20 Copies Lorem Ipsum is simply dummy text of
            the printing and typesetting industry.
          </p>

          <p *ngIf="plan.id == 1">{{ 35 | currency : "USD" }}</p>
          <p *ngIf="plan.id == 2">{{ 60 | currency : "USD" }}</p>
          <p *ngIf="plan.id == 3">{{ 120 | currency : "USD" }}</p>
          <div class="btn_manage">
            <button class="mange" type="button" class="btn btn-success">
              PURCHASE NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</lib-page-content> -->
