    <div class="payment_link">
        <div class="page_content">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="logo">

                    </div>
                    <p>
                        Business Owner Registration Form
                    </p>
                    <p>
                        Please enter the required information before proceeding to payment 
                    </p>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-user'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-send'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-phone'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-eye-slash'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi pi-eye-slash'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-building'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-select>

                        </lib-select>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-check-circle'"
                        >
    
                        </lib-text-input>
                    </div>
               

                </div>
                <div class="col-12 md:col-6">
                    
                    <!-- <div class="card_micro">
                        <div class=" summary_card">
                            <h2>
                                Invoice
                            </h2>
                            <div class="card_micro">
                              
                                    <p>
                                        Domain
                                    </p>
                                    @if (addForm.get('subDomainPrice')?.value !=0) {
                                    <div class="summary_item">
                                        <p>
                                            Domain
                                        </p>
                                        <p>
                                            {{addForm.get('subDomainPrice')?.value}}
                                        </p>
                                    </div>
                                }
                                <div class="line"></div>
        
                                    <p>
                                        Apps
                                    </p>
                                    @if (invoiceApps.length !=0) {
                                    <div class="summary_item" *ngFor="let app of invoiceApps ">
                                        <p>
                                            {{app.appName}}
                                        </p>
                                        <p>
                                            {{app.appPrice
                                            }}                                </p>
                                    </div>
                                }
                                <div class="line"></div>
        
                                    <p>
                                        User licenses
                                    </p>
                                    @if (invoiceLicenses.length !=0) {
                                    <div class="summary_item" *ngFor="let app of invoiceLicenses ">
                                        <p>
                                            {{app.name}}
                                        </p>
                                        <p>
                                            {{app.totalPrice}}   
                                        </p>
                                    </div>
                                }
                                <div class="line"></div>
                                <div class="summary_item" >
                                    <p>
                                        Total
                                    </p>
                                    <p>
                                        {{totalSummaryPrice}}   
                                    </p>
                                </div>
                            </div>
                        </div>
                        <lib-button-micro
                        nameClass="save"
                        [title]="'Proceed to Payment'"
                        widthNumber="100%"
                        >

                        </lib-button-micro>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
