    <div class="payment_link">
        <div class="page_content">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="logo">

                    </div>
                    <p>
                        Business Owner Registration Form
                    </p>
                    <p>
                        Please enter the required information before proceeding to payment 
                    </p>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-user'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-send'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-phone'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-eye-slash'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi pi-eye-slash'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-building'"
                        >
    
                        </lib-text-input>
                    </div>
                    <div class="form_failed">
                        <lib-select>

                        </lib-select>
                    </div>
                    <div class="form_failed">
                        <lib-text-input
                        [iconUrl]="'pi pi-check-circle'"
                        >
    
                        </lib-text-input>
                    </div>
               

                </div>
                <div class="col-12 md:col-6">
                    <div class="title">
                        invoice
                    </div>
                    <div class="">

                    </div>
                    <div class="card_micro">
                        <lib-button-micro
                        nameClass="save"
                        [title]="'Proceed to Payment'"
                        widthNumber="100%"
                        >

                        </lib-button-micro>
                    </div>
                </div>
            </div>
        </div>
    </div>
