

::ng-deep .bank {
    .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
        border-width: 0 0 1px 1px;
        padding: 12px !important;
        text-align: center;
    }
    margin-top: 20px;
}
.pointer {
    cursor: pointer;
}
    .add_new {
      padding: 20px 0;
      .btn {
        background: none;
        border: none;
        font-size: 16px;
        color: #1a90b0;
        cursor: pointer;
      }
      .Line {
        border-inline-end: 3px solid #dde1e6ed;
      }
    }
    
  