<lib-popup-page
  title="{{ 'Company.Branch.AddNewBranch' | translate }}"
  [closeFunction]="onCancel"
  (Submit)="onSubmit()"
>
  <div>
    <div class="card">
      <form [formGroup]="newBrancheForm" (ngSubmit)="onSubmit()">
        <div class="grid">
          <div class="col-12 md:col-6">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['branchName']">
                {{ 'Company.Branch.BranchName' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="branchName" />
              <lib-field-validations [appControl]="newBrancheForm.controls['branchName']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="col-12 md:col-6">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['countryCode']">
                {{ 'Company.Branch.Country' | translate }}
              </lib-label>
              <lib-selectIcon
                formControlName="countryCode"
                [options]="lookups[LookupEnum.Country]"
                optionValue="id"
                optionLabel="name"
                icons="flags"
              >
              </lib-selectIcon>
              <lib-field-validations [appControl]="newBrancheForm.controls['countryCode']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="col-12 md:col-6">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['branchRegion']">
                {{ 'Company.Branch.BranchRegion' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="branchRegion" />
            </lib-form-group>
          </div>
          <div class="col-12 md:col-6">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['branchCity']">
                {{ 'Company.Branch.BranchCity' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="branchCity" />
            </lib-form-group>
          </div>
          <div class="col-12">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['branchEmail']">
                {{ 'Company.Branch.BranchEmail' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="branchEmail" />
              <lib-field-validations [appControl]="newBrancheForm.controls['branchEmail']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="col-12">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['branchAddress']">
                {{ 'Company.Branch.BranchAddress' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="branchAddress" />
            </lib-form-group>
          </div>

          <div class="col-4">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['mobileNumberCode']">
                {{ 'Company.Branch.MobileNumberCode' | translate }}
              </lib-label>
              <lib-selectIcon
                formControlName="mobileNumberCode"
                optionValue="id"
                [options]="lookups[LookupEnum.MobileCode]"
                optionLabel="name"
                icons="flags"
              >
              </lib-selectIcon>
            </lib-form-group>
          </div>
          <div class="col-8">
            <lib-form-group>
              <lib-label [appControl]="newBrancheForm.controls['mobileNumber']">
                {{ 'Company.Branch.MobileNumber' | translate }}
              </lib-label>
              <lib-text-input type="tel" formControlName="mobileNumber" />
              <lib-field-validations [appControl]="newBrancheForm.controls['mobileNumber']">
              </lib-field-validations>
            </lib-form-group>
          </div>
        </div>
      </form>
    </div>
  </div>
</lib-popup-page>

