<div class="chart_add_page">
  <lib-bread-crumb></lib-bread-crumb>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="md:col-6">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['nameAr']">
            {{ "nameAr" | translate }}
          </lib-label>
          <lib-text-input type="text" formControlName="nameAr" />
          <lib-field-validations [appControl]="formGroup.controls['nameAr']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-6">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['nameEn']">
            {{ "nameEN" | translate }}
          </lib-label>
          <lib-text-input type="text" formControlName="nameEn" />
          <lib-field-validations [appControl]="formGroup.controls['nameEn']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['parentId']">
            {{"Parent Account" | translate}}
          </lib-label>
          <lib-select
            formControlName="parentId"
            [options]="parentAccounts"
            optionValue="id"
            optionLabel="nameAr"
            (valueChanged)="onParentAccountChange($event)"
          >
          </lib-select>
        </lib-form-group>
      </div>
      <div class="md:col-4" *ngIf="hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['accountCode']">
            {{ "Parent Account Code" | translate }}
          </lib-label>
          <lib-text-input [readOnly]="true" type="text" formControlName="accountCode" />
          <lib-field-validations [appControl]="formGroup.controls['accountCode']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-4" *ngIf="hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['levelId']">
            {{ "Parent level" | translate }}
          </lib-label>
          <lib-text-input [readOnly]="true" type="text" formControlName="levelId" />
          <lib-field-validations [appControl]="formGroup.controls['levelId']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-4" *ngIf="!hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['natureId']">
            {{ "Account Nature"| translate }}
          </lib-label>
          <lib-select
            formControlName="natureId"
            [options]="lookups[LookupEnum.AccountNature]"
            optionValue="name"
            optionLabel="name"
            
          >
          </lib-select>
        </lib-form-group>
      </div>
      <div class="md:col-4" *ngIf="hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['natureId']">
            {{ "Account Nature"| translate }}
          </lib-label>
          <lib-text-input
          type="text"
          [readOnly]="true"
          formControlName="natureId"
          >
        </lib-text-input>
        </lib-form-group>
      </div>
      <div class="md:col-4" *ngIf="!hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['accountSectionId']">
            {{"Account Section" | translate}}
          </lib-label>
          <lib-select
            formControlName="accountSectionId"
            [options]="accountSections"
            optionValue="id"
            optionLabel="nameAr"
            (valueChanged)="onAccountSectionChange($event)"
          >
          </lib-select>
        </lib-form-group>
      </div>
      <div class="md:col-4"  *ngIf="hasParentAccount">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['accountSectionName']">
            {{"Account Section" | translate}}
          </lib-label>
          <lib-text-input
            type="text"
            [readOnly]="true"
            formControlName="accountSectionName"
            >
          </lib-text-input>
        </lib-form-group>
      </div>
      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['accountTypeId']">
            {{"Account Type" | translate}}
          </lib-label>
          <lib-select
            formControlName="accountTypeId"
            [options]="accountTypes"
            optionValue="id"
            optionLabel="nameAr"
          >
          </lib-select>
        </lib-form-group>
      </div>
      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['tags']">
            {{ "Tags" | translate }}
          </lib-label>
          <lib-multi-select
            formControlName="tags"
            [options]="accountTags"
            optionValue="id"
            optionLabel="name"
          >
          </lib-multi-select>
        </lib-form-group>
      </div>
      <div class="md:col-4">
        <lib-label [appControl]="formGroup.controls['hasNoChild']">
          {{ "hasNoChild" | translate }}
        </lib-label>
        <div class="checked">
          <p-inputSwitch formControlName="hasNoChild" (onChange)="toggleCurrencyVisibility()"> </p-inputSwitch>
        </div>
      </div>
      <div class="md:col-8">
        <lib-form-group *ngIf="currencyIsVisible">
          <lib-label [appControl]="formGroup.controls['currencyId']">
            {{"Currency" | translate}}
          </lib-label>
          <lib-select
            formControlName="currencyId"
            [options]="currencies"
            optionValue="id"
            optionLabel="currencyName"
          >
          </lib-select>
        </lib-form-group>
      </div>
      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['AccountActivation']">
            {{ "AccountActivation" | translate }}
          </lib-label>
          <br />
          <p-radioButton
            name="AccountActivation"
            value="Active"
            formControlName="AccountActivation"
            inputId="Active"
          >
          </p-radioButton>
          <label>Active</label>

          <p-radioButton
            name="AccountActivation"
            value="Inactive"
            formControlName="AccountActivation"
            inputId="Inactive"
            
          >
          </p-radioButton>
          <label>Inactive</label>
          <p-radioButton
            name="AccountActivation"
            value="Period"
            formControlName="AccountActivation"
            inputId="Period"
          >
          </p-radioButton>
          <label>Periodic Active</label>
          <lib-field-validations
            [appControl]="formGroup.controls['AccountActivation']"
          >
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-6">
        <lib-form-group *ngIf="selectedPeriodOption === 'Period'">
          <lib-label [appControl]="formGroup.controls['periodicActiveFrom']">
            {{ "periodicActiveFrom" | translate }}
          </lib-label>
          <lib-text-input type="date" formControlName="periodicActiveFrom" />
          <lib-field-validations
            [appControl]="formGroup.controls['periodicActiveFrom']"
          >
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="md:col-6">
        <lib-form-group *ngIf="selectedPeriodOption === 'Period'">
          <lib-label [appControl]="formGroup.controls['periodicActiveTo']">
            {{ "periodicActiveTo" | translate }}
          </lib-label>
          <lib-text-input type="date" formControlName="periodicActiveTo" />
          <lib-field-validations
            [appControl]="formGroup.controls['periodicActiveTo']"
          >
          </lib-field-validations>
        </lib-form-group>
      </div>
    </div>
    <div class="grid">
      <div class="md:col-4">
        <div class="btn_group">
         
          <button class="btn save" type="submit" >
              {{"Save" | translate}}
          </button>
      </div>
      </div>
    </div>
  </form>
</div>
