<div class ="plan_page">
    <div class="card-container">
      <div class="card"  *ngFor="let plan of plansList">
        <div class="plan_cover">
    
        </div>
        <div class="plan_description">
          <p class="pi pi-calendar"> <span class="title">End date</span> <span class="date">01 JAN 2024</span> </p>
          <div class="line">
            <div class="line_active">
    
            </div>
          </div>
          <p class="card_name">{{ plan.planName }}</p>
          <p class="card_subdomain">{{ plan.subdomain }}</p>
     
            <div class="btn_manage">
              <button  class="mange user"  type="button" class="btn btn-success" (click)="navigateToManageUser(plan.id)">Manage User</button>
              <button  class="mange"  type="button" class="btn btn-primary" (click)="navigateToManageCompany(plan.id)">Manage Company</button>
            </div>
          
        </div>
       
      </div>
    </div>
</div>