<lib-page-content>
  <lib-data-table
    [items]="tableData"
    className="p-datatable-gridlines"
    [currentPageResult]="currentPageInfo"
    (pageChange)="onPageChange($event)"
    (exportObj)="exportedColumns($event)"
    [tableConfigs]="{
                allowPagination: false,
                allowServerPagination: true,
                dataKey: 'id',
                pageSize: 10,
                columns: [
                   
                   {
                     name: 'fromCurrencyName',
                     headerText: ('currencyConversion.FromCurrency' | translate),
                     isGlobalFilter: true,
                     isSortable: true
                   },
                   {
                     name: 'fromCurrencyRate',
                     headerText: ('currencyConversion.CurrencyRate' | translate),
                     isGlobalFilter: true,
                     isSortable: true
                   },
                 
                   {
                     name: 'toCurrencyName',
                     headerText: ('currencyConversion.ToCurrency' | translate),
                     isSortable: true
                   },
                   {
                     name: 'reversedRate',
                     headerText: ('currencyConversion.ReversedRate' | translate) ,
                     isSortable: true

                   },
                   {
                     name: 'note',
                     headerText: ('currencyConversion.Notes' | translate) ,
                     isSortable: true

                   },
             
                   {
                     name: 'id',
                     headerText: ('currencyConversion.Actions' | translate),
                     template : actions
                   },
                 ]
              }"
  >
    <ng-container caption>
      <div class="group flex justify-content-between">
        <lib-text-input
          type="text"
          [(ngModel)]="searchTerm"
          [placeholder]="'currencyConversion.search' | translate"
          (keyUp)="onSearchChange($event)"
          [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
        >
        </lib-text-input>
        <div class="flex gap-2">
          <lib-export
            (exportClick)="exportClick()"
            [exportData]="exportData"
            [exportColumns]="exportColumns"
            [ExportName]="'Currency Conversion'"
          >
          </lib-export>
          
          <lib-button-micro
            nameClass="save"
            [title]="'currencyConversion.addNew' | translate"
            (click)="addNew()"
            [iconName]="'pi pi-plus'"
          >
          </lib-button-micro>
        </div>
      </div>
    </ng-container>

    <ng-template #actions let-actions>
      <div class="actions flex align-items-center">
        <lib-button-micro nameClass="table_button_edit" (click)="Edit(actions.id)">
        </lib-button-micro>
        <lib-button-micro nameClass="table_button_delete" (click)="onDelete(actions.id)">
        </lib-button-micro>
      </div>
    </ng-template>
  </lib-data-table>
</lib-page-content>
