<lib-page-content [title]="'bank.TaxList' | translate" [subTitle]="'bank.TaxList' | translate">
    <div>
      <div class="user_page">
        <lib-data-table
          [items]="tableData"
          className="p-datatable-gridlines"
          [currentPageResult]="currentPageInfo"
          (pageChange)="onPageChange($event)"
          [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
              {
                name: 'id',
                headerText: ('itemCategory.itemCode' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'nameEn',
                headerText: ('itemCategory.itemName' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'nameAr',
                headerText: ('itemCategory.itemType' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'nameAr',
                headerText: ('itemCategory.uom' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'nameAr',
                headerText: ('itemCategory.barcode' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
  
              {
                name: 'id',
                headerText: ('itemCategory.actions' | translate),
                template: actions
              }
            ]
          }"
        >
          <ng-container caption>
            <div class="">
              <div class="grid">
                <div class="col-3">
                  <lib-form-group>
                    <lib-text-input
                      type="text"
                      [placeholder]="'itemCategory.search' | translate"
                      [(ngModel)]="searchTerm"
                      (keyUp)="onSearchChange()"
                    ></lib-text-input>
                  </lib-form-group>
                </div>
                <!--  -->
                <div class="col-3">
                  <lib-change-column
                    [placeholder]="'itemCategory.ChangeColumn' | translate"
                    [dataTable]="tableData"
                  ></lib-change-column>
                </div>
  
                <div class="col-6 flex gap-2 justify-content-end align-items-center">
                  <div>
                    <lib-button-micro
                      [title]="'itemCategory.Add' | translate"
                      nameClass="save"
                      iconName="pi pi-plus"
                      (click)="onAdd()"
                    >
                    </lib-button-micro>
                  </div>
                  <!--  -->
                  <div>
                    <lib-export
                      (exportClick)="exportClick($event)"
                      [exportData]="exportData"
                      [exportColumns]="exportColumns"
                      [ExportName]="'Item Type'"
                    >
                    </lib-export>
                  </div>
                  <!--  -->
                </div>
              </div>
            </div>
          </ng-container>
  
          <ng-template #actions let-action>
            <div class="actions flex align-items-center">
              <img src="assets/images/table/edit.svg" alt="" (click)="onEdit(action)" />
              <img src="assets/images/table/delete.svg" alt="" (click)="onDelete(action.id)" />
            </div>
          </ng-template>
        </lib-data-table>
      </div>
    </div>
  </lib-page-content>
  