<lib-page-content
  [title]="'stockIn.TaxList' | translate"
  [subTitle]="'stockIn.TaxList' | translate"
>
  <div [formGroup]="stockInForm" class="stockInForm_header card_micro">
    <div class="grid">
      <div class="md:col-2 my-2">
        <lib-label [appControl]="stockInForm.controls['code']">
          {{ 'stockIn.code' | translate }}
        </lib-label>
        <lib-text-input
          placeholder="{{ 'stockIn.code' | translate }}"
          formControlName="code"
          [readOnly]="true"
        ></lib-text-input>
        <lib-field-validations [appControl]="stockInForm.controls['code']"></lib-field-validations>
      </div>
      <div [ariaReadOnly]="true" class="md:col-2 my-2">
        <lib-label [appControl]="stockInForm.controls['receiptDate']">
          {{ 'stockIn.date' | translate }}
        </lib-label>
        <lib-calendar
          [ngClass]="{ 'readonly-calendar': !postedStock }"
          formControlName="receiptDate"
        ></lib-calendar>
        <lib-field-validations
          [appControl]="stockInForm.controls['receiptDate']"
        ></lib-field-validations>
      </div>

      <div class="md:col-2 my-2">
        <lib-label [appControl]="stockInForm.controls['sourceDocumentType']">
          {{ 'stockIn.docType' | translate }}
        </lib-label>
        <lib-select
          formControlName="sourceDocumentType"
          [options]="lookups[LookupEnum.StockInOutSourceDocumentType]!"
          optionValue="id"
          optionLabel="name"
          [selectedValue]="stockInForm.controls['sourceDocumentType'].value"
          [readOnly]="true"
        >
        </lib-select>
        <lib-field-validations
          [appControl]="stockInForm.controls['sourceDocumentType']"
        ></lib-field-validations>
      </div>
      <div class="md:col-3 my-2">
        <lib-label [appControl]="stockInForm.controls['sourceDocumentId']">
          {{ 'stockIn.sourceDoc' | translate }}
        </lib-label>
        <lib-select
          formControlName="sourceDocumentId"
          [options]="oprationalLookup"
          optionValue="id"
          optionLabel="displayName"
          placeholder="{{ 'stockIn.sourceDoc' | translate }}"
          [selectedValue]="stockInForm.controls['sourceDocumentId'].value"
          [readOnly]="!postedStock"
        >
        </lib-select>
        <lib-field-validations
          [appControl]="stockInForm.controls['sourceDocumentId']"
        ></lib-field-validations>
      </div>
      <div class="md:col-3 my-2">
        <lib-label [appControl]="stockInForm.controls['warehouseName']">
          {{ 'stockIn.warehouse' | translate }}
        </lib-label>
        <!-- <lib-select
          formControlName="warehouseName"
          [options]="warhouseLookupData"
          optionValue="id"
          optionLabel="name"
          placeholder="{{ 'stockIn.warehouse' | translate }}"
          [selectedValue]="stockInForm.controls['warehouseName'].value"
        >
        </lib-select> -->
        <lib-text-input
          placeholder="{{ 'stockIn.warehouse' | translate }}"
          formControlName="warehouseName"
          [readOnly]="true"
        ></lib-text-input>
        <lib-field-validations
          [appControl]="stockInForm.controls['warehouseName']"
        ></lib-field-validations>
      </div>
      <div class="md:col-6 my-2">
        <div>
          <lib-label [appControl]="stockInForm.controls['notes']">
            {{ 'stockIn.notes' | translate }}
          </lib-label>
        </div>

        <textarea
          pInputTextarea
          style="width: 100%"
          rows="1"
          formControlName="notes"
          placeholder="{{ 'stockIn.notes' | translate }}"
          [readOnly]="!postedStock"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- <div class="flex justify-content-end gap-4 my-4">
    <lib-button-micro [title]="'stockIn.uploadExcel'|translate" nameClass="outline"
    iconName="pi pi-file-edit" (click)="getExcel()">
  </lib-button-micro>
    <lib-button-micro [title]="'stockIn.scan'|translate" nameClass="outline"
                iconName="pi pi-expand" (click)="scan()">
              </lib-button-micro>
   
  </div> -->

  <div class="my-2">
    <p-table
      [value]="stockIn['controls']"
      dataKey="id"
      styleClass="p-datatable-gridlines p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'stockIn.barcode' | translate }}</th>
          <th>{{ 'stockIn.itemCode' | translate }}</th>
          <th>{{ 'stockIn.itemDescription' | translate }}</th>
          <th>{{ 'stockIn.UOM' | translate }}</th>
          <th>{{ 'stockIn.QTY' | translate }}</th>
          <th>{{ 'stockIn.cost' | translate }}</th>
          <th>{{ 'stockIn.subTotal' | translate }}</th>
          <th>{{ 'stockIn.tracking' | translate }}</th>
          <th>{{ 'stockIn.note' | translate }}</th>
          <th>{{ 'stockIn.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stockInFormGroup let-editing="editing" let-i="rowIndex">
        <tr [formGroup]="stockInFormGroup">
          <td
            [pEditableColumn]="stockInFormGroup.controls['barCode']"
            pEditableColumnField="barCode"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input
                  placeholder="{{ 'stockIn.barcode' | translate }}"
                  formControlName="barCode"
                  [readOnly]="!postedStock"
                  (valueChanged)="barcodeCanged($event, stockInFormGroup)"
                ></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['barCode']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['barCode']"
            ></lib-field-validations>
          </td>
          <!--  -->

          <td
            [pEditableColumn]="stockInFormGroup.controls['itemNumber']"
            pEditableColumnField="itemNumber"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <div class="flex justify-content-center gap-2 align-items-center">
                  <lib-select
                    formControlName="itemNumber"
                    [options]="latestItemsList"
                    optionValue="itemNumber"
                    optionLabel="displayName"
                    placeholder="{{ 'stockIn.itemCode' | translate }}"
                    (valueChanged)="itemChanged($event, stockInFormGroup, false, false)"
                    [readOnly]="dataToReadOnly"
                  >
                  </lib-select>
                  <i class="pi pi-search search-circle" (click)="openDialog(stockInFormGroup)"></i>
                </div>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['itemCodeName']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['itemId']"
            ></lib-field-validations>
          </td>
          <!--  -->
          <td>
            {{ stockInFormGroup.controls['description']?.value }}
          </td>
          <!--  -->
          <!--  -->

          <td [pEditableColumn]="stockInFormGroup.controls['uomId']" pEditableColumnField="uomId">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-select
                  formControlName="uomId"
                  [options]="uomLookup"
                  [readOnly]="!postedStock"
                  optionValue="uomId"
                  [optionLabel]="currentLang == 'en' ? 'uomNameEn' : 'uomNameAr'"
                  placeholder="{{ 'stockIn.UOM' | translate }}"
                  (valueChanged)="uomChanged($event, stockInFormGroup)"
                  [selectedValue]="stockInFormGroup.controls['uomId']?.value"
                ></lib-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['uomName']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['uomId']"
            ></lib-field-validations>
          </td>
          <!--  -->

          <td
            [pEditableColumn]="stockInFormGroup.controls['quantity']"
            pEditableColumnField="quantity"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input
                  type="number"
                  placeholder="{{ 'stockIn.QTY' | translate }}"
                  formControlName="quantity"
                  [readOnly]="!postedStock"
                ></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['quantity']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['quantity']"
            ></lib-field-validations>
          </td>
          <!--  -->

          <td [pEditableColumn]="stockInFormGroup.controls['cost']" pEditableColumnField="cost">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input
                  type="number"
                  placeholder="{{ 'stockIn.cost' | translate }}"
                  formControlName="cost"
                  [readOnly]="!postedStock"
                ></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['cost']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['cost']"
            ></lib-field-validations>
          </td>
          <!--  -->
          <td>
            {{
              stockInFormGroup.controls['quantity']?.value *
                stockInFormGroup.controls['cost']?.value
            }}
          </td>
          <!--  -->
          <td
            [ngClass]="{
              'no-tracking':
                stockInFormGroup.get('trackingType').value ==
                  sharedFinanceEnums.trackingType.NoTracking &&
                stockInFormGroup.get('hasExpiryDate')?.value == false
            }"
          >
            <div class="flex align-content-center gap-3 align-items-center justify-content-between">
              <small
                class="track"
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.NoTracking &&
                  stockInFormGroup.get('hasExpiryDate')?.value == true
                "
              >
                {{
                  stockInFormGroup.get('stockInTracking').get('expireDate')?.value
                    | date : 'dd-MM-yyyy'
                }}
              </small>
              <small
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.NoTracking &&
                  stockInFormGroup.get('hasExpiryDate')?.value == true &&
                  !stockInFormGroup.get('stockInTracking').get('expireDate')?.value
                "
              >
                {{ 'stockIn.Expiry' | translate }}
              </small>

              <!--  -->
              <small
                class="track"
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                  sharedFinanceEnums.trackingType.Serial
                "
                >{{ stockInFormGroup.get('stockInTracking').get('serialId')?.value }}</small
              >
              <!--  -->

              <small
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.Serial &&
                  !stockInFormGroup.get('stockInTracking').get('serialId')?.value
                "
                >{{ stockInFormGroup.get('trackingType').value }}</small
              >

              <small
                class="track"
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                  sharedFinanceEnums.trackingType.Batch
                "
                >{{ stockInFormGroup.get('stockInTracking').get('vendorBatchNo')?.value }}</small
              >

              <small
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.Batch &&
                  !stockInFormGroup.get('stockInTracking').get('vendorBatchNo')?.value
                "
                >{{ stockInFormGroup.get('trackingType').value }}</small
              >

              <lib-button-micro
                [disabled]="postedStock"
                nameClass="{{ postedStock ? 'save' : 'disabled' }}"
                title="{{ 'stockIn.setTracking' | translate }}"
                nameClass="save"
                widthNumber="100%"
                [class.hide]="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.NoTracking &&
                  stockInFormGroup.get('hasExpiryDate')?.value == false
                "
                (click)="setTracking(stockInFormGroup)"
                [disabled]="
                  (stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.NoTracking &&
                    stockInFormGroup.get('hasExpiryDate')?.value == false) ||
                  !stockInFormGroup.get('itemId').value
                "
              >
              </lib-button-micro>

              <small
                class="track m-auto"
                *ngIf="
                  stockInFormGroup.get('trackingType').value ==
                    sharedFinanceEnums.trackingType.NoTracking &&
                  stockInFormGroup.get('hasExpiryDate')?.value == false
                "
                >{{ 'stockIn.noTracking' | translate }}</small
              >
            </div>
            <div class="flex justify-content-center mt-2">
              <!-- <small
                class="danger"
                *ngIf="
                  stockInFormGroup.get('stockInTracking').get('expireDate').hasError('required') ||
                  stockInFormGroup
                    .get('stockInTracking')
                    .get('vendorBatchNo')
                    .hasError('required') ||
                  stockInFormGroup.get('stockInTracking').get('serialId').hasError('required')
                "
                >{{ 'stockIn.required' | translate }}</small
              > -->
              <small *ngFor="let elem of errorsArray">
                <small *ngIf="elem.line == i && !stockInFormGroup.valid" class="danger">{{ 'stockIn.required' | translate }}</small>  
                </small>
            </div>

        
          </td>
          <!--  -->
          <td [pEditableColumn]="stockInFormGroup.controls['notes']" pEditableColumnField="notes">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input
                  placeholder="{{ 'stockIn.note' | translate }}"
                  formControlName="notes"
                  [readOnly]="!postedStock"
                ></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockInFormGroup.controls['notes']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockInFormGroup.controls['notes']"
            ></lib-field-validations>
          </td>
          <td>
            <lib-button-micro
              *ngIf="stockInFormGroup.controls['id'].value"
              nameClass="table_button_delete"
              (click)="OnDelete(stockInFormGroup.controls['id'].value)"
            >
            </lib-button-micro>
            <lib-button-micro
              *ngIf="!stockInFormGroup.controls['id'].value"
              nameClass="table_button_delete"
              (click)="deleteIndex(i)"
            >
            </lib-button-micro>
          </td>
          <!--  -->
        </tr>
      </ng-template>
    </p-table>
    <div class="add_new flex justify-content-start">
      <lib-button
        (onClick)="addLineStockIn()"
        className="outline-primary"
        [disabled]="!postedStock"
      >
        {{ 'itemType.add_new' | translate }}
      </lib-button>
    </div>
  </div>

  <div class="grid">
    <div class="md:col-12 my-3 grid flex justify-content-end">
      <div class="md:col-6 grid flex justify-content-end">
        <div class="md:col-3">
          <lib-button-micro
            title="{{ 'cancel' | translate }}"
            nameClass="cancel"
            widthNumber="100%"
            (click)="onCancel()"
          >
          </lib-button-micro>
        </div>
        <div class="md:col-3" *ngIf="postedStock">
          <lib-button-micro
            title="{{ 'Save' | translate }}"
            [disabled]="dataToReadOnly"
            nameClass="{{ !dataToReadOnly ? 'save' : 'disabled' }}"
            widthNumber="100%"
            (click)="onSave()"
          >
          </lib-button-micro>
        </div>
        <ng-container *ngIf="postedStock">
          <div class="md:col-3" *ngIf="dataToReadOnly">
            <lib-button-micro
              [disabled]="!dataToReadOnly"
              nameClass="{{ dataToReadOnly ? 'save' : 'disabled' }}"
              title="{{ 'stockIn.Post' | translate }}"
              nameClass="save"
              widthNumber="100%"
              (click)="onPost()"
            >
            </lib-button-micro>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</lib-page-content>
