<lib-page-content [title]="'tag.taglist' | translate" [subTitle]="'tag.taglist' | translate">
    <div>
        <lib-bread-crumb></lib-bread-crumb>
        <div class="user_page">
          <lib-data-table
            [items]="tableData"
            className="p-datatable-gridlines"
            [currentPageResult]="currentPageInfo"
            (pageChange)="onPageChange($event)"
            [tableConfigs]="{
              allowPagination: false,
              allowServerPagination: true,
              dataKey: 'id',
              pageSize: 10,
              columns: [
                 
                 {
                   name: 'code',
                   headerText: ('vendorCategory.categoryCode' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
                 {
                   name: 'name',
                   headerText: ('vendorCategory.categoryName' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
               
                 {
                   name: 'receivableAccountName',
                   headerText: ('vendorCategory.recievableGlAccount' | translate),
                 },
                 {
                   name: 'salesAccountName',
                   headerText: ('vendorCategory.salesGlAccount' | translate) ,
                 },
               
                 {
                   name: 'salesReturnAccountName',
                   headerText: ('vendorCategory.salesReturnGlAccount' | translate),

                 },
                 {
                   name: 'discountAccountName',
                   headerText: ('vendorCategory.discountGlAccount' | translate),

                 },
                 {
                   name: 'priceListName',
                   headerText: ('vendorCategory.priceList' | translate),

                 },
                 {
                   name: 'paymentTermName',
                   headerText: ('vendorCategory.paymentTerms' | translate),

                 },
                 {
                   name: 'marketTypeName',
                   headerText: ('vendorCategory.marketType' | translate),

                 },
                 {
                   name: 'id',
                   headerText: ('vendorCategory.actions' | translate),
                   template : actions
                 },
               ]
            }"
          >
            <ng-container caption>
              <div class="group flex justify-content-between">
                <div>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (keyup)="onSearchChange($event)"  data-testid="search" />
                  </span>
                </div>
      
            
                <div>
                     <lib-button pRipple className="addToList" label="Add" (onClick)="routeToAdd()">
                </lib-button> 
                  
                </div>

                <lib-export
                (exportClick)="exportCustomerCategoriesData($event)"
                [exportData]="tableData"
                [exportColumns]="exportColumns"
                [ExportName]="'Customer Cateogries'"
              >
              </lib-export>
              </div>
            </ng-container>
        
            <ng-template #actions let-actions>
              <div class="actions flex align-items-center gap-4">
              <i class="pi pi-pencil pointer" (click)="routeToEdit(actions.id)"></i>
              <i class="pi pi-trash pointer" (click)="onDelete(actions.id)"></i>
              </div>
            </ng-template>

           
          </lib-data-table>
        </div>
      </div>
  </lib-page-content>



  
  