<div class="journal_entry_add_page">
    <lib-bread-crumb></lib-bread-crumb>
    <div [formGroup]="fg" class="entry_header">
        <p class="title test">Please Enter journal entry Header</p>
        <div class="grid">
            <div class="col-12 md:col-3 ">
                <lib-text-input  placeholder="Reference Number" [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'" formControlName="refrenceNumber">

                </lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <lib-text-input placeholder="Journal Date" type="date" formControlName="journalDate"></lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <lib-text-input placeholder="Journal Period" formControlName="periodName" [readOnly]="true">
                </lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <button>upload attachment</button>
            </div>
            <div class="col-12 md:col-12 ">
                <lib-text-input placeholder="Description" formControlName="description"></lib-text-input>
            </div>
        </div>
        <div>
            Attachments
            <button (click)="addAttachment()">add</button>
            <ul>
                <li *ngFor="let item of attachments.controls">
                    <lib-named-file-uploader></lib-named-file-uploader>
                </li>
            </ul>
        </div>
    </div>
    <div class="entry_table">
        <div class="card">
            <p-table [value]="things" dataKey="id" styleClass="p-datatable-gridlines p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Acc. Code</th>
                        <th>Acc. Name</th>
                        <th>Line Description</th>
                        <th>DB Amount</th>
                        <th>CR Amount</th>
                        <th>Currency</th>
                        <th>Rate</th>
                        <th>DB Amount Local</th>
                        <th>CR Amount Local</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing"> 
                    <tr>
                        <td>{{item.id}}</td>
                        <td [pEditableColumn]="item.accountId" pEditableColumnField="accountId">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-autoComplete [(ngModel)]="item.account" (onSelect)="accountSelected($event)" [forceSelection]="true" [suggestions]="filteredAccounts" (completeMethod)="filterAccount($event)" field="nameEn"></p-autoComplete>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.account?.accountCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{ item.account?.nameEn }}
                        </td>
                        <td [pEditableColumn]="item.lineDescription" pEditableColumnField="lineDescription">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="item.lineDescription" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.lineDescription }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td [pEditableColumn]="item.debitAmount" pEditableColumnField="debitAmount">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="item.debitAmount" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.debitAmount }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td [pEditableColumn]="item.creditAmount" pEditableColumnField="creditAmount">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="item.creditAmount" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.creditAmount }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td [pEditableColumn]="item.currency" pEditableColumnField="currency">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-autoComplete [(ngModel)]="item.currency" [forceSelection]="true" [suggestions]="fitleredCurrencies" (completeMethod)="filterCurrency($event)" field="currencyName"></p-autoComplete>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.currency?.currencyName }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td [pEditableColumn]="item.rate" pEditableColumnField="rate">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="item.rate" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.rate }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            {{ item.debitAmountLocal}}
                        </td>

                        <td>
                            {{ item.creditAmountLocal }}
                        </td>
                    </tr>
                </ng-template>

                <!-- <ng-template pTemplate="body" let-item  let-editing="editing"> 
                    <tr>
                        <td>{{item.get('id').value}}</td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="accountId" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.author }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="product.name" pEditableColumnField="name">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.name" required />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="product.year" pEditableColumnField="year">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="product.year" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.year }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                    </tr>
                </ng-template> -->
            </p-table>
        </div>
        <div class="add_new">
            <button class="btn Line" (click)="addThing()">
                Add New Line
            </button>
            <button class="btn" (click)="RedirectToTemplate()">
                Add Template
            </button>
            <button (click)="test()">test</button>
        </div>
        <div class="paginator">
            <lib-paginator
            [totalRecords]="50"
            [first]="0"
            [rows]="10"
            ></lib-paginator>
        </div>

        <div class="btn_group">
            <button class="btn discard">
                discard
            </button>
            <button class="btn save" (click)="save()">
                Save
            </button>
        </div>
    </div>

</div>