// Font Family
// =====================================Poppins==========================================
$cairo_black: 'cairo_black';
$cairo_black_italic: 'cairo_black_italic';
$cairo_bold: 'cairo_bold';
$cairo_bold_italic: 'cairo_bold_italic';
$cairo_extra_bold: 'cairo_extra_bold';
$cairo_extra_bold_italic: 'cairo_extra_bold_italic';
$cairo_extra_light: 'cairo_extra_light';
$cairo_extra_light_italic: 'cairo_extra_light_italic';
$cairo_italic: 'cairo_italic';
$cairo_light: 'cairo_light';
$cairo_light_italic: 'cairo_light_italic';
$cairo_medium: 'cairo_medium';
$cairo_medium_italic: 'cairo_medium_italic';
$cairo_regular: 'cairo_regular';
$cairo_semi_bold: 'cairo_semi_bold';
$cairo_semi_bold_italic: 'cairo_semi_bold_italic';
$cairo_thin: 'cairo_thin';
$cairo_thin_italic: 'cairo_thin_italic';