// Font Family
// =====================================Poppins==========================================
$poppins_black: 'poppins_black';
$poppins_black_italic: 'poppins_black_italic';
$poppins_bold: 'poppins_bold';
$poppins_bold_italic: 'poppins_bold_italic';
$poppins_extra_bold: 'poppins_extra_bold';
$poppins_extra_bold_italic: 'poppins_extra_bold_italic';
$poppins_extra_light: 'poppins_extra_light';
$poppins_extra_light_italic: 'poppins_extra_light_italic';
$poppins_italic: 'poppins_italic';
$poppins_light: 'poppins_light';
$poppins_light_italic: 'poppins_light_italic';
$poppins_medium: 'poppins_medium';
$poppins_medium_italic: 'poppins_medium_italic';
$poppins_regular: 'poppins_regular';
$poppins_semi_bold: 'poppins_semi_bold';
$poppins_semi_bold_italic: 'poppins_semi_bold_italic';
$poppins_thin: 'poppins_thin';
$poppins_thin_italic: 'poppins_thin_italic';