<lib-page-content
  [title]="'actions.TaxList' | translate"
  [subTitle]="'attributeDefinitionTaxList' | translate"
>

  <div class="entry_table">
    <div class="card " style="margin-top: 0!important;">
      <p-table
        [value]="attrTableForm.controls"
        dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'actions.name' | translate }}</th>
            <th>{{ 'actions.state' | translate }}</th>
            <th>{{ 'actions.conditionExpression' | translate }}</th>

            <!-- <th>{{ 'actions.actions' | translate }}</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-attrTableForm let-i="rowIndex">
          <tr [formGroup]="attrTableForm">
            <!--  name in arabic-->
            <td [pEditableColumn]="attrTableForm.controls['name']" pEditableColumnField="name">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'actions.name' | translate }}"
                    formControlName="name"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ attrTableForm.controls['name'].value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="attrTableForm.controls['name']"
              ></lib-field-validations>
            </td>
            <!--  -->
            <td
              [pEditableColumn]="attrTableForm.controls['toStateId']"
              pEditableColumnField="attrTableForm.controls['toStateId']"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div class="flex gap-2 align-items-center">
                    <lib-form-group>
                      <lib-select
                        formControlName="toStateId"
                        [options]="statusDropdown"
                        optionValue="id"
                        optionLabel="name"
                        placeholder="{{ 'bank.toStateId' | translate }}"
                        (valueChanged)="displayState($event, attrTableForm)"
                        [selectedValue]="attrTableForm?.controls['toStateId']?.value"
                      >
                      </lib-select>
                    </lib-form-group>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ attrTableForm.controls['toStateIdName']?.value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="attrTableForm.controls['toStateId']"
              ></lib-field-validations>
            </td>
            <!-- condition exprition -->
            <td
              [pEditableColumn]="attrTableForm.controls['conditionExpression']"
              pEditableColumnField="conditionExpression"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'actions.conditionExpression' | translate }}"
                    formControlName="conditionExpression"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ attrTableForm.controls['conditionExpression'].value }}
                </ng-template>
              </p-cellEditor>
            </td>

            <!-- <td>
              <div class="actions flex align-items-center">
                <lib-button-micro
                  nameClass="cancel"
                  iconName="pi pi-trash"
                  type="button"
                  (click)="deleteLine(i)"
                >
                </lib-button-micro>

                <lib-button-micro
                  nameClass="save"
                  iconName="pi pi-save"
                  type="button"
                  (click)="onSave(attrTableForm.value)"
                >
                </lib-button-micro>
              </div>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
      <div class="btn_group">
        <div class="grid mt-2">
          <div class="md:col-6">
            <div class="grid">
              <div class="md:col-6">
                <lib-button-micro
                  nameClass="cancel"
                  title="{{ 'action.cancel' | translate }}"
                  (click)="discard()"
                  widthNumber="100%"
                >
                </lib-button-micro>
              </div>
              <div class="md:col-6">
                <lib-button-micro
                  nameClass="save"
                  title="{{ 'action.save' | translate }}"
                  (click)="onSave(attrTableForm.value)"
                  widthNumber="100%"
                >
                </lib-button-micro>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</lib-page-content>
