.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
    .btn_icon {
      margin-inline-end: 5px;
    }
    .icon_btn {
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      //color: #1a90b0;
      border-radius: 8px;
      margin-inline-start: 5px;
      background-color: #fff;
      color: #1a90b0;
      &:hover {
        background-color: #1a90b0;
        color: #fff;
      }
    }
    .active {
      background-color: #1a90b0;
      color: #fff;
    }
  }
  .page_content_header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
  }
  