.divCont{
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 9px;
    font-weight: bold;
    width: 177px;
    background-color: #f7f7f7;

}
.floated {
    position: relative;
    top: -22px;
    height: 1px;
    left: 5px;
}
.card {
    background: #fff;
    padding: 15px;
}