<lib-popup-page
  title="{{ 'Tax.AddTaxDefinition' | translate }}"
  [closeFunction]="close"
  (Submit)="onSubmit()"
>
  <div>
    <form [formGroup]="addForm">
      <div class="grid m-0">
        <!-- Input Text: Code -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['code']">
              Code
            </lib-label>
            <lib-text-input type="text" formControlName="code" [readOnly]="true" placeholder="Auto from seq."/>
            <!-- <lib-field-validations [appControl]="addForm.controls['code']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Calendar: Date -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['journalDate']">
              Date
            </lib-label>
            <lib-calendar formControlName="journalDate" placeholder="01/05/1990"></lib-calendar>
            <!-- <lib-field-validations [appControl]="addForm.controls['journalDate']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Description -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['description']">
              Description
            </lib-label>
            <lib-text-input type="text" formControlName="description" placeholder="max 50 char."/>
            <!-- <lib-field-validations [appControl]="addForm.controls['description']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Dropdown: Payment Hub -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['paymentHubId']">
              PaymentHub
            </lib-label>
            <lib-select
              formControlName="paymentHubId"
              [options]="paymentHubs"
              optionValue="id"
              optionLabel="name">
            </lib-select>
            <!-- <lib-field-validations [appControl]="addForm.controls['paymentHubId']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Payment Hub Details -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['paymentHubDetails']">
              PaymentHubDetails
            </lib-label>
            <lib-select
              formControlName="paymentHubDetails"
              [options]="paymentHubs"
              optionValue="id"
              optionLabel="name">
            </lib-select>
            <!-- <lib-field-validations [appControl]="addForm.controls['paymentHubDetails']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Dropdown: Bank Account -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['bankAccountId']">
              BankAccount
            </lib-label>
            <lib-select
              formControlName="bankAccountId"
              [options]="bankAccounts"
              optionValue="id"
              optionLabel="name">
            </lib-select>
            <!-- <lib-field-validations [appControl]="addForm.controls['bankAccountId']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Currency -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['currency']">
              Currency
            </lib-label>
            <lib-text-input type="text" formControlName="currency" placeholder="auto display" />
            <!-- <lib-field-validations [appControl]="addForm.controls['currency']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Rate -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['rate']">
              Rate
            </lib-label>
            <lib-text-input type="number" formControlName="rate" placeholder="Number "/>
            <!-- <lib-field-validations [appControl]="addForm.controls['rate']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Source Document -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['sourceDocument']">
              SourceDocument
            </lib-label>
            <lib-text-input type="text" formControlName="sourceDocument" placeholder="display code of source docume" />
            <!-- <lib-field-validations [appControl]="addForm.controls['sourceDocument']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
  
        <!-- Input Text: Created Journal -->
        <div class="md:col-4">
          <lib-form-group>
            <lib-label [appControl]="addForm.controls['createdJournal']">
              CreatedJournal
            </lib-label>
            <lib-text-input type="text" formControlName="createdJournal" placeholder="display code of created journal"/>
            <!-- <lib-field-validations [appControl]="addForm.controls['createdJournal']">
            </lib-field-validations> -->
          </lib-form-group>
        </div>
      </div>

      <div class="grid">
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                current balance
              </lib-label>
              <lib-text-input type="text" formControlName="code" [readOnly]="true" placeholder="display payment type details"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                total received amount
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="auto display 7000"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                new balance
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="auto = curr. bal + tot. rec. amo."/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
      </div>
    </form>



    <form [formGroup]="addForm">
      <div class="grid">
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                commission amount 
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="000"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                vat amount  
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="000"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                bank reference   
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="text up to 25"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
      </div>
    </form>



    <form [formGroup]="addForm">
      <div class="grid">
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                Check number 
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="000"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                Check due dat  
              </lib-label>
              <lib-calendar formControlName="journalDate" placeholder="01/05/1990"></lib-calendar>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                bank reference   
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="text up to 25"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
      </div>
    </form>




    <form [formGroup]="addForm">
      <div class="grid">
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                bank reference   
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="text up to 25"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
      </div>
    </form>



    <form [formGroup]="addForm">
      <div class="grid">
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['code']">
                bank reference   
              </lib-label>
              <lib-text-input type="text" formControlName="code"  placeholder="text up to 25"/>
              <!-- <lib-field-validations [appControl]="addForm.controls['code']">
              </lib-field-validations> -->
            </lib-form-group>
          </div>
      </div>
    </form>


  </div>
</lib-popup-page>
