<lib-page-content>
  <div class="plan_header">
    <button class="btn btn_app" type="button">
      <span class="icon pi pi-plus"></span>
      Add App
    </button>
    <button class="btn" type="button" (click)="openSubdomainModal()">
      <span class="icon pi pi-plus"></span>
      Add domain space
    </button>
  </div>
  <div class="plan_page">
    <div class="card-container grid">
      <div class="card col-12 md:col-6" *ngFor="let l of List">
        <div class="card_header">
          <div class="supdomain">Subdomain microtec.Com.sa</div>
          <div class="date">
            <p class="expire">Expire</p>
            <p class="expire_date">31 / 12 / 2024</p>
          </div>
        </div>

        <div class="card_contant">
          <div class="plan_cover"></div>
          <div class="plan_description">
            <div class="btn_manage">
              <button
                class="mange user"
                type="button"
                class="btn btn-success"
                (click)="navigateToManageUser(l.id)"
              >
                <span class="pi pi-users icon_btn"></span>
                Manage User
              </button>
              <button
                class="mange"
                type="button"
                class="btn btn-primary"
                (click)="navigateToManageCompany(l.id)"
              >
                <span class="pi pi-building icon_btn"></span>
                Manage Companies
              </button>
              <button class="mange" type="button" class="btn btn-primary">
                <span class="pi pi-refresh icon_btn"></span>
                renew
              </button>
            </div>
            <div class="mange_app">
              <button
                class="mange"
                type="button"
                class="btn btn-primary"
                (click)="navigateToManageApp(l.id)"
              >
                <span class="pi pi-building icon_btn"></span>
                Manage aPP
              </button>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</lib-page-content>
