<lib-data-table [items]="items" className="p-datatable-gridlines" [currentPageResult]="paging" *ngIf="paging"
    (pageChange)="onPageChange($event)" [tableConfigs]="{        
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'id',
            headerText: ('Id'),
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountCode',
            headerText: 'Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'name',
            headerText: ('Account Name'),
            template: nameCol
          },
          {
            name: 'mainType',
            headerText: 'Main Type',
            isGlobalFilter: true,
            isSortable: true
          },
        ]
    }">

    <ng-container caption>
        <div class="group">
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText  [(ngModel)]="searchTerm" type="text" placeholder="Search..." />
                </span>
                <button (click)="onSearch()">Search</button>
            </div>

            <!-- <lib-button pRipple className="add_new" label="Add New" icon="pi pi-plus">
          </lib-button> -->
            <div>
                <button class="add_new export">
                    <span class="pi pi-file"></span>
                    Export
                </button>
            </div>
        </div>
    </ng-container>

    <ng-template #nameCol let-account>
        {{lang.includes('ar') ? account.nameAr : account.nameEn}}
    </ng-template>
</lib-data-table>