<lib-page-content [title]="'warehouse.warehouse' | translate" [subTitle]="'warehouse.warehouse' | translate">
    <div>
      <div class="user_page">
        <lib-data-table
        *ngIf="tableData.length>0"
          [items]="tableData"
          className="p-datatable-gridlines"
          [currentPageResult]="currentPageInfo"
          (pageChange)="onPageChange($event)"
          (exportObj)="exportedColumns($event)"
          [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
              {
                name: 'code',
                headerText: ('warehouse.code' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'name',
                headerText: ('warehouse.name' | translate),
                isGlobalFilter: true,
                isSortable: true
              },


              {
                name: 'warehouseType',
                headerText: ('warehouse.warehouseType' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'id',
                headerText: ('warehouse.actions' | translate),
                template: actions
              }
            ]
          }"
        >








          <ng-container search>
            <lib-form-group>
              <lib-text-input
              type="text"
              [placeholder]="'warehouse.search' | translate"
              [(ngModel)]="searchTerm"
              (keyUp)="onSearchChange($event)"
            ></lib-text-input>
            </lib-form-group>
            </ng-container>
          <ng-container action>

            <div>
              <lib-export
              (exportClick)="exportClick()"
              [exportData]="exportData"
              [exportColumns]="exportColumns"
              [ExportName]="'Warehouse'"
            >
            </lib-export>
            </div>
            <!--  -->
            <div>
              <lib-button-micro
              [title]="'create' | translate"
              nameClass="save"
              iconName="pi pi-plus"
              (click)="onAdd()"
            >
            </lib-button-micro>
            </div>
            </ng-container>










          <ng-template #actions let-action>
            <div class="actions flex align-items-center">
              <img src="assets/images/table/edit.svg" alt="" (click)="onEdit(action)" />
              <img src="assets/images/table/delete.svg" alt="" (click)="onDelete(action.id)" />
            </div>
          </ng-template>
        </lib-data-table>
      </div>
    </div>
  </lib-page-content>
