<lib-page-content [title]="'tag.taglist' | translate" [subTitle]="'tag.taglist' | translate">
  <div>
    <div class="user_page">
      <lib-data-table
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        (addNew)="addNew($event)"
        (exportObj)="exportedColumns($event)"
        [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
         
            {
              name: 'code',
              headerText: ('tag.code' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'name',
              headerText: ('tag.Name' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'modules',
              headerText: ('tag.Modules' | translate),
            },
            {
              name: 'isActive',
              headerText: ('tag.status' | translate),
              isSortable: true,
              template: status
            },
            {
              name: 'id',
              headerText: ('tag.Actions' | translate),
              template: userCol
            }
          ]
        }"
      >
        <ng-container caption>
          <div class="group flex justify-content-between">
            <div>
              <lib-text-input
              type="text"
              [(ngModel)]="searchTerm"
              [placeholder]="'tag.Search' | translate"
              (keyUp)="onSearchChange($event)"
              [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
            >
            </lib-text-input>
            </div>
            <div class="flex gap-2">
              <lib-export
                (exportClick)="exportTagData()"
                [exportData]="exportData"
                [exportColumns]="exportColumns"
                [ExportName]="'Tag'"
              >
              </lib-export>
              
              <lib-button-micro
              nameClass="save"
              [title]="'tag.AddNew' | translate"
              (click)="newTag()"
              [iconName]="'pi pi-plus'"
            >
            </lib-button-micro>
            </div>
          </div>
        </ng-container>

        <ng-template #userCol let-tag>
          <div class="actions flex align-items-center">
            <lib-button-micro
            nameClass="table_button_edit"
            (click)="routeToEdit(tag)" >

            </lib-button-micro>
            <lib-button-micro
            nameClass="table_button_delete"
            (click)="Delete(tag.id)"
            >
            </lib-button-micro>
          </div>
        </ng-template>

        <ng-template #status let-tag>
          <div >
            <lib-input-switch [disabled]="true" (onChange)="changed($event, tag.id)" [(ngModel)]="tag.isActive">
            </lib-input-switch>
          </div>
        </ng-template>

        <ng-template #Modules let-tag>
          <div class="flex">
            <p>
              {{ viewModulesName(tag.modulesId) }}
            </p>
          </div>

          <!-- <lib-multi-select
            [options]="modulelist"
            optionLabel="module"
            optionValue="moduleId"
            [selectedValue]="tag.modulesId"
            [readOnly]="true"
            [disabled]="true"
          >
          </lib-multi-select> -->
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
