<div class="chart_add_page">
  <form [formGroup]="formGroup">
    <div class="gird">
      <lib-fildest header="{{ 'itemsCategory.Main' | translate }}" class="md:col-12">
        <div class="grid">
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['code']">
                {{ 'itemsCategory.categoryCode' | translate }}
              </lib-label>
              <lib-text-input [readOnly]="true" formControlName="code"> </lib-text-input>
            </lib-form-group>
          </div>
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['nameEn']">
                {{ 'itemsCategory.nameEn' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="nameEn" />
              <lib-field-validations [appControl]="formGroup.controls['nameEn']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['nameAr']">
                {{ 'itemsCategory.nameAr' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="nameAr" />
              <lib-field-validations [appControl]="formGroup.controls['nameAr']">
              </lib-field-validations>
            </lib-form-group>
          </div>
        </div>
      </lib-fildest>

      <lib-fildest header="{{ 'itemsCategory.parentCategory' | translate }}" class="md:col-12">
        <div class="grid">
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['parentCategoryId']">
                {{ 'itemsCategory.parentCategory' | translate }}
              </lib-label>
              <lib-select
                formControlName="parentCategoryId"
                [options]="parentCategoryList"
                optionValue="id"
                optionLabel="name"
                [selectedValue]="formGroup.controls['parentCategoryId'].value"
                (valueChanged)="onParentAccountChange($event)"
              >
              </lib-select>

              <lib-field-validations [appControl]="formGroup.controls['parentCategoryId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="md:col-6 flex gap-2 align-items-center">
            <lib-label [appControl]="formGroup.controls['isDetailed']">
              {{ 'itemsCategory.isDetails' | translate }}
            </lib-label>
            <lib-input-switch formControlName="isDetailed"> </lib-input-switch>
          </div>
          <div class="md:col-12" *ngIf="showCategory">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['categoryType']">
                {{ 'itemsCategory.categoryType' | translate }}
              </lib-label>
              <lib-select
                formControlName="categoryType"
                [options]="categoryType"
                optionValue="value"
                [selectedValue]="selectValue ? formGroup.controls['categoryType'].value : null"
                optionLabel="label"
              >
              </lib-select>
              <lib-field-validations [appControl]="formGroup.controls['categoryType']">
              </lib-field-validations>
            </lib-form-group>
          </div>
        </div>
      </lib-fildest>
    </div>
    <p-tabView *ngIf="showCategory"  >
      <p-tabPanel header="{{ 'warehouse.account' | translate }}">
        <div class="grid">
     
          <!--purchaseAccountId  -->
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['purchaseAccountId']">
                {{ 'warehouse.purchaseAccount' | translate }}
              </lib-label>
              <lib-select
                placeholder="{{ 'warehouse.purchaseAccount' | translate }}"
                [options]="AccountsDropDownLookup"
                optionLabel="name"
                optionValue="id"
                formControlName="purchaseAccountId"
              ></lib-select>
              <lib-field-validations [appControl]="formGroup.controls['purchaseAccountId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <!--  costOfGoodSoldAccountId-->
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['costOfGoodSoldAccountId']">
                {{ 'warehouse.costOfGoodsSold' | translate }}
              </lib-label>
              <lib-select
                placeholder="{{ 'warehouse.costOfGoodsSold' | translate }}"
                [options]="AccountsDropDownLookup"
                optionLabel="name"
                optionValue="id"
                formControlName="costOfGoodSoldAccountId"
              ></lib-select>
              <lib-field-validations [appControl]="formGroup.controls['costOfGoodSoldAccountId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
     
        </div>
      </p-tabPanel>
    </p-tabView>
  </form>

  <div class="btn_group">
    <div class="grid">
      <div class="md:col-6">
        <div class="grid">
          <div class="md:col-6">
            <lib-button-micro
              nameClass="cancel"
              title="{{ 'itemsCategory.cancel' | translate }}"
              (click)="cancel()"
              widthNumber="100%"
            >
            </lib-button-micro>
          </div>
          <div class="md:col-6">
            <lib-button-micro
              nameClass="save"
              title="{{ 'itemsCategory.save' | translate }}"
              (click)="onSubmit()"
              widthNumber="100%"
            >
            </lib-button-micro>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action"></div>
</div>
