<lib-page-content>
    <div>
        <div class="user_page">
            <lib-data-table (addNew)="onAdd()" [sequence]="true"
            [items]="tableData" className="p-datatable-gridlines"
                [currentPageResult]="currentPageInfo" (exportObj)="exportedColumns($event)"
                (pageChange)="onPageChange($event)" [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
              {
                name: 'code',
                headerText: ('stockOut.code' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'receiptDate',
                headerText: ('stockOut.date' | translate),
                template: date

              },
              {
                name: 'notes',
                headerText: ('stockOut.description' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'sourceDocumentId',
                headerText: ('stockOut.sourceDoc' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'warehouseName',
                headerText: ('stockOut.warehouse' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'stockOutStatus',
                headerText: ('stockOut.status' | translate),
                template: status

              },
              {
                name: 'journalCode',
                headerText: ('stockOut.journalCode' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'isReserved',
                headerText: ('stockOut.reserve' | translate),
                template: Reserved
              },
              {
                name: 'id',
                headerText: ('stockOut.actions' | translate),
                template: actions

              },



            ]
          }">
                <ng-container search>
                    <lib-text-input type="text" [placeholder]="'stockOut.search' | translate" [(ngModel)]="searchTerm"
                        (keyUp)="onSearchChange()"></lib-text-input>
                </ng-container>
                <ng-container action>

                    <lib-export (exportClick)="exportClick()" [exportData]="exportData" [exportColumns]="exportColumns"
                        [ExportName]="'Item Definition'">
                    </lib-export>
                    <lib-button-micro [title]="'stockOut.Add' | translate" nameClass="save" iconName="pi pi-plus"
                        (click)="onAdd()">
                    </lib-button-micro>
                </ng-container>



                <ng-template #actions let-action>
                    <div class="actions flex align-items-center">


                        <lib-button-micro nameClass="table_button_view" (click)="onVeiw(action.id)">
                        </lib-button-micro>
                        <lib-button-micro nameClass="table_button_edit" (click)="onEdit(action)" *ngIf=" action.stockOutStatus != sharedFinanceEnums.stockOutStatus.Posted">
                        </lib-button-micro>
                        <lib-button-micro nameClass="table_button_delete" (click)="onDelete(action.id)" *ngIf=" action.stockOutStatus != sharedFinanceEnums.stockOutStatus.Posted">
                        </lib-button-micro>
                    </div>
                </ng-template>
                <ng-template #Reserved let-reserved>
                    <div class="actions flex align-items-center justify-content-center">
                        <lib-input-switch
                        [disabled]="true"
                         [(ngModel)]="reserved.isReserved"
                        >

                        </lib-input-switch>
                        <p *ngIf="!reserved.isReserved">{{'stockOut.btnReserve' |translate}}</p>
                        <p *ngIf="reserved.isReserved" >{{'stockOut.btnReserved' |translate}}</p>




                    </div>
                </ng-template>
                <ng-template #date let-date>
                    <p>
                        <span class=" pi pi-calendar"></span>
                        {{date.receiptDate| date : 'dd/MM/yyyy'}}
                    </p>
                </ng-template>
                <ng-template #status let-status>
                  <p class="btn_stock body_B13" [ngClass]="{
                    'Draft': status.stockOutStatus== sharedFinanceEnums.stockOutStatus.Draft,
                    'save': status.stockOutStatus== sharedFinanceEnums.stockOutStatus.Saved,
                    'post': status.stockOutStatus== sharedFinanceEnums.stockOutStatus.Posted
                }">
                    {{status.stockOutStatus}}
                </p>
                </ng-template>
            </lib-data-table>
        </div>
    </div>
</lib-page-content>
