<lib-page-content>
  <lib-bread-crumb>
    <div class="actions">
      <lib-button-micro
        title="Configration"
        nameClass="save"
        (click)="RedirectToConfiguration()"
        *ngIf="!Viewlist"
        style="width: 100%"
      >
      </lib-button-micro>
      <button class="btn import">
        <i class="btn_icon pi pi-cloud-download"></i>
        import
      </button>
      <button class="btn save" *ngIf="!Viewlist && view" (click)="editMode()">
        <i class="btn_icon pi pi-user-edit"></i>
        Edit
      </button>
      <button class="btn save" *ngIf="(!Viewlist && edit) || (!add && !view)">
        <i class="btn_icon pi pi-user-edit"></i>
        save
      </button>
      <button class="icon_btn" [ngClass]="{ active: Viewlist }" (click)="listView()">
        <i class="pi pi-bars"></i>
      </button>
      <button class="icon_btn" [ngClass]="{ active: !Viewlist }" (click)="treeView()">
        <i class="pi pi-sitemap"></i>
      </button>
    </div>
  </lib-bread-crumb>
  <div class="main_chat_of_account">
    <app-chart-of-account-tree
      *ngIf="!Viewlist"
      [edit]="edit"
      [view]="view"
      [add]="add"
      (addmode)="changeMode($event)"
    ></app-chart-of-account-tree>
    <app-chat-of-account-list *ngIf="Viewlist"></app-chat-of-account-list>
  </div>
</lib-page-content>
