<lib-page-content
  [title]="'Company.CompanyList' | translate"
  [subTitle]="'Company.CompanyList' | translate"
>
  <lib-new-bread-crumb >
  </lib-new-bread-crumb>
  <div class="company_page card_micro ">
    <p-treeTable
  #myTab
  [columns]="cols"
  [value]="tableData"
  [paginator]="true"
  [rows]="10"
  [scrollable]="true"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowsPerPageOptions]="[5, 10, 15]"
  styleClass="p-treetable-gridlines"
  [rowHover]="true"
>
  <ng-template pTemplate="header">
    <tr class="">
      <th colspan="8" class="test">
        <div class="flex justify-content-between items-center card_micro caption " >
          <ng-container search>
            <lib-text-input
              type="text"
              (keyup)="search($event)"
              placeholder="{{ 'User.Search' | translate }}"
              [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
            ></lib-text-input>
          </ng-container>

          <ng-container action>
            <div class="flex gap-2">
              <lib-export
                (exportClick)="exportCompaniesData($event)"
                [exportData]="mappedTableData"
                [exportColumns]="exportColumns"
                [ExportName]="'Companies'"
              ></lib-export>

              <lib-button-micro
                title="{{ 'User.AddNew' | translate }}"
                [iconName]="'pi pi-plus'"
                nameClass="save"
                (click)="newCompany()"
              ></lib-button-micro>
            </div>
          </ng-container>
        </div>
      </th>
    </tr>
    <tr>
      <th class="body_b16 tab_title">{{ "Company.Code" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.CompaniesName" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.CompaniesType" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.TaxID" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.CommercialID" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.Phone" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.status" | translate }}</th>
      <th class="body_b16 tab_title">{{ "Company.Actions" | translate }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td *ngFor="let col of columns; let i = index">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
        {{ rowData[col.header] }}

        <ng-container *ngIf="i == 1">
          <p> {{ selectedLanguage == 'en' ? rowData.nameEn: rowData.nameAr }} </p>
        </ng-container>
        <ng-container *ngIf="i == 7">
          <lib-button-micro
            nameClass="table_button_edit"
            (click)="routeToEdit(rowData.id)"
          ></lib-button-micro>
        </ng-container>

        <ng-container *ngIf="i == 6">
          <div class="checked">
            <lib-input-switch
              [(ngModel)]="rowData.isActive"
              (onChange)="changed($event, rowData.id)"
            ></lib-input-switch>
            <p class="active body_b16" *ngIf="rowData.isActive">
              {{ "User.Activate" | translate }}
            </p>
            <p class="inactive body_b16" *ngIf="!rowData.isActive">
              {{ "User.Deactivate" | translate }}
            </p>
          </div>
        </ng-container>

        <ng-container *ngIf="i == 2">
          <div
            class="status"
            *ngIf="rowData.companyType == Sharedcompanyenums.CompanyTypes.Holding"
          >
            <p>Holding</p>
          </div>
          <div
            class="status"
            *ngIf="rowData.companyType == Sharedcompanyenums.CompanyTypes.Subsidiary"
          >
            <p>Subsidiary</p>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
  </div>
</lib-page-content>
