
<lib-page-content
  [title]="'Company.CompanyList' | translate"
  [subTitle]="'Company.CompanyList' | translate"
>
<div class="company_page">
  <p-treeTable 
    #myTab 
    [columns]="cols"  
    [value]="tableData" 
    [paginator]="true"
    [rows]="10"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowsPerPageOptions]="[5, 10, 15]"

> 
<ng-template pTemplate="caption">
  <div class="flex justify-content-end align-items-center">
      <div class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Search..."
            />
      </div>
      <button
            pButton
            pRipple
            label="Add New"
            icon="pi pi-plus"
            class="add_new mr-2"
            (click)="openAddCompany()"
          ></button>
  </div>
</ng-template>
    <ng-template pTemplate="header"> 
    
  
        <tr> 
            <th>Code</th> 
            <th>Companies Name</th> 
            <th>Companies Type</th> 
            <th>Tax ID</th> 
            <th>Commercial ID</th> 
            <th>Phone</th> 
            <th>status</th> 
            <th>Actions</th> 
          </tr> 
        </ng-template> 
  
    <ng-template 
        pTemplate="body" 
        let-rowNode  
        let-rowData="rowData" 
        let-columns="columns"
    > 
        <tr> 
            <td *ngFor="let col of columns; let i = index"> 
                <p-treeTableToggler 
                    [rowNode]="rowNode"  
                    *ngIf="i == 0"
                > 
                </p-treeTableToggler> 
                {{ rowData[col.header] }} 
                <ng-container *ngIf="i == 7">
                  <p-button
                  icon="pi pi-pencil"
                  
                  [rounded]="true"
                  [text]="true"
                  severity="secondary "                   ></p-button>
              </ng-container>
                <ng-container *ngIf="i == 6">
                  <div class="checked" >
                    <p-inputSwitch
                    
                      [(ngModel)]="active"
                    >
                    </p-inputSwitch>
                    <p class="active" *ngIf="active">
                      {{ "User.Activate" | translate }}
                    </p>
                    <p class="inactive" *ngIf="!active">
                      {{ "User.Deactivate" | translate }}
                    </p>
                  </div>
              </ng-container>
              </td> 
        </tr> 
    </ng-template> 
</p-treeTable>
</div>

</lib-page-content>