<lib-page-content>
  <div class="card_micro">
  <form [formGroup]="addForm" >
    <div class="grid m-0">
      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['code']">
            {{ 'PaymentIn.Form.Code' | translate }}
          </lib-label>
          <lib-text-input type="text" formControlName="code" [readOnly]="true"
            [placeholder]="'PaymentIn.Form.PlaceholderCode' | translate" />
        </lib-form-group>
      </div>

      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['paymentInDate']">
            {{ 'PaymentIn.Form.Date' | translate }}
          </lib-label>
          <lib-calendar  [disabled]="paymentInPosted" formControlName="paymentInDate" [placeholder]="paymentInDate"></lib-calendar>
          <lib-field-validations [appControl]="addForm.controls['paymentInDate']">
          </lib-field-validations>
        </lib-form-group>
      </div>

      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['description']">
            {{ 'PaymentIn.Form.Description' | translate }}
          </lib-label>
          <lib-text-input [readOnly]="paymentInPosted" type="text" formControlName="description"
            [placeholder]="'PaymentIn.Form.PlaceholderDescription' | translate" />
          <lib-field-validations [appControl]="addForm.controls['description']">
          </lib-field-validations>
        </lib-form-group>
      </div>
      <div class="col-12">

        <div class="grid">

          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['paymentHub']">
                {{ 'PaymentIn.Form.PaymentHub' | translate }}
              </lib-label>
              <lib-select  
              [readOnly]="true"
              formControlName="paymentHub" [options]="lookups[LookupEnum.PaymentPlace]"
                [selectedValue]="addForm.controls['paymentHub'].value"
                (valueChanged)="getDetails(addForm.controls['paymentHub'].value)" optionValue="name" optionLabel="name">
              </lib-select>
              <lib-field-validations [appControl]="addForm.controls['paymentHub']">
              </lib-field-validations>
            </lib-form-group>
          </div>

          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['paymentHubDetailId']">
                {{ 'PaymentIn.Form.PaymentHubDetails' | translate }}
              </lib-label>
              <lib-select *ngIf="selectedBank"
              [readOnly]="paymentInPosted"
               formControlName="paymentHubDetailId"
                [options]="BankDropDown"
                optionValue="id"
                 optionLabel="name"
                 [selectedValue]="toNumber(addForm.controls['paymentHubDetailId'].value)"
                (valueChanged)="bankAccountDropDown(addForm.controls['paymentHubDetailId'].value)"
                [placeholder]="'PaymentIn.Form.PlaceholderPaymentHubDetails' | translate">
              </lib-select>
              <lib-select *ngIf="!selectedBank"
              [readOnly]="paymentInPosted"
               formControlName="paymentHubDetailId"
                [options]="TreasuryDropDown"
                optionValue="id" optionLabel="name"
                [selectedValue]="toNumber(addForm.controls['paymentHubDetailId'].value)"
                (valueChanged)="bankAccountDropDown(addForm.controls['paymentHubDetailId'].value)"
                [placeholder]="'PaymentIn.Form.PlaceholderPaymentHubDetails' | translate">

                >
              </lib-select>
              <lib-field-validations [appControl]="addForm.controls['paymentHubDetailId']">
              </lib-field-validations>
            </lib-form-group>
          </div>

          <div class="md:col-4" *ngIf="selectedBank">
            <lib-form-group>
              <lib-label [appControl]="addForm.controls['bankAccountId']">
                {{ 'PaymentIn.Form.BankAccount' | translate }}
              </lib-label>
              <lib-select formControlName="bankAccountId"
              [readOnly]="paymentInPosted"
              [options]="bankAccount" optionValue="id"
                optionLabel="accountNumber"
                [selectedValue]="addForm.controls['bankAccountId'].value"
                (valueChanged)="getCurrencyBankAccount(addForm.controls['bankAccountId'].value)"
                [placeholder]="'PaymentIn.Form.PlaceholderBankAccount' | translate"></lib-select>
              <lib-field-validations [appControl]="addForm.controls['bankAccountId']">
              </lib-field-validations>
            </lib-form-group>
          </div>
        </div>

      </div>
      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['currency']">
            {{ 'PaymentIn.Form.Currency' | translate }}
          </lib-label>
          <lib-text-input  type="text" formControlName="currency" [placeholder]="selectedCurrency" [readOnly]="true" />
        </lib-form-group>
      </div>

      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['rate']">
            {{ 'PaymentIn.Form.Rate' | translate }}
          </lib-label>
          <lib-text-input  type="number" [readOnly]="paymentInPosted" (keyUp)="updateRateInPaymentDetails($event)" formControlName="rate"
            [placeholder]="'PaymentIn.Form.PlaceholderRate' | translate" />
          <lib-field-validations [appControl]="addForm.controls['rate']">
          </lib-field-validations>
        </lib-form-group>
      </div>
    </div>
    <div class="grid border">
      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['currentBalance']">
            {{ 'PaymentIn.Form.CurrentBalance' | translate }}
          </lib-label>
          <lib-text-input type="number" [readOnly]="true" placeholder="{{AccountBalance| numberFormat}}">
          </lib-text-input>
          <p></p>

        </lib-form-group>
      </div>

      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['totalReceivedAmount']">
            {{ 'PaymentIn.Form.TotalReceivedAmount' | translate }}
          </lib-label>
          <lib-text-input placeholder="{{calculateTotalLocalAmount()| numberFormat}}" [readOnly]="true" />
        </lib-form-group>
      </div>

      <div class="md:col-4">
        <lib-form-group>
          <lib-label [appControl]="addForm.controls['newBalance']">
            {{ 'PaymentIn.Form.NewBalance' | translate }}
          </lib-label>
          <lib-text-input type="text" formControlName="newBalance" class="newBalance"
            placeholder="{{addForm.controls['totalReceivedAmount'].value + AccountBalance | numberFormat }}" [readOnly]="true" />
        </lib-form-group>
      </div>
    </div>
  </form>
  </div>

  <div class="entry_tableCont">
    <div class="card">
      <p-table [resizableColumns]="true" [value]="paymentInDetailsFormArray.controls" dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'PaymentIn.Table.Amount' | translate }}</th>
            <th>{{ 'PaymentIn.Table.LocalAmount' | translate }}</th>
            <th>{{ 'PaymentIn.Table.PaymentMethod' | translate }}</th>
            <th>{{ 'PaymentIn.Table.PaymentMethodDetails' | translate }}</th>
            <th>{{ 'PaymentIn.Table.PaidBy' | translate }}</th>
            <th>{{ 'PaymentIn.Table.PaidByDetails' | translate }}</th>
            <th>{{ 'PaymentIn.Table.LinkedGLAccount' | translate }}</th>
            <th>{{ 'PaymentIn.Table.CostCenter' | translate }}</th>
            <th>{{ 'PaymentIn.Table.Notes' | translate }}</th>
            <th>{{ 'EditJournal.Actions' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-journalLine let-rowIndex="rowIndex">
          <tr [formGroup]="journalLine">
            <td [pEditableColumn]="journalLine.amount" pEditableColumnField="amount" *ngIf="!paymentInPosted">
              <p-cellEditor>
                <ng-template pTemplate="input" >
                  <div class="flex gap-2 align-items-center">
                    <lib-text-input  type="text" (keyUp)="calculateTotalAmount()" formControlName="amount">

                    </lib-text-input>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ journalLine.get('amount').value  || 0 | numberFormat}}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations [appControl]="journalLine.controls['amount']">
              </lib-field-validations>
            </td>
            <td *ngIf="paymentInPosted">
              {{ journalLine.get('amount').value| numberFormat }}
            </td>
            <td>
              {{journalLine.controls['amount'].value * addForm.controls['rate'].value || 0 | numberFormat}}
            </td>
            <td [pEditableColumn]="journalLine.paymentMethodId" pEditableColumnField="paymentMethodId" *ngIf="!paymentInPosted">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select *ngIf="selectedBank" formControlName="paymentMethodId" [options]="paymentMethod"
                    (valueChanged)="getLabelPayment(journalLine ,journalLine.controls['paymentMethodId'].value )"
                    [selectedValue]="journalLine.controls['paymentMethodId'].value" optionValue="id" optionLabel="name">
                  </lib-select>
                  <lib-select *ngIf="!selectedBank" formControlName="paymentMethodId" [options]="AllTreasuriesPayMethod"
                    (valueChanged)="getLabelPayment(journalLine ,journalLine.controls['paymentMethodId'].value ) ; setType(journalLine)"
                    [selectedValue]="journalLine.controls['paymentMethodId'].value" optionValue="id" optionLabel="name">
                  </lib-select>

                </ng-template>
                <ng-template pTemplate="output">

                  {{ journalLine.controls['paymentMethodName'].value }}

                </ng-template>
              </p-cellEditor>
              <lib-field-validations [appControl]="journalLine.controls['paymentMethodId']"> </lib-field-validations>

            </td>
              <td *ngIf="paymentInPosted">
                {{ journalLine.controls['paymentMethodName'].value }}

              </td>
            <td >
              <lib-button-micro title="{{ 'PaymentIn.Form.PaymentMethod' | translate }}"
                [nameClass]="journalLine.controls['paymentMethodId'].value == sharedFinanceEnums.paymentMethodTypeString.Cash ||journalLine.controls['paymentMethodId'].value == null || !selectedBank ? 'disabled' : 'save'"
                widthNumber="100%" (click)="handleButtonClick(journalLine)">

              </lib-button-micro>
            </td>
            <td [pEditableColumn]="journalLine.controls['paidBy']" pEditableColumnField="paidBy" *ngIf="!paymentInPosted">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select formControlName="paidBy"
                   [options]="paidBy"
                    [selectedValue]="journalLine.controls['paidBy'].value" 
                    optionValue="name" 
                    optionLabel="name"
                    (valueChanged)="getpaidByDetails( rowIndex , journalLine.controls['paidBy'].value)
                    ">

                  </lib-select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ journalLine.controls['paidBy'].value}}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations [appControl]="journalLine.controls['paidBy']"> </lib-field-validations>
            </td>
            <td *ngIf="paymentInPosted">
              {{ journalLine.controls['paidBy'].value}}

            </td>
            <td [pEditableColumn]="journalLine.controls['paidByDetailsId']" pEditableColumnField="paidByDetailsId" *ngIf="!paymentInPosted">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select
                    *ngIf="journalLine.controls['paidBy'].value == this.sharedFinanceEnums.paiedDropDown.vendor"
                    formControlName="paidByDetailsId" [options]="vendorDropDown"
                    [selectedValue]="toNumber(journalLine.controls['paidByDetailsId'].value)"
                     optionValue="id" optionLabel="name"
                    (valueChanged)="getGlAccount(rowIndex, toNumber(journalLine.controls['paidByDetailsId'].value))">

                  </lib-select>
                  <lib-select
                    *ngIf="journalLine.controls['paidBy'].value == this.sharedFinanceEnums.paiedDropDown.customer"
                    formControlName="paidByDetailsId" [options]="customerDropDown"
                    [selectedValue]="toNumber(journalLine.controls['paidByDetailsId'].value)" optionValue="id" optionLabel="name"
                    (valueChanged)="getGlAccount(rowIndex, toNumber(journalLine.controls['paidByDetailsId'].value))">

                  </lib-select>
                  <lib-select
                    *ngIf="journalLine.controls['paidBy'].value == this.sharedFinanceEnums.paiedDropDown.other"
                    formControlName="paidByDetailsId" [options]="other"
                    [selectedValue]="toNumber(journalLine.controls['paidByDetailsId'].value)" optionValue="id" optionLabel="name"
                    (valueChanged)="getLabel(journalLine,toNumber( journalLine.controls['paidByDetailsId'].value))">

                  </lib-select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{journalLine.controls['paidByDetailsName'].value}}
                  <!-- {{ getLabel(journalLine, toNumber(journalLine.controls['paidByDetailsId'].value)) }} -->
                </ng-template>
              </p-cellEditor>
              <lib-field-validations [appControl]="journalLine.controls['paidByDetailsId']"> </lib-field-validations>
            </td>
            <td *ngIf="paymentInPosted">
              {{journalLine.controls['paidByDetailsName'].value}}

            </td>
            <td [pEditableColumn]="journalLine.glAccountId" pEditableColumnField="glAccountId" *ngIf="!paymentInPosted">
              <p-cellEditor *ngIf="journalLine.controls['paidBy'].value == this.sharedFinanceEnums.paiedDropDown.other">
                <ng-template pTemplate="input">
                  <div class="flex gap-2 align-items-center">
                    <lib-select formControlName="glAccountId" [options]="filteredAccounts" optionValue="id"
                      optionLabel="displayName" [customClass]="'add-journal'"
                      [selectedValue]="journalLine.controls['glAccountId'].value"
                      (valueChanged)="accountSelected($event, rowIndex)" 
                      (valueSearchChanged)="onFilter($event)"
                      [placeholder]=" journalLine.controls['glAccountId'].value"
                      [readOnly]="journalLine.controls['paidBy'].value != this.sharedFinanceEnums.paiedDropDown.other">
                    </lib-select>
                    <i *ngIf="journalLine.controls['paidBy'].value == this.sharedFinanceEnums.paiedDropDown.other"
                      class="pi pi-search search-circle" (click)="openDialogSearch(rowIndex)"></i>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{journalLine.controls['accountName'].value}}
                </ng-template>
              </p-cellEditor>
              <p *ngIf="journalLine.controls['paidBy'].value != this.sharedFinanceEnums.paiedDropDown.other">
                {{journalLine.controls['accountName'].value}}
              </p>
              <lib-field-validations [appControl]="journalLine.controls['glAccountId']">
              </lib-field-validations>
            </td>
            <td *ngIf="paymentInPosted">
              {{journalLine.controls['accountName'].value}}

            </td>
            <td>
              <img *ngIf="
                    journalLine.controls['paidBy'].value!=this.sharedFinanceEnums.paiedDropDown.other ||
                    journalLine.controls['paidBy'].value==this.sharedFinanceEnums.paiedDropDown.other && 
                    journalLine.controls['costCenterConfig'].value == this.sharedFinanceEnums.costCenterConfig.NotAllow || 
                    journalLine.controls['costCenterConfig'].value == null
  
                           " src="assets/images/groups.png" />

              <img *ngIf="
                journalLine.controls['paidBy'].value==this.sharedFinanceEnums.paiedDropDown.other &&
                 isCostCenterallowed( journalLine,journalLine.controls['costCenterConfig'].value) &&
                 journalLine.controls['paymentInDetailCostCenters'].value.length == 0
                
                " (click)="
                openCostPopup(
                  journalLine.value,
                  journalLine,
                  journalLine.controls['glAccountId']?.value,
                  rowIndex
                )
              " src="assets/images/groups-mandtory-optional.png" alt="" class="pointer" />
              <img *ngIf="
                journalLine.controls['paidBy'].value==this.sharedFinanceEnums.paiedDropDown.other &&
                isCostCenterallowed(journalLine, journalLine.controls['costCenterConfig'].value) &&
                journalLine.controls['paymentInDetailCostCenters'].value.length != 0
                " (click)="
                   openCostPopup(
                     journalLine.value,
                     journalLine,
                     journalLine.controls['glAccountId']?.value,
                     rowIndex
                   )
                 " class="pointer" src="assets/images/costcenterfull.png" />

            </td>
            <td [pEditableColumn]="journalLine.notes" pEditableColumnField="notes" *ngIf="!paymentInPosted">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div class="flex gap-2 align-items-center">
                    <lib-text-input formControlName="notes">

                    </lib-text-input>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ journalLine.controls['notes'].value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations [appControl]="journalLine.controls['notes']">
              </lib-field-validations>
            </td>
            <td *ngIf="paymentInPosted">
              {{ journalLine.controls['notes'].value }}

            </td>
            <td>
              <!-- <img (click)="deleteLine(rowIndex)" src="assets/images/table/delete.svg" class="pointer" alt="" /> -->
              <lib-button-micro nameClass="table_button_delete" (click)="onDelete( journalLine.controls['id'].value ,rowIndex)">
              </lib-button-micro>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td class="total">{{totalAmount | numberFormat}}</td>
            <td class="total">{{ calculateTotalLocalAmount() | numberFormat }}</td>
            <td colspan="8" class="total"></td>
          </tr>
        </ng-template>
      </p-table>

      <div class="add_new" *ngIf="!paymentInPosted">
        <div class="grid">
          <div class="md:col-3">
            <div class="grid">
              <div class="md:col-6">
            <lib-button-micro
            nameClass="outline"
            widthNumber="100%" 
            title="{{ 'add_new_line' | translate }}"
            (click)="addNewRow()"
            >
  
            </lib-button-micro>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn_group" *ngIf="!paymentInPosted">
      <div class="grid">
        <div class="md:col-5">
          <div class="grid">
            <div class="md:col-4">
              <lib-button-micro title="{{ 'Cancel' | translate }}" nameClass="cancel" widthNumber="100%"
                (click)="cancel()">
              </lib-button-micro>
            </div>
            <div class="md:col-4">
              <div>
                <lib-button-micro title="{{ 'Save' | translate }}"  
                [nameClass]="!paymentInPosted ? 'save' : 'disabled'"
                widthNumber="100%" (click)="save()">
                </lib-button-micro>
              </div>
            </div>
            <div class="md:col-4" *ngIf="paymentInDraft">
              <div>
                <lib-button-micro title="{{ 'payment-in.post' | translate }}" nameClass="save" widthNumber="100%" (click)="addToPost()">
                </lib-button-micro>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</lib-page-content>