<lib-page-content>
    <lib-bread-crumb></lib-bread-crumb>
    <div class="user_page">
      <lib-data-table
     
        [items]="tableData"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        [tableConfigs]="{
          allowPagination: true,
          allowServerPagination: false,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'id',
              headerText: ('Id' ),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'journalCode',
              headerText: ('Journal Code'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'refrenceNumber',
              headerText: ('Reference'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'createdOn',
              headerText: ('Date'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'type',
              headerText: ('Type'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'sourceName',
              headerText: ('Document Name'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'sourceCode',
              headerText: ('Document Code'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'isRepeated',
              headerText: ('Repeated'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'isReversed',
              headerText: ('Reversed'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'status',
              headerText: ('Status'),
              template: userStatus
            },
            {
              name: 'totalDebitAmount ',
              headerText: ('Debit'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'totalCreditAmount ',
              headerText: ('Credit'),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'id',
              headerText: ('Actions'),
              template: userCol

            },
          ]
        }">
  
        <ng-container caption>
          <div class="flex align-items-center justify-content-end">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search..."
              />
            </span>
            <lib-button
              pRipple
              className="add_new mr-2"
              label="Add New"
              icon="pi pi-plus"
            
            >
            </lib-button>
          </div>
        </ng-container>
        <ng-template #userCol let-user>
            <div class="actions flex align-items-center ">
                <lib-button
                icon="pi pi-pencil"
                [rounded]="true"
                [enableText]="true"
                severity="secondary"
              >
              </lib-button>
                <lib-button
                icon="pi pi-trash"
                [rounded]="true"
                [enableText]="true"
                severity="secondary"
              >
              </lib-button>
            </div>
      
            </ng-template>
            <ng-template #userStatus let-user>
                    <div>
                        <p>{{user.Status}}</p>
                    </div>
            </ng-template>
      </lib-data-table>

    </div>
  </lib-page-content>
  