.end {
  display: flex;
  justify-content: end;
}
.corpCont {
    width: 254px;
    padding: 5px 10px;
    border: 1px solid #599dee;
    border-radius: 10px;
    height: 41px;
    margin-top: 13px;

}

