@import '../../../../../assets/styling/scss/variables/_font-family';



.view {
  font-size: 1rem;
  color: #4b5563;
  background: #ffffff;
  padding: 15px;
  min-height: 45px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}
