<p>tax-definition-edit works!</p>

<div class="pop_up_config_page">
    <div class="pop_up_header">
      <div class="header_content">
        <div class="title">
          <div class="plus_icon"></div>
          {{ "Tax.AddTaxDefinition" | translate }}
        </div>
          <div class="pi pi-times cancel" (click)="close()"></div>
      </div>
    </div>
    <div class="pop_up_content">
      <div class="card">
        <form [formGroup]="addForm" >
          <div class="grid">
            <div class=" md:col-12">
              <div class="grid">
                <div class="md:col-12">
                  <lib-form-group>
                    <lib-label [appControl]="addForm.controls['code']">
                      {{ "Tax.TaxCode" | translate }}
                    </lib-label>
                    <lib-text-input type="text" formControlName="code" />
                    <lib-field-validations
                      [appControl]="addForm.controls['code']"
                    >
                    </lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="md:col-12">
                  <lib-form-group>
                    <lib-label [appControl]="addForm.controls['name']">
                      {{ "Tax.TaxName" | translate }}
                    </lib-label>
                    <lib-text-input type="text" formControlName="name" />
                    <lib-field-validations
                      [appControl]="addForm.controls['name']"
                    >
                    </lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="md:col-12">
                  <lib-form-group>
                    <lib-label [appControl]="addForm.controls['ratio']">
                      {{ "Tax.Ratio" | translate }}
                    </lib-label>
                    <lib-text-input type="text" formControlName="ratio" />
                    <lib-field-validations
                      [appControl]="addForm.controls['ratio']"
                    >
                    </lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="md:col-12">
                  <lib-form-group>
                    <lib-label
                      [appControl]="addForm.controls['accountId']"
                    >
                      {{ "Tax.GlAccount" | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="accountId"
                      [options]="accounts"
                      optionValue="id"
                      optionLabel="name"
                      >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="addForm.controls['accountId']"
                    >
                    </lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="md:col-12">
                  <lib-form-group>
                    <lib-label
                      [appControl]="addForm.controls['taxGroupId']"
                    >
                      {{ "Tax.TaxGroup" | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="taxGroupId"
                      [options]="taxGroupList"
                      optionValue="id"
                      optionLabel="name"
                      >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="addForm.controls['taxGroupId']"
                    >
                    </lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="md:col-12">
                  <lib-form-group>
    
                    <label>
                      {{ 'Tax.TaxGroupId' | translate }}
                    </label>
                    <div class="view">
                      {{ taxGroupId }}
                    </div>
                  </lib-form-group>
                </div>

              </div>
            </div>
          </div>
        </form>
    </div>
    </div>
    <div class="pop_up_footer">
    <div class="save_btn">
      <lib-button-micro 
      title="{{ 'Tax.Save' | translate }}"
      nameClass="save"
      (click)="save()"
      widthNumber ="100%"
      >
      
      </lib-button-micro>
    </div>
      <div class="cancel_btn">
        <lib-button-micro 
      title="{{ 'Tax.Discard' | translate }}"
      nameClass="cancel"
      (click)="close()"
      widthNumber ="100%"

      >
      
      </lib-button-micro>
      </div>
      
    </div>
    </div>
    <div class="entry_table">
    </div>
    
    