<div>
  <div class="user_page employees-cont">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
     
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'employeeName',
            headerText: 'Employee.List.Name' | translate,
            isGlobalFilter: true,
            isSortable: true,
            template: empNameCol
          },
          {
            name: 'employeeCode',
            headerText: 'Employee.List.Code' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'attendanceCode',
            headerText: 'Employee.List.AttendanceCode' | translate,
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'id',
            headerText: 'Actions',
            template: userCol
          }
        ]
      }"
    >
      <ng-container caption>
        <div class="group flex justify-content-between">
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="searchTermChange($event)"
                placeholder="Search..."
              />
            </span>
          </div>
          <div class="flex justify-content-end gap-3">
            <button class="primary" (click)="navigateToAdd()">
              <span class="pi pi-plus"></span>
              {{ 'Add New' | translate }}
            </button>
        
            <div>
              <lib-export  
                (exportClick)="exportClick($event)"
                [exportData]="tableData"
                [exportColumns]="exportColumns"
                [ExportName]="'Employees List'">
              </lib-export>
              </div>
          </div>
     
      
        </div>
      </ng-container>
      <ng-template #empNameCol let-employee>
        <div class="user_info flex gap-3">
          <lib-attachment-viewer
            [className]="'thumbnail'"
            attachmentId="{{ employee.employeePhoto }}"
          />
          <p>{{ employee.employeeName }}</p>
        </div>
      </ng-template>
      <ng-template #userCol let-employee>
        <div class="actions flex align-items-center">
          <lib-button
            (click)="navigateToView(employee.id)"
            icon="pi pi-eye"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
          >
          
          </lib-button>
          <lib-button
            className="edit"
            type="button"
            (click)="navigateToEdit(employee.id)"
            icon="pi pi-pencil"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
          >
          </lib-button>
          <lib-button
            (click)="deletEmployee(employee.id)"
            icon="pi pi-trash"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
          >
          </lib-button>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>

