<div style="margin-left: 20px;overflow-x: hidden;">
  <div class="grid-cont">
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JornalCode' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        dfsgsd
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.Jornalstatus' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        sdfds
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.journalReference' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.date' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name | date : 'DD/MM/YY' }}
        resfgdfg
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JournalPeriod' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JournalType' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
    <!--  -->
  </div>
    <!--  -->
  <div class="grid-cont">
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JornalCode' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        dfsgsd
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.Jornalstatus' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        sdfds
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.journalReference' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.date' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name | date : 'DD/MM/YY' }}
        resfgdfg
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JournalPeriod' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
    <!--  -->
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.JournalType' | translate }}</p>
      <small class="subHead heading_b16">
        {{ data?.name }}
        ersafgdf
      </small>
    </div>
  </div>
  <!--  -->
  <div class="grid-cont">
    <div class="my-3 grid-item">
      <p class="headsCont paragraph_b16">{{ 'viewJournal.description' | translate }}</p>
      <div >
        <p class="subHead heading_b16">
            عملية تسجيل قيد محاسبي لشراء جهاز كمبيوتلر من شركة استيراد اجهزة كمبيوتر وتوزيعه علي مراكز تكلفة تعد جزءا اساسيا من العملية المحاسبية للشركةو تبدأ هذه المعاملة المالية التي تمثل شراء الجهاز وتحديد طريقة الدفع و سواء كانت نقدية او عن طريق حوالة بنكية و بعد ذلك و يتم توزيع تكلفة الجهاز علي المراكز المختلفة التي ستستفيد من استخدامه وذلك استنادا الي استخداماته المحتملة داخل المنظمة و يتم ذلك من خلال تعيين نسبة مئوية او تحديد مبلغ محدد لكل مركز تكلفة . 
             </p>
      </div>
    
    </div>
  
  </div>
  <!--  -->
  <div class="grid">
    <div class="col-3">
        <div class="my-3 grid-item">
            <p class="headsCont paragraph_b16">{{ 'viewJournal.returned' | translate }}</p>
            <div >
              <p class="subHead heading_b16">
                 xvcxv
                   </p>
            </div>
            <p class="headsCont paragraph_b16">{{ 'viewJournal.returnedBy' | translate }}</p>
            <div >
              <p class="subHead heading_b16">
                 xvcxv
                   </p>
            </div>
          </div>
    </div>

    <div class="col-9">
        <div class="my-3 grid-item">
            <p class="headsCont paragraph_b16">{{ 'viewJournal.cfoComment' | translate }}</p>
            <div >
              <p class="subHead heading_b16">
                  عملية تسجيل قيد محاسبي لشراء جهاز كمبيوتلر من شركة استيراد اجهزة كمبيوتر وتوزيعه علي مراكز تكلفة تعد جزءا اساسيا من العملية المحاسبية للشركةو تبدأ هذه المعاملة المالية التي تمثل شراء الجهاز وتحديد طريقة الدفع و سواء كانت نقدية او عن طريق حوالة بنكية و بعد ذلك و يتم توزيع تكلفة الجهاز علي المراكز المختلفة التي ستستفيد من استخدامه وذلك استنادا الي استخداماته المحتملة داخل المنظمة و يتم ذلك من خلال تعيين نسبة مئوية او تحديد مبلغ محدد لكل مركز تكلفة . 
                   </p>
            </div>
          
          </div>
    </div>
   

  
  
  </div>
  <!--  -->
  <div class="journal_page">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: false,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'code',
            headerText: 'ID',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'periodName',
            headerText: 'Account Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'Type',
            headerText: 'Account Name',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalDebitAmountLocal',
            headerText: 'line Description',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'DB Amount',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'CR Amount',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'Currency',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'Rate',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'DB Amount Local',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmountLocal',
            headerText: 'CR Amount Local',
            isGlobalFilter: true,
            isSortable: true
          },
        
        ]
      }"
    >
     
    </lib-data-table>
  </div>

 

</div>
