<lib-page-content>
  <div>
    <div class="card_micro">

    <div class="">
      <div class="grid">
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.JornalCode' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ journalView?.journalCode || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.Jornalstatus' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ journalView?.status || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.journalReference' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ journalView?.referenceNumber || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.date' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ (journalView?.journalDate | date : 'dd/MM/yyyy') || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.JournalPeriod' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ journalView?.journalPeriod || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'EditJournal.SourceDocumentName' | translate }}</p>
          <p class="subHead paragraph_b16 pragraph_demd">
            {{ journalView?.sourceCode || 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'EditJournal.SourceDocumentCode' | translate }}</p>
          <p
            class="subHead paragraph_b16 pragraph_demd"
            *ngIf="journalView?.sourceCode == 'PaymentIn'"
            [ngClass]="{ code: journalView?.paymentInId }"
            (click)="routeToPaymentInView(journalView?.paymentInId!)"
          >
            {{ journalView?.sourceName || 'N/A' }}
          </p>
          <p
            class="subHead paragraph_b16 pragraph_demd"
            *ngIf="journalView?.sourceCode == 'PaymentOut'"
            [ngClass]="{ code: journalView?.paymentOutId }"
            (click)="routeToPaymentOutView(journalView?.paymentOutId!)"
          >
            {{ journalView?.sourceName || 'N/A' }}
          </p>
          <p class="subHead paragraph_b16 pragraph_demd code" *ngIf="!journalView?.sourceCode">
            {{ 'N/A' }}
          </p>
        </div>
        <div class="col-12 md:col-3">
          <p class="headsCont heading_b16">{{ 'viewJournal.description' | translate }}</p>
          <div>
            <p class="subHead paragraph_b16 pragraph_demd">
              {{ journalView?.description || 'N/A' }}
            </p>
          </div>
        </div>
        <div class="col-12 md:col-3">
          <lib-button-micro
          nameClass="save"
          title="{{'attachment' | translate}}"
          (click)="openAttachments()"
          >


          </lib-button-micro>
        </div>
      </div>
    </div>
    </div>
    <!--  -->
    <div class="grid-cont">
      <!--
    <div class="my-3 grid-item">
      <p class="headsCont heading_b16">{{ 'Reversed Journal Code' | translate }}</p>
      <p class="subHead heading_b16">
        {{ journalView?.reversedJournalCode }}
      </p>
    </div>  
    --></div>
    <!--  -->

    <!--  -->
    <!--  -->
    <div class="journal_page">
      <lib-data-table
        *ngIf="journalView!"
        [items]="journalView!.journalEntryLines!"
        className="p-datatable-gridlines"
        [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: false,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'accountCode',
            headerText: 'viewJournal.code' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountName',
            headerText: 'viewJournal.name' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'lineDescription',
            headerText: 'viewJournal.lineDescription' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'debitAmount',
            headerText: 'viewJournal.debitAmount' | translate,
            isGlobalFilter: true,
            isSortable: true,
            applyNumberFormat:true,
          },
          {
            name: 'creditAmount',
            headerText: 'viewJournal.creditAmount' | translate,
            isGlobalFilter: true,
            isSortable: true,
            applyNumberFormat:true,
          },
          {
            name: 'currency',
            headerText: 'viewJournal.currency' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'currencyRate',
            headerText: 'viewJournal.currencyRate' | translate,
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'debitAmountLocal',
            headerText: 'viewJournal.debitAmountLocal' | translate,
            isGlobalFilter: true,
            isSortable: true,
            applyNumberFormat:true,
          },
          {
            name: 'creditAmountLocal',
            headerText: 'viewJournal.creditAmountLocal' | translate,
            isGlobalFilter: true,
            isSortable: true,
            applyNumberFormat:true,
          },
          {
            name: 'costImg',
            headerText: 'viewJournal.costCenter' | translate,
            isGlobalFilter: true,
            isSortable: true,
            template : cost
          }
        ]
      }"
      >
        <ng-template #cost let-cost>
          <div>
            <img
              *ngIf="cost.costCenters.length > 0"
              class="costCenterImg pointer"
              src="assets/images/groups-mandtory-optional.png"
              (click)="openCostPopup(cost, 'view')"
            />
            <img *ngIf="cost.costCenters.length == 0" src="assets/images/groups.png" />
          </div>
        </ng-template>
        <ng-container footer>
          <tr>
            <td colspan="4" class="imptyData total" style="text-align: center">
              {{ 'JournalTemplate.total' | translate }}
            </td>
            <td class="total center">{{ totalDebitAmount | numberFormat }}</td>
            <td class="total center">{{ totalCreditAmount | numberFormat }}</td>
            <td class="total"></td>
            <td class="total center">{{ totalDebitAmountLocal | numberFormat }}</td>
            <td class="total center">{{ totalCreditAmountLocal | numberFormat }}</td>
            <td class="total"></td>
          </tr>
        </ng-container>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
