
<div class="form-container">
  <h2>User Information</h2>
  <p>Step 02 - Admin User Information</p>

  <!-- Reactive Form -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


    <!-- Email Input Field with Label -->
    <div class="form-group">
      <label for="selectedOption">Select an email:</label>
      <div class="input-container">
        <select id="selectedOption" formControlName="selectedOption" placeholder="Select an email">
          <option *ngFor="let user of userData" [value]="user.email">{{ user.email }}</option>
        </select>
      </div>
    </div>

    <!-- Back and Send Invitation Buttons -->
    <div class="button-group">
      <button type="button" class="btn btn-secondary custom-button" (click)="onBack()">Back</button>
      <button type="submit" class="btn btn-primary custom-button">Send Invitation</button>
    </div>

  </form>
</div>