.check {
    cursor: pointer;
}

::ng-deep   .p-dialog-content {
    overflow: hidden !important;
  }
    /* Ensure the body does not scroll when the dialog is open */

    
    

    .domain_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f7f8f8;
      padding: 30px;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
  
      .title {
        display: flex;
        font-size: 18px;
        font-weight: 700;
        color: #383a42;
      }
      .cancel {
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
      }
    }
  