.usersArray-valuse {
    background: #F2F4F8;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.usersArray {
    display: flex;
}

.active-true {
    color: #1A90B0;
}