<div>
    <p class="confirm">{{'treasury.confirm' | translate}}</p>
    <div class="grid justify-content-center">
      
        <div class="col-6">
          <lib-button type="button"  [className]="'custom-danger-outline'" class="save" (click)="onCancel()">
            Cancel
          </lib-button>
        </div>
        <div class="col-6">
            <lib-button type="button" [className]="'custom-light-blue'"  (click)="onSubmit()">
             Submit
            </lib-button>
          </div>
      </div>
</div>