<lib-bread-crumb></lib-bread-crumb>
<div>
  <div class="user_page">
    <lib-button-micro  nameClass="table_button_Add" (click)="addNew()">
    </lib-button-micro>
    <lib-data-table [items]="tableData" className="p-datatable-gridlines" [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)" [tableConfigs]="{
      allowPagination: false,
      allowServerPagination: true,
      dataKey: 'id',
      pageSize: 10,
      columns: [
        {
          name: 'titleEn',
          headerText: ('Title (En)'),
          isGlobalFilter: true,
          isSortable: false,
          
        },
        {
                name: 'titleAr',
                headerText: ('Title (Ar)'),
                isGlobalFilter: true,
                isSortable: false,
  
              },
      {
              name: 'descriptionAr',
              headerText: ('Description (Ar)'),
              isGlobalFilter: true,
              isSortable: false
            },{

              name: 'descriptionEn',
              headerText: ('Description (En)'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'published',
              headerText: ('Published'),
              isGlobalFilter: true,
              isSortable: false,
              template: status

            },

            {
              name: 'id',
              headerText: ('Actions'),
              template: userCol
            },
      ]
    }">
      <ng-container caption>
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px" class="mt-1">
          <div>
            <lib-text-input type="text" [(ngModel)]="searchTerm" [placeholder]="'Search' | translate"
              [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'" (keyUp)="onSearchChange()">
            </lib-text-input>
          </div>
        </div>
      </ng-container>
      <ng-template #userCol let-tag>
        <div class="actions flex align-items-center">
          <lib-button-micro  nameClass="table_button_edit" (click)="routeToEdit(tag.id)">
          </lib-button-micro>

          
        </div>
      </ng-template>

      <ng-template #status let-tag>
        <div>
          <lib-input-switch  [(ngModel)]="tag.published"> </lib-input-switch>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>