::ng-deep{
    .p-paginator {
        justify-content: start !important;
      }
      // .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
      //   background: #1a90b0 !important;
      // }
      // .p-inputswitch.p-focus .p-inputswitch-slider {
      //   box-shadow: none !important;
      // }
      // .p-inputswitch {
      //   width: 9rem;
      //   height: 3rem;
      //   border-radius: 50%;
      // }
      // .p-inputswitch-slider {
      //   border: 4px solid #d9dde6 !important;
      // }
      // .p-inputswitch .p-inputswitch-slider:before {
      //   content: "";
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: gray;
      //   font-size: 35px;
      //   background: #ffffff;
      //   width: 2.25rem;
      //   height: 2.25rem;
      //   left: 0.25rem;
      //   margin-top: -1.15rem;
      //   border-radius: 50%;
      //   transition-duration: 0.2s;
      //   display: inline-block;
      //   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M4 0C1.8 0 0 1.8 0 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4m0 1c.66 0 1.26.21 1.75.56L1.56 5.75C1.21 5.26 1 4.66 1 4c0-1.66 1.34-3 3-3m2.44 1.25C6.79 2.74 7 3.34 7 4c0 1.66-1.34 3-3 3c-.66 0-1.26-.21-1.75-.56z'/%3E%3C/svg%3E");
      //   background-color: currentColor;
      //   -webkit-mask-image: var(--svg);
      //   mask-image: var(--svg);
      //   -webkit-mask-repeat: no-repeat;
      //   mask-repeat: no-repeat;
      //   -webkit-mask-size: 100% 100%;
      //   mask-size: 100% 100%;
      // }
      // .p-inputswitch-checked .p-inputswitch-slider:before {
      //   content: "\2713" !important;
      //   mask-image: none !important;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   color: #1a90b0;
      //   font-size: 35px;
      //   background: #ffffff;
      //   width: 3.25rem;
      //   height: 2.25rem;
      //   left: -0.5rem;
      //   margin-top: -1.15rem;
      //   // border-radius: 50%;
      //   border-radius: 15px;
      //   transition-duration: 0.2s;
      // }
      // .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
      //   transform: translateX(5.5rem);
      // }
}
.checked {
    position: relative;
    .active {
      position: absolute;
      top: -8px;
      left: 20px;
      color: #fff;
    }
    .inactive {
      position: absolute;
      top: -8px;
      left: 50px;
      color: #40444c;
    }
}
.detail{
    color: #CB3F2D;
}
.main{
    color: #1a90b0;
}
.search{
  display: flex;
  align-items: center;
  justify-content: end;
}