<lib-page-content
  [title]="'OperationalTag.TaxList' | translate"
  [subTitle]="'OperationalTagTaxList' | translate"
>
  <div class="bank">
    <div class="card_micro">

    <form [formGroup]="formGroup">
      <div class="form_header">
        <div class="grid">
          <div class="md:col-2">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['code']">
                {{ 'OperationalTag.code' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="code" [readOnly]="true" />
              <lib-field-validations [appControl]="formGroup.controls['code']">
              </lib-field-validations>
            </lib-form-group>
          </div>

          <div class="md:col-5">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['name']">
                {{ 'OperationalTag.name' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="name" />
              <lib-field-validations [appControl]="formGroup.controls['name']">
              </lib-field-validations>
            </lib-form-group>
          </div>

          <div class="md:col-5">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['operationType']">
                {{ 'OperationalTag.operationType' | translate }}
              </lib-label>
              <lib-select
                formControlName="operationType"
                [options]="operationTypeList"
                [selectedValue]="formGroup.controls['operationType'].value"
                optionLabel="name"
                optionValue="id"
              >
              </lib-select>
            </lib-form-group>
            <lib-field-validations [appControl]="formGroup.controls['operationType']">
            </lib-field-validations>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['warehouseId']">
                {{ 'OperationalTag.warehouseName' | translate }}
              </lib-label>
              <lib-select
                formControlName="warehouseId"
                [options]="warhouseLookupData"
                [selectedValue]="formGroup.controls['warehouseId'].value"
                optionLabel="name"
                optionValue="id"
              >
              </lib-select>
            </lib-form-group>
            <lib-field-validations [appControl]="formGroup.controls['warehouseId']">
            </lib-field-validations>
          </div>
          <div class="md:col-6">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['glAccountId']">
                {{ 'OperationalTag.glAccount' | translate }}
              </lib-label>
              <lib-select
                formControlName="glAccountId"
                [options]="AccountsDropDownLookup"
                optionLabel="name"
                optionValue="accountCode"
                [selectedValue]="formGroup.controls['glAccountId'].value"

              >
              </lib-select>
            </lib-form-group>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="btn_group">
    <div class="grid mt-4">
      <div class="md:col-3">
        <div class="grid">
          <div class="md:col-6">
            <lib-button-micro
              nameClass="cancel"
              title="{{ 'Cancel' | translate }}"
              (click)="discard()"
            >
            </lib-button-micro>
          </div>
          <div class="md:col-6">
            <lib-button-micro
              nameClass="save w-100"
              title="{{ 'OperationalTag.save' | translate }}"
              iconName="pi pi-save"
              type="button"
              (click)="onSave()"
            >

            </lib-button-micro>
          </div>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
