.clockIcon {
    color: #1A8EAE;
}
.gernerateCont{
    margin-bottom: 12px;
    cursor: pointer;
    margin-left: 15px;
}
.generateBtn{
    color: #1A8EAE;
    font-size: 15px;

}
::ng-deep .user_pages {
    .p-datatable-header {
        display: none !important;
    }
}

.none {
    display: none;
}