<div>
  <lib-bread-crumb></lib-bread-crumb>
  <div class="user_page">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'id',
            headerText: 'Id',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'journalCode',
            headerText: 'Journal Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'refrenceNumber',
            headerText: 'Reference',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'createdOn',
            headerText: 'Date',
            isGlobalFilter: true,
            isSortable: true,
            template: journalDate
          },
          {
            name: 'type',
            headerText: 'Type',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'sourceName',
            headerText: 'Document Name',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'sourceCode',
            headerText: 'Document Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'isRepeated',
            headerText: 'Repeated',
            isGlobalFilter: true,
            isSortable: true,
            template: journalIsRepeated
          },
          {
            name: 'isReversed',
            headerText: 'Reversed',
            isGlobalFilter: true,
            isSortable: true,
            template: journalIsReversed
          },
          {
            name: 'status',
            headerText: 'Status',
            template: userStatus
          },
          {
            name: 'totalDebitAmount',
            headerText: 'Debit',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'totalCreditAmount',
            headerText: 'Credit',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'id',
            headerText: 'Actions',
            template: userCol
          }
        ]
      }"
    >
      <ng-container caption>
        <div class="group">
          <div>
            
              <lib-text-input   type="text" [placeholder]="'Search'" (keyUp)="onSearchChange($event)" [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'">                   
              </lib-text-input>            
          </div>

          <!-- <lib-button pRipple className="add_new" label="Add New" icon="pi pi-plus">
          </lib-button> -->
          <div>
            <button class="add_new" (click)="routeToAdd()">
              <span class="pi pi-plus"></span>
              Add New
            </button>
            <button class="add_new export">
              <span class="pi pi-file"></span>
              Export
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #userCol let-journal>
        <div class="actions flex align-items-center gap-2">
          <lib-button icon="pi pi-eye"      [rounded]="true"
          [enableText]="true"
          severity="secondary" (onClick)="viewJournal(journal.id)">
       
          
          </lib-button>
          <lib-button
            className="edit"
            type="button"
            (click)="routeToEdit(journal.id)"
            icon="pi pi-pencil"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
          >
          </lib-button>

          <!-- <lib-button [icon]="'pi pi-trash'"    [rounded]="true"
          [enableText]="true"
          severity="secondary"></lib-button> -->
          

      
        </div>
      </ng-template>
      <ng-template #userStatus let-journal>
        <div
          class="status unbalanced"
          *ngIf="journal.status === sharedJouralEnum.JournalEntryStatus.Unbalanced"
        >
          <p class="dot"></p>
          <p>Unbalanced</p>
        </div>
        <div
          class="status draft"
          *ngIf="journal.status == sharedJouralEnum.JournalEntryStatus.Draft"
        >
          <p class="dot"></p>
          <p>Draft</p>
        </div>
        <div
          class="status unposted"
          *ngIf="journal.status === sharedJouralEnum.JournalEntryStatus.Submitted"
        >
          <p class="dot"></p>
          <p>Unposted</p>
        </div>
        <div
          class="status Posted"
          *ngIf="journal.status === sharedJouralEnum.JournalEntryStatus.Posted"
        >
          <p class="dot"></p>
          <p>Posted</p>
        </div>
      </ng-template>
      <ng-template #journalDate let-journal>
        <div>
          <p>{{ journal.journalDate | date : 'dd/MM/yyyy' }}</p>
        </div>
      </ng-template>
      <ng-template #journalIsRepeated let-journal>
        <div>
          <p>{{ journal.isRepeated ? 'Yes' : 'No' }}</p>
        </div>
      </ng-template>
      <ng-template #journalIsReversed let-journal>
        <div>
          <p>{{ journal.isReversed ? 'Yes' : 'No' }}</p>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>
