::ng-deep .costCont {
    .p-datatable-table {
        border-spacing: 0px;
        width: 100%;
        border: 1px solid #e7e7e7;
    }

  
}

.code {
    width: 33%;
}
.text-danger {
    color: red;
    margin: 0;
}