<lib-page-content [title]="'tax.taglist' | translate" [subTitle]="'tax.taglist' | translate">
    <lib-bread-crumb>

    </lib-bread-crumb>
    <div>
        <div class="user_page">
            <lib-data-table [items]="tableData" className="p-datatable-gridlines" [currentPageResult]="currentPageInfo"
                (pageChange)="onPageChange($event)" [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
              {
                name: 'id',
                headerText: ('tax.Id' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
                name: 'code',
                headerText: ('tax.Name' | translate),
                isGlobalFilter: true,
                isSortable: true
              },
              {
              name: 'id',
              headerText: ('Actions'),
              template: actions

            },
       
            ]
          }">

                <ng-container caption>

                    <div class="">
                        <div class="grid">
                            <div class="col-3">
                                <lib-form-group>
                                    <lib-text-input type="text" [placeholder]="'Search'"></lib-text-input>
                                </lib-form-group>
                            </div>
                            <!--  -->

                            <div class="col-9 flex gap-2 justify-content-end align-items-center">


                                <div>
                                    <lib-button-micro title="Add New" nameClass="save" iconName="pi pi-plus">
                                    </lib-button-micro>

                                </div>
                                <!--  -->
                                <div>
                                    <lib-button-micro title="Export" nameClass="export" iconName="pi pi-file-plus">
                                    </lib-button-micro>

                                </div>
                                <!--  -->


                            </div>
                        </div>


                    </div>

                </ng-container>
                <ng-template #actions let-action>
                    <div class="actions flex align-items-center gap-2">

                        <lib-button-micro iconName="pi pi-pencil" nameClass="btn_edit">
                        </lib-button-micro>

                        <lib-button-micro iconName="pi pi-trash" nameClass="btn_delet">
                        </lib-button-micro>
                    </div>

                </ng-template>

            </lib-data-table>
        </div>
    </div>


</lib-page-content>