<lib-page-content>
  <lib-data-table
    [items]="tableData"
    className="p-datatable-gridlines"
    [currentPageResult]="currentPageInfo"
    (pageChange)="onPageChange($event)"
    [tableConfigs]="{
            allowPagination: false,
            allowServerPagination: true,
            dataKey: 'id',
            pageSize: 10,
            columns: [
               
               {
                 name: 'code',
                 headerText: ('currencyDefinition.code' | translate),
                 isGlobalFilter: true,
                 isSortable: true
               },
               {
                 name: 'name',
                 headerText: ('currencyDefinition.name' | translate),
                 isGlobalFilter: true,
                 isSortable: true
               },
             
               {
                 name: 'symbol',
                 headerText: ('currencyDefinition.sympol' | translate),
               },
               {
                 name: 'subUnit',
                 headerText: ('currencyDefinition.Subunit' | translate) ,
                 isSortable: true
               },
               {
                 name: 'countryName',
                 headerText: ('currencyDefinition.country' | translate) ,
                 isSortable: true

               },
         
               {
                 name: 'id',
                 headerText: ('currencyDefinition.actions' | translate),
                 template : actions
               },
             ]
          }"
  >
    <ng-container caption>
      <div class="group flex justify-content-between">
        <div>

          <lib-text-input
          type="text"
          [placeholder]="'currencyDefinition.Search' | translate"
          (keyUp)="onSearchChange($event)"
          [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
        >
        </lib-text-input>
        </div>

        <div class="flex gap-2">
          <!--      <div>
                  
                      
                        <lib-button-micro title="{{ 'currencyDefinition.AddNew' | translate }}" nameClass="save" iconName="pi pi-plus-circle" (click)="addNew()" >
                        </lib-button-micro>


                  </div>
                -->

          <div>
            <lib-export
              (exportClick)="exportClick($event)"
              [exportData]="exportData"
              [exportColumns]="exportColumns"
              [ExportName]="'Currency Conversion'"
            >
            </lib-export>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #actions let-actions>
      <div class="actions flex align-items-center">
        <lib-button-micro nameClass="table_button_edit" (click)="Edit(actions.id)">
        </lib-button-micro>
        <!-- <i class="delete pi pi-trash pointer" (click)="onDelete(actions.id)"></i> -->
      </div>
    </ng-template>
  </lib-data-table>
</lib-page-content>
