::ng-deep .itemDefinitionForm_header{
    margin-top: 15px;
    .p-fieldset{
        min-height: 185px;
    }
    .form-check-input{
        height: 25px;
        width: 25px;
    }
}
.card{
    background-color: #ffffff;
    border-radius: 7px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 265px;

}
.error{
    color: rgb(195, 33, 33);
}

::ng-deep .entry_table_uom .p-fieldset .p-fieldset-content {
        padding: 0px !important
    }
    ::ng-deep .p-multiselect {
        width: 100% !important;
    }
    
    .pointer{
        cursor: pointer;
    }

    .showtext {
      color:   #1A8EAE;
      cursor: pointer;
    }
    .none{
        display: none;
    }

    .new_employee {
        display: flex;
        margin: 8px;
      
        .sidebar {
          ul {
            list-style: none;
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
            color: #1a90b0;
            padding: 0;
            margin: 4px 8px 0px 0px !important;
          }
      
          li {
            padding: 1rem;
            border: 1px solid #1a90b0;
            border-radius: 8px;
            margin: 10px;
            cursor: pointer;
            display: flex; 
            align-items: center; 
            justify-content: center; 
      
      
            &:hover {
              background-color: #1a90b0;
              color: #fff;      
            
            
            }
      
           
            
        }
      
      }
      
      .active {
        background-color: #1a90b0;
        color: #fff;  
      }
      
      .employee-container {
        max-height: 120px;
      }
      
        .form_content {
          margin: 8px;
      
          background-color: #fff;
          padding: 24px;
          border-radius: 8px;
          box-shadow: 0 4px 8px #D8DBDF;
          height: 100%;
          border: 1px solid #ddd;
      
          .info{
            height: 46px;
            background-color: #ebebeb;
            border-radius: 4px;
            margin-top: 24px;
            display: flex; /* Use flexbox */
            align-items: center; /* Center vertically */
            
            color: #0D4859;
          }
        }
      
      
        .actions {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          .save, .cancel {
              height: 40px;
              text-transform: capitalize;
              font-size: 16px;
              padding: 5px 20px;
              border-radius: 12px;
              border: none;
              cursor: pointer;
              margin-inline-end: 20px;
          }
        
          .save {
              background-color: #1a90b0;
              color: #fff;
          }
        
          .cancel {
              background-color: #cb3f2d;
              color: #fff;
          }
        
          .save:hover {
              background-color: #fff;
              color: #1a90b0;
              border: 1px solid #1a90b0;
          }
        
          .cancel:hover {
              background-color: #fff;
              color: #cb3f2d;
              border: 1px solid #cb3f2d;
          }
        }
      
        .view{
          font-size: 1rem;
          color: #4b5563;
          background: #ffffff;
          padding:15px;
          min-height: 45px;
          border-radius: 6px;
          border: 1px solid #d1d5db;
        }
        
        .special_care {
            margin-top: 18px;
            color: #1a90b0;
            font-size: 16px;
          
            ::ng-deep {
              .p-checkbox {
                .p-checkbox-box {
                  width: 18px;
                  height: 18px;
                  border-color: #1a90b0; 
                }
          
                .p-checkbox-icon {
                  color: white;
                  background-color: #1a90b0;
      
                }
              }
            }
          }
      }
      

      
::ng-deep .itemDefinitionForm_header{
  margin-top: 15px;
  .p-fieldset{
      min-height: 185px;
  }
  .form-check-input{
      height: 25px;
      width: 25px;
  }
}
.card{
  background-color: #ffffff;
  border-radius: 7px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 265px;

}
.error{
  color: rgb(195, 33, 33);
}

::ng-deep .entry_table_uom .p-fieldset .p-fieldset-content {
      padding: 0px !important
  }
  ::ng-deep .p-multiselect {
      width: 100% !important;
  }
  
  .pointer{
      cursor: pointer;
  }

  .showtext {
    color:   #1A8EAE;
    cursor: pointer;
  }
  .none{
      display: none;
  }

  .new_employee {
      display: flex;
      margin: 8px;
    
      .sidebar {
        ul {
          list-style: none;
          border-radius: 8px;
          overflow: hidden;
          background-color: #fff;
          color: #1a90b0;
          padding: 0;
          margin: 4px 8px 0px 0px;
        }
    
        li {
          padding: 1rem;
          border: 1px solid #1a90b0;
          border-radius: 8px;
          margin: 10px;
          cursor: pointer;
          display: flex; 
          align-items: center; 
          justify-content: center; 
    
    
          &:hover {
            background-color: #1a90b0;
            color: #fff;      
          
          
          }
    
         
          
      }
    
    }
    
    .active {
      background-color: #1a90b0;
      color: #fff;  
    }
    
    .employee-container {
      max-height: 120px;
    }
    
      .form_content {
        margin: 8px;
    
        background-color: #fff;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 4px 8px #D8DBDF;
        height: 100%;
        border: 1px solid #ddd;
    
        .info{
          height: 46px;
          background-color: #ebebeb;
          border-radius: 4px;
          margin-top: 24px;
          display: flex; /* Use flexbox */
          align-items: center; /* Center vertically */
          
          color: #0D4859;
        }
      }
    
    
      .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        .save, .cancel {
            height: 40px;
            text-transform: capitalize;
            font-size: 16px;
            padding: 5px 20px;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            margin-inline-end: 20px;
        }
      
        .save {
            background-color: #1a90b0;
            color: #fff;
        }
      
        .cancel {
            background-color: #cb3f2d;
            color: #fff;
        }
      
        .save:hover {
            background-color: #fff;
            color: #1a90b0;
            border: 1px solid #1a90b0;
        }
      
        .cancel:hover {
            background-color: #fff;
            color: #cb3f2d;
            border: 1px solid #cb3f2d;
        }
      }
    
      .view{
        font-size: 1rem;
        color: #4b5563;
        background: #ffffff;
        padding:15px;
        min-height: 45px;
        border-radius: 6px;
        border: 1px solid #d1d5db;
      }
      
      .special_care {
          margin-top: 18px;
          color: #1a90b0;
          font-size: 16px;
        
          ::ng-deep {
            .p-checkbox {
              .p-checkbox-box {
                width: 18px;
                height: 18px;
                border-color: #1a90b0; 
              }
        
              .p-checkbox-icon {
                color: white;
                background-color: #1a90b0;
    
              }
            }
          }
        }
    }
    





.mainGrid {
  width: 100%;
}