::ng-deep .itemDefinitionForm_header{
    margin-top: 15px;
    .p-fieldset{
        min-height: 185px;
    }
    .form-check-input{
        height: 25px;
        width: 25px;
    }
}
.card{
    background-color: #ffffff;
    border-radius: 7px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 265px;

}
.error{
    color: rgb(195, 33, 33);
}

::ng-deep .entry_table_uom .p-fieldset .p-fieldset-content {
        padding: 0px !important
    }
    ::ng-deep .p-multiselect {
        width: 100% !important;
    }
    
    .pointer{
        cursor: pointer;
    }

    .showtext {
      color:   #1A8EAE;
      cursor: pointer;
    }
    .none{
        display: none;
    }