<lib-page-content>
  <div [formGroup]="itemDefinitionForm" class="new_employee">

      <div class="grid mainGrid" >
        <div class="" style="width: 20%;">
          <div class="sidebar">
            <ul>
              <li [class.active]="findRoute('general')">{{ 'itemType.general' | translate }}</li>
              <li [class.active]="findRoute('uom')">{{ 'itemType.uom' | translate }}</li>
              <li [class.active]="findRoute('attributes')">{{ 'itemType.attributes' | translate }}</li>
              <li [class.active]="findRoute('barcode')">{{ 'itemType.barcode' | translate }}</li>
              <li [class.active]="findRoute('inventory')">{{ 'itemType.inventory' | translate }}</li>
              <li [class.active]="findRoute('accounting')">{{ 'itemType.accounting' | translate }}</li>
              
            </ul>
          </div>
        </div>
    
        <div  style="width: 80%;">
          <router-outlet></router-outlet>
        </div>
      </div>

   
    </div>

    <div class="grid">
      <div class="md:col-12 my-3 grid flex justify-content-end">
        <div class="md:col-4 grid flex justify-content-end">
          <div class="md:col-6">
            <lib-button-micro
              title="{{ 'itemType.cancel' | translate }}"
              nameClass="cancel"
              widthNumber="100%"
              (click)="onCancel()"
            
            >
            </lib-button-micro>
          </div>
          <div  class="md:col-6">
            <lib-button-micro
              title="{{ 'itemType.save' | translate }}"
              nameClass="save"
              widthNumber="100%"
              (click)="onSave()"
            >
            </lib-button-micro>
          
          </div>
        </div>
  
        
      </div>
    </div>
</lib-page-content>


