<lib-page-content>
  <div class="user-page">
    <div class="charts grid">
      <div class="lg:col-4 col-12" [appLoader]="statusChartLoader">
        <app-chart-card
          [chartDTO]="statusChart"
          [chartDetailsConfig]="statusChartData"
          title="{{ 'dashboard.purchaseStatus' | translate }}"
        >
        </app-chart-card>
      </div>
      <div class="lg:col-4 col-12" [appLoader]="returnStatusChartLoader">
        <app-chart-card
          [chartDTO]="returnStatusChart"
          [chartDetailsConfig]="returnStatusChartData"
          title="{{ 'dashboard.returnPurchaseStatus' | translate }}"
        >
        </app-chart-card>
      </div>
      <div class="lg:col-4 col-12" [appLoader]="monthlyPurchasesChartLoader">
        <app-chart-card
          [smallSize]="true"
          [chartDTO]="monthlyPurchasesChart"
          [hideFooter]="false"
          title="{{ 'dashboard.monthlyPurchases' | translate }}"
        >
        </app-chart-card>
      </div>

      <div class="lg:col-6 col-12" [appLoader]="mostPurchasedProductsChartLoader">
        <app-chart-card
          [chartDTO]="mostPurchasedProductsChart"
          [chartDetailsConfig]="mostPurchasedProductsChartData"
          [smallSize]="true"
          title="{{ 'dashboard.mostPurchasedProducts' | translate }}"
          [route]="'transaction/purchase-invoice'"
        >
        </app-chart-card>
      </div>
      <div class="lg:col-6 col-12" [appLoader]="mostPurchasedCategoriesChartLoader">
        <app-chart-card
          [smallSize]="true"
          [chartDTO]="mostPurchasedCategoriesChart"
          [chartDetailsConfig]="mostPurchasedCategoriesChartData"
          title="{{ 'dashboard.mostPurchasedCategories' | translate }}"
          [route]="'transaction/purchase-invoice'"
        >
        </app-chart-card>
      </div>

      <div class="lg:col-6 col-12" [appLoader]="topVendorsLoader">
        <app-chart-card
          title="{{ 'dashboard.topVendors' | translate }}"
          [route]="'transaction/purchase-invoice'"
        >
          <div class="chart-body accounts-bank w-full">
            @for(vendor of topVendors; track vendor.vendorId) {
            <div class="row">
              <span class="body-14 mx-1">{{ vendor.vendorName }}</span>
              <span class="line"></span>
              <span class="body-14 mx-1">
                <span class="body_b14"> X </span> {{ vendor.invoiceCount }}
              </span>
              <span class="line"></span>
              <span class="detail-value heading_b16"
                >{{ vendor.totalInvoiceAmount | numberFormat }} {{ defaultCurrency }}
              </span>
            </div>
            }
          </div>
        </app-chart-card>
      </div>
    </div>
  </div>
</lib-page-content>
