<div class="pop_up_config_page">
    <div class="pop_up_header">
      <div class="header_content">
        <div class="title">
          edit Currency conversion transaction 
              </div>
          <div class="pi pi-times cancel" (click)="close()"></div>
      </div>
    </div>
    <div class="pop_up_content ">
        <form [formGroup]="editCurrencyForm" >
          <div class="grid">
            <div class="md:col-12">
              <lib-form-group>
                <lib-label [appControl]="editCurrencyForm.controls['code']">
                  From Currency  
                </lib-label>
                  <lib-select
                  formControlName="code"
                  [options]="currencies"
                  optionValue="id"
                  optionLabel="currencyName"

                  >
s
                  </lib-select>
                <lib-field-validations
                  [appControl]="editCurrencyForm.controls['code']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="md:col-12">
              <lib-form-group>
                <lib-label [appControl]="editCurrencyForm.controls['name']">
                  Currency Rate   
                  </lib-label>
                <lib-text-input type="text" formControlName="name" />
                <lib-field-validations
                  [appControl]="editCurrencyForm.controls['name']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="md:col-12">
              <lib-form-group>
                <lib-label [appControl]="editCurrencyForm.controls['subUnit']">
                  To Currency   
                              </lib-label>
                <lib-text-input type="text" formControlName="subUnit" />
                <lib-field-validations
                  [appControl]="editCurrencyForm.controls['subUnit']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="md:col-12">
              <lib-form-group>
                <lib-label [appControl]="editCurrencyForm.controls['symbol']">
                  Reversed rate   
                              </lib-label>
                <lib-text-input [readOnly]="true" type="text" formControlName="symbol" />
                <lib-field-validations
                  [appControl]="editCurrencyForm.controls['symbol']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
        
            <div class="md:col-12">
              <lib-form-group>
                <lib-label [appControl]="editCurrencyForm.controls['countryCode']">
                  Notes  
                </lib-label>
                <!-- <lib-text-input type="text" formControlName="name" /> -->
                <lib-text-input  type="text" formControlName="symbol" />

                <lib-field-validations
                  [appControl]="editCurrencyForm.controls['countryCode']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            
      </div>
        </form>
    </div>
    <div class="pop_up_footer">
    <div class="save_btn">
      <lib-button-micro
      title="Save"
      nameClass="save"
      (click)="save()"
      widthNumber ="100%"
      >
      </lib-button-micro>
    </div>
      <div class="cancel_btn">
        <lib-button-micro
      title="Discard"
      nameClass="cancel"
      (click)="close()"
      widthNumber ="100%"
      >
      </lib-button-micro>
      </div>
    </div>
    </div>
    <div class="entry_table">
    </div>