<lib-page-content
  [title]="'attributeDefinition.TaxList' | translate"
  [subTitle]="'attributeDefinitionTaxList' | translate"
>
  <div class="bank">
    <div class="card_micro">
      <div class="entry_header">
        <div class="grid">
          <div class="col-12 md:col-4">
            <lib-form-group>
              <lib-text-input
                placeholder="{{ attributeValues?.id }}"
                [readOnly]="true"
              ></lib-text-input>
            </lib-form-group>
          </div>
          <div class="col-12 md:col-4">
            <lib-form-group>
              <lib-text-input
                placeholder="{{ attributeValues?.nameEn }}"
                [readOnly]="true"
              ></lib-text-input>
            </lib-form-group>
          </div>
          <div class="col-12 md:col-4">
            <lib-form-group>
              <lib-text-input
                placeholder="{{ attributeValues?.nameAr }}"
                [readOnly]="true"
              ></lib-text-input>
            </lib-form-group>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="entry_table">
    <div class="card">
      <ng-container caption>
        <div class="grid m-3 grid-cols-4 gap-2">
          <div class="col-span-1">
            <lib-form-group>
              <lib-text-input
                type="text"
                [placeholder]="'attributeDefinition.Search' | translate"
                [iconUrl]="'pi pi-search'"
              ></lib-text-input>
            </lib-form-group>
          </div>
        </div>
      </ng-container>

      <lib-data-table
        [items]="attributeValuesList"
        className="p-datatable-gridlines"
        [tableConfigs]="{
          dataKey: 'id',
          columns: [
            {
              name: 'itemAttributes',
              headerText: ('attributeDefinition.values' | translate),
              isGlobalFilter: false,
              isSortable: false,
              template: itemAttributesTemplate
            },
            {
              name: 'isActive',
              headerText: ('attributeDefinition.status' | translate),
              isGlobalFilter: true,
              isSortable: true,
              template: isActive
            }
          ]
        }"
      >
        <ng-template #itemAttributesTemplate let-row>
          <div class="itemAttributes">
            <div
              *ngFor="let item of row.itemAttributes; let i = index"
              class="item-container"
            >
              <p class="itemAttributes-value">{{ item.nameEn }}</p>
            </div>
          </div>
        </ng-template>

        <ng-template #isActive let-row>
          <div *ngIf="row.isActive != null" class="flex m-1 align-items-center">
            <lib-input-switch [id]="row.id" [ngModel]="row.isActive">
            </lib-input-switch>
            <span
              [ngClass]="{ 'active-true': row.isActive }"
              class="ml-2"
            >
              {{
                row.isActive
                  ? ('global.activeOn' | translate)
                  : ('global.activeOff' | translate)
              }}
            </span>
          </div>
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
