.itemAttributes {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.itemAttributes-valuse {
  background: #f2f4f8;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px 10px 0;
  width: fit-content;
}

.active-true{
  color: #1a90b0;
  margin: 0px 5px;
}
