<lib-page-content
  [title]="'OperationalTag.TaxList' | translate"
  [subTitle]="'OperationalTagTaxList' | translate"
>
  <div class="bank">
    <div class="card_micro">
      <form class="domain_form" [formGroup]="workflowForm" (ngSubmit)="onSubmit()">
        <div class="domain_content">
          <div class="grid m-0">
            <div class="col-6 my-2">
              <lib-form-group class="mt-1">
                <lib-label [appControl]="workflowForm.controls['isActive']">
                  {{ 'workflow.Name' | translate }}
                </lib-label>
                <lib-text-input
                  type="text"
                  formControlName="name"
                  [iconUrl]="'assets/images/fi-rr-text-check@2x.png'"
                  placeholder="{{ 'workflow.name' | translate }}"
                />
                <lib-field-validations
                  [appControl]="workflowForm.controls['name']"
                ></lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-6 my-2">
              <lib-form-group class="mt-1">
                <lib-label [appControl]="workflowForm.controls['isActive']">
                  {{ 'workflow.serviceId' | translate }}
                </lib-label>
                <lib-select
                  formControlName="serviceId"
                  placeholder="{{ 'Layout.DefaultCompany' | translate }}"
                  [options]="[]"
                  [selectedValue]="workflowForm.controls['serviceId'].value"
                  optionLabel="name"
                  optionValue="id"
                >
                </lib-select>
              </lib-form-group>
            </div>
            <div class="col-6 my-2">
              <lib-label class="mt-1" [appControl]="workflowForm.controls['isActive']">
                {{ 'actions.status' | translate }}
              </lib-label>
              <lib-form-group class="flex align-items-center mt-1">
                <lib-input-switch formControlName="isActive" binary="true" inputId="isActive" />
              </lib-form-group>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="btn_group">
    <div class="grid mt-4">
      <div class="md:col-3">
        <div class="grid">
          <div class="md:col-6">
            <lib-button-micro
              nameClass="cancel"
              title="{{ 'action.discard' | translate }}"
              (click)="onCancel()"
            >
            </lib-button-micro>
          </div>
          <div class="md:col-6">
            <lib-button-micro
              nameClass="save w-100"
              title="{{ 'action.save' | translate }}"
              iconName="pi pi-save"
              type="button"
              (click)="onSubmit()"
            >
            </lib-button-micro>
          </div>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
