.card {
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 26px !important;
  min-height: 100px;
  padding: 22px !important;
}

.img-adderss{
  width: 100%;
  height: 100%;
}
.card-tab{

  background-color: #ffffff;
  border-radius: 7px;
  margin: 10px;
  min-height: 150px;
  padding: 22px;
  width: 99%;

}
.card-btn {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 30px;
  padding: 15px 0px;
  width: 99%;
  margin: 0px 10px;
}



.showtext {
  color: #1a8eae;
  cursor: pointer;
}
.none {
  display: none;
}


.mainGrid {
  width: 100%;
}
.active {
  color: #000;
  width: 302px;
}

.pointer {
  cursor: pointer;
}
.new_employee {
  padding: 1rem;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .sidebar {
    ul {
      list-style: none;
      overflow: hidden;
      color: #9a9696;
      padding:0px 2px;
      font-weight: 500;

    }

    li {
      padding: 1rem;
      margin: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }

  }

}

