.card{
  background-color: #ffffff;
  margin-top: 26px;
  margin-left: .5px;
border-radius: 5px;
}
.heads{
  font-weight: bold;
}

::ng-deep .p-multiselect {
width: 100% !important;
}

// .grid {
//   padding: 0 !important;
//   margin: 0 !important;
// }
.hrSeparate{
  width: 100%;
  margin: 0 12px;
}
.sparateDiv{
 margin:  14px 0
}
.p-calendar {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  width: 100%;
  height: 150px !important;
}
