<lib-page-content>
  <div class="card_micro">
  <div class="page_content_header">
    <div class="actions">
      <lib-button-micro
      [title]="'ChartOfAccount.Configration' | translate"
      nameClass="save"
        (click)="RedirectToConfiguration()"
        *ngIf="!Viewlist"
      >
      </lib-button-micro>

     
      <lib-button-micro
      [title]="'ChartOfAccount.import' | translate"
      nameClass="outline"
      iconName=" pi pi-cloud-download"
      >
      </lib-button-micro>


      <lib-button-micro
      [title]="'ChartOfAccount.edit' | translate"
      nameClass="save"
        (click)="editMode()"
        iconName=" pi pi-user-edit"
        *ngIf="!Viewlist && view"
      >
      </lib-button-micro>
    
      <button class="btn save" *ngIf="!Viewlist && view" (click)="editMode()">
        <i class="btn_icon pi pi-user-edit"></i>
        {{ 'ChartOfAccount.edit' | translate }}
      </button>
      <!-- <button class="btn save" *ngIf="(!Viewlist && edit) || (!add && !view)">
        <i class="btn_icon pi pi-user-edit"></i>
        save
      </button> -->
      <button class="icon_btn" [ngClass]="{ active: Viewlist }" (click)="listView()">
        <i class="pi pi-bars"></i>
      </button>
      <button class="icon_btn" [ngClass]="{ active: !Viewlist }" (click)="treeView()">
        <i class="pi pi-sitemap"></i>
      </button>
    </div>
  </div>
  </div>
  <div class="card_micro">

  <div class="main_chat_of_account">
    <app-chart-of-account-tree
      *ngIf="!Viewlist"
      [edit]="edit"
      [view]="view"
      [add]="add"
      (addmode)="changeMode($event)"
    ></app-chart-of-account-tree>
    <app-chat-of-account-list *ngIf="Viewlist"></app-chat-of-account-list>
  </div></div>
</lib-page-content>
