.cardUom{
  background-color: #ffffff;
   min-height: 445px;
  margin-top: 25px;
  padding: 18px;
  margin-left: .2px;
}
.heads{
  font-weight: bold;
}
::ng-deep .mainCountryOfOrigin{
 .p-fieldset{
  height : 205px
 }
}

.btn-save{
  text-align: end;
}


.tb{
  display: flex;
}

.nameUage{
  margin: 0px 12px;
}


