<lib-page-content [title]="'add-paymentMethod.title' | translate" [subTitle]="'add-paymentMethod.title' | translate">

  <div class="card_micro">
  <div class="bank mt-3">
    <!-- <div class="flex justify-content-end my-2">
      <lib-button-micro nameClass="cancel" title="cancel" (click)="discard()"></lib-button-micro>
    </div> -->
    <div [formGroup]="PaymentMethodForm" class="entry_header">
      <div class="grid">
        <div class="col-12 md:col-6">
          <lib-form-group>
            <lib-label [appControl]="PaymentMethodForm.controls['code']">
              {{ 'add-paymentMethod.code' | translate }}
            </lib-label>
            <lib-text-input type="text" [readOnly]="true" formControlName="code" />
          </lib-form-group>
        </div>
        <div class="col-12 md:col-6">
          <lib-form-group>
            <lib-label [appControl]="PaymentMethodForm.controls['name']">
              {{ 'add-paymentMethod.name' | translate }}
            </lib-label>
            <lib-text-input type="text" [readOnly]="true" formControlName="name" />
            <lib-field-validations
              [appControl]="PaymentMethodForm.controls['name']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="col-12 md:col-6">
          <lib-form-group>
            <lib-label [appControl]="PaymentMethodForm.controls['paymentPlace']">
              {{ 'add-paymentMethod.paymentPlace' | translate }}
            </lib-label>
            <lib-select
              formControlName="paymentPlace"
              [options]="lookups[LookupEnum.PaymentPlace]"
              [selectedValue]="PaymentMethodForm.get('paymentPlace')!.value"
              optionValue="name"
              optionLabel="name"
              [readOnly]="true"
            >
            </lib-select>
            <lib-field-validations
              [appControl]="PaymentMethodForm.controls['paymentPlace']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="col-12 md:col-6">
          <lib-form-group>
            <lib-label [appControl]="PaymentMethodForm.controls['paymentMethodType']">
              {{ 'add-paymentMethod.paymentMethodType' | translate }}
            </lib-label>
            <lib-select
              formControlName="paymentMethodType"
              [options]="lookups[LookupEnum.PaymentMethodType]"
              [selectedValue]="PaymentMethodForm.get('paymentMethodType')!.value"
              optionValue="name"
              optionLabel="name"
              [readOnly]="true"
            >
            </lib-select>
            <lib-field-validations
              [appControl]="PaymentMethodForm.controls['paymentMethodType']"
            ></lib-field-validations>
          </lib-form-group>
        </div>

        <div class="col-12">
          <div class="card">
            <lib-fildest [header]="'add-paymentMethod.BankInformation' | translate">
              <div class="grid">
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('bankId')
                      "
                    >
                      {{ 'add-paymentMethod.Related Bank' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="bankId"
                      [options]="BankList"
                      optionLabel="name"
                      optionValue="id"
                      [selectedValue]="
                        (PaymentMethodForm.get('paymentMethodCommissionData')?.get('bankId'))!.value
                      "
                      [readOnly]="true"
                    >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('bankId')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('bankAccountId')
                      "
                    >
                      {{ 'add-paymentMethod.BankAccount' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="bankAccountId"
                      [options]="BankAccountList"
                      optionLabel="accountNumber"
                      optionValue="id"
                      (valueChanged)="changebankaccount($event)"
                      [selectedValue]="
                        (PaymentMethodForm.get('paymentMethodCommissionData')?.get(
                          'bankAccountId'
                        ))!.value
                      "
                      [readOnly]="true"
                    >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('bankAccountId')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('currency')
                      "
                    >
                      {{ 'add-paymentMethod.Currency' | translate }}
                    </lib-label>
                    <lib-text-input type="text" formControlName="currency" [readOnly]="true" />
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('currency')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
              </div>
            </lib-fildest>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <lib-fildest [header]="'add-paymentMethod.CommissionInformation' | translate">
              <div class="grid">
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('commissionType')
                      "
                    >
                      {{ 'add-paymentMethod.CommissionType' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="commissionType"
                      [options]="lookups[LookupEnum.CommissionType]"
                      optionValue="name"
                      optionLabel="name"
                      [selectedValue]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('commissionType')
                          ?.value
                      "
                      [readOnly]="true"
                    >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('commissionType')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('commissionValue')
                      "
                    >
                      {{ 'add-paymentMethod.CommissionValue' | translate }}
                    </lib-label>
                    <lib-text-input
                      type="number"
                      formControlName="commissionValue"
                      [readOnly]="true"
                    />
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('commissionValue')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get(
                          'commissionAccountId'
                        )
                      "
                    >
                      {{ 'add-paymentMethod.CommissionAccount' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="commissionAccountId"
                      [options]="accountsList"
                      optionLabel="name"
                      optionValue="id"
                      [selectedValue]="
                        (PaymentMethodForm.get('paymentMethodCommissionData')?.get(
                          'commissionAccountId'
                        ))!.value
                      "
                      [readOnly]="true"
                    >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get(
                          'commissionAccountId'
                        )
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
              </div>

              <div class="grid flex align-content-start flex-column mt-2">
                <div class="col-12 md:col-4" [formGroupName]="'paymentMethodCommissionData'">
                  <lib-form-group class="flex align-items-center">
                    <lib-input-switch formControlName="allowVAT" [disabled]="true" />

                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('allowVAT')
                      "
                      class="ml-2"
                    >
                      {{ 'add-paymentMethod.AllowVAT' | translate }}
                    </lib-label>
                  </lib-form-group>
                </div>

                <div
                  class="col-12 md:col-4"
                  *ngIf="
                    PaymentMethodForm.get('paymentMethodCommissionData')?.get('allowVAT')?.value
                  "
                  [formGroupName]="'paymentMethodCommissionData'"
                >
                  <lib-form-group>
                    <lib-label
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('taxId')
                      "
                    >
                      {{ 'add-paymentMethod.Tax' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="taxId"
                      [options]="taxList"
                      optionLabel="name"
                      optionValue="id"
                      [selectedValue]="
                        (PaymentMethodForm.get('paymentMethodCommissionData')?.get('taxId'))!.value
                      "
                      [readOnly]="true"
                    >
                    </lib-select>
                    <lib-field-validations
                      [appControl]="
                        PaymentMethodForm.get('paymentMethodCommissionData')?.get('taxId')
                      "
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
              </div>
            </lib-fildest>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn_group" >
  <div class="grid">
    <div class="md:col-5">
      <div class="grid">
        <div class="md:col-4">
          <lib-button-micro title="{{ 'Cancel' | translate }}" nameClass="cancel" widthNumber="100%"
            (click)="discard()">
          </lib-button-micro>
        </div>
      </div>
    </div>
  </div>
</div>
</lib-page-content>
