<lib-page-content>
    <lib-popup-page
      title="{{ 'stockIn.scan' | translate }}"
      [save]="false"
      [showCancel]="false"
     
    >
      <div [formGroup]="scanForm">CHA00000297785

        <zxing-scanner
          (scanSuccess)="onScanSuccess($event)" 
        >
        </zxing-scanner>
        <!-- Input field to manually enter scanned barcode -->
        <div class="md:col-12 my-2">
          <lib-label [appControl]="scanForm.controls['scan']">
            {{ 'stockIn.scanHere' | translate }}
          </lib-label>
          <!-- Bind form control for manual input -->
          <lib-text-input
            formControlName="scan"
            placeholder="{{ 'stock.scanHere' | translate }}"
            (valueChanged)="onInputManualBarcode($event)">
          </lib-text-input>
        </div>
      </div>
    </lib-popup-page>
  </lib-page-content>