<div class="main">
  <lib-popup-page
    title="{{ 'stockIn.ItemSearch' | translate }}"
    [closeFunction]="onCancel"
    (Submit)="onSubmit()"
    [showSave]="false"
    [showCancel]="false"
  >
    <div class="table">
      <lib-data-table
        [popup]="true"
        [items]="items"
        [noColumnFilter]="false"
        [showCheckBox]="false"
        className="p-datatable-gridlines  no-row-click"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'itemCode',
              headerText: 'stockIn.ItemCode' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'itemName',
              headerText: 'stockIn.ItemName' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'uomNameEn',
              headerText: 'stockIn.ItemUOM' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'itemVariantName',
              headerText: 'stockIn.ItemVariant' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'itemCategoryNameEn',
              headerText: 'stockIn.ItemCategory' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'itemCode',
              headerText: ('stockIn.Actions' | translate),
              template: action
            }
          ]
        }"
      >
        <ng-container caption>
          <div [formGroup]="filterForm" class="grid">
            <div class="col-12">
              <lib-text-input
                type="text"
                [placeholder]="'stockIn.search' | translate"
                [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
                (keyUp)="onSearchChange($event)"
              >
              </lib-text-input>
            </div>
            <div class="md:col-12">
              <div class="items_filter">
                <div class="md:col-4">
                  <lib-form-group>
                    <div class="checkbox_filter">
                      <p-checkbox
                        formControlName="categoryType"
                        inputId="IsStorable"
                        value="{{ sharedEnums.GetItemsQueryEnum.IsStorable }}"
                      ></p-checkbox>
                      <lib-label
                        class="margin_start"
                        for="IsStorable"
                        [appControl]="filterForm.controls['categoryType']"
                      >
                        {{ 'stockIn.IsStorable' | translate }}
                      </lib-label>
                    </div>
                  </lib-form-group>
                </div>
                <div class="md:col-4">
                  <lib-form-group>
                    <div class="checkbox_filter">
                      <p-checkbox
                        formControlName="categoryType"
                        inputId="isService"
                        value="{{ sharedEnums.GetItemsQueryEnum.IsService }}"
                      ></p-checkbox>
                      <lib-label
                        class="margin_start"
                        for="IsService"
                        [appControl]="filterForm.controls['categoryType']"
                      >
                        {{ 'stockIn.IsService' | translate }}
                      </lib-label>
                    </div>
                  </lib-form-group>
                </div>

                <div class="md:col-4">
                  <lib-form-group>
                    <div class="checkbox_filter">
                      <p-checkbox
                        formControlName="hasExpiryDate"
                        inputId="hasExpiryDate"
                        value="true"
                      ></p-checkbox>
                      <lib-label
                        class="margin_start"
                        for="HasExpiryDate"
                        [appControl]="filterForm.controls['hasExpiryDate']"
                      >
                        {{ 'stockIn.HasExpiryDate' | translate }}
                      </lib-label>
                    </div>
                  </lib-form-group>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #action let-item>
          <lib-button-micro nameClass="save" title="select" (click)="selectedRow(item)">
          </lib-button-micro>
        </ng-template>
      </lib-data-table>
    </div>
  </lib-popup-page>
</div>
