.items_filter {
    display: flex;
    justify-content: center;

}

.checkbox_filter {
    display: flex;
}

.margin_start {
    margin-inline-start: 10px;
}

::ng-deep {
    .main {
        .card {
            padding: 0 !important;
        }
    }
}

.no-row-click .p-datatable-tbody tr {
    pointer-events: none;
    /* Disable interaction for the entire row */
}

.no-row-click .p-datatable-tbody tr .save {
    pointer-events: auto;
    /* Re-enable interaction for the button */
}