<!-- <div class="container mt-4">
  <div class="row justify-content-center">

    <div class="col-md-8">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="card-title">{{ "Company.CompanyList" | translate }}</h3>
          <a class="btn btn-primary" (click)="navigateToAdd()">
            {{ "Company.Add.AddCompany" | translate }}
          </a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead class="thead-custom">
                <tr>
                  <th>
                    {{ "Company.Name" | translate }}
                  </th>
                  <th>
                    {{ "Company.CompanyType" | translate }}
                  </th>
                  <th>
                    {{ "Company.MobileNumber" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of companies">
                  <td>{{ item["name"] }}</td>
                  <td>{{ item["companyType"] }}</td>
                  <td>{{  item["mobileNumber"]  }}</td>

                  <td>
                    <button
                      class="btn btn-info"
                      (click)="toggle(item.id, item.isActive)"
                    >
                      {{
                        (item.isActive
                          ? "Company.Deactivate"
                          : "Company.Activate"
                        ) | translate
                      }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="company_page mt-4">
  <p-table
  #dt
  [value]="companies"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['name', 'email', 'representative.name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedCompanies"
  [rowsPerPageOptions]="[5, 10, 15]"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  class="flex flex-column "
  >

  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-end">

          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
          </span>
          <button pButton pRipple label="Add New" icon="pi pi-plus" class=" add_new mr-2"   (click)="navigateToAdd()"></button>

      </div>
  </ng-template>
  <ng-template pTemplate="header" >
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
          <th pSortableColumn="name" >  {{ "Company.Name" | translate }} <p-sortIcon field="name"></p-sortIcon></th>

          <th pSortableColumn="email">{{ "Company.CompanyType" | translate }} <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="category" style="min-width:10rem">{{ "Company.MobileNumber" | translate }} <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="rating">{{ "User.Actions" | translate }} <p-sortIcon field="rating"></p-sortIcon></th>
          <th pSortableColumn="inventoryStatus" style="min-width:10rem">{{ "User.Status" | translate }} <p-sortIcon field="inventoryStatus"></p-sortIcon></th>

      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
      </td>
          <td>
            <div class=" user_info">
              <p>{{ item.name }}</p>
            </div>
          </td>
          <td>{{ item.companyType }}</td>
          <td>
            {{ item.mobileNumber }}</td>
          <td>

            <p-button icon="pi pi-pencil"  [rounded]="true" [text]="true" severity="secondary "></p-button>
        </td>
          <td >
              <div class="checked"  >

                <p-inputSwitch [id]=" item.id"     (onChange)="changed($event , item.id )" [(ngModel)]="item.isActive">
                </p-inputSwitch>
                <p class="active" *ngIf=item.isActive>{{ "User.Activate" | translate }}</p>
                <p class="inactive" *ngIf="!item.isActive">{{ "User.Deactivate" | translate }}</p>
              </div>




          </td>

      </tr>
  </ng-template>
</p-table>

</div>

-->
