<lib-popup-page
  title="{{ 'Company.Add.AddCompany' | translate }}"
  [closeFunction]="onCancel"
  (Submit)="onSubmit()"
>
  <div>
    <div class="card">
      <form [formGroup]="addCompanyForm">
        <div class="grid">
          <div class="md:col-12">
            <div class="grid">
              <div class="md:col-12">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['name']">
                    {{ 'Company.Add.CompanyName' | translate }}
                  </lib-label>
                  <lib-text-input type="text" formControlName="name" />
                  <lib-field-validations [appControl]="addCompanyForm.controls['name']">
                  </lib-field-validations>
                </lib-form-group>
              </div>
              <div class="md:col-12">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['branchName']">
                    {{ 'Company.Add.BranchName' | translate }}
                  </lib-label>
                  <lib-text-input type="text" formControlName="branchName" />
                  <lib-field-validations [appControl]="addCompanyForm.controls['branchName']">
                  </lib-field-validations>
                </lib-form-group>
              </div>
              <div class="md:col-12">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['companyType']">
                    {{ 'Company.Add.CompanyType' | translate }}
                  </lib-label>
                  <lib-select
                    formControlName="companyType"
                    [options]="lookups[LookupEnum.CompanyType]"
                    optionValue="id"
                    optionLabel="name"
                    (valueChanged)="isSubsidairy($event)"
                    [selectedValue]="selectedCompanyType"
                    [readOnly]="isFirstCompany"
                  >
                  </lib-select>
                  <lib-field-validations [appControl]="addCompanyForm.controls['companyType']">
                  </lib-field-validations>
                </lib-form-group>
              </div>
              <div class="md:col-12">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['countryCode']">
                    {{ 'Company.Address.country' | translate }}
                  </lib-label>
                  <lib-selectIcon
                    formControlName="countryCode"
                    icons="flags"
                    [options]="lookups[LookupEnum.Country]"
                    [selectedValue]="selectedCountryCode"
                    optionValue="id"
                    icons="flags"
                    optionLabel="name"
                  >
                  </lib-selectIcon>
                </lib-form-group>
              </div>
              <div class="md:col-12">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['currencyId']">
                    {{ 'Company.Address.currency' | translate }}
                  </lib-label>
                  <lib-select
                    formControlName="currencyId"
                    [options]="lookups[LookupEnum.Currency]"
                    optionValue="id"
                    optionLabel="name"
                    [selectedValue]="selectedCurrency"
                  >
                  </lib-select>
                </lib-form-group>
              </div>
              <div class="md:col-12" *ngIf="showHoldingCompanies">
                <lib-form-group>
                  <lib-label [appControl]="addCompanyForm.controls['parentId']">
                    {{ 'Company.Add.ParentCompany' | translate }}
                  </lib-label>
                  <lib-select
                    formControlName="parentId"
                    [options]="holdingCompanies"
                    optionValue="id"
                    optionLabel="name"
                  >
                  </lib-select>
                </lib-form-group>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</lib-popup-page>


