<lib-page-content [title]="'stockOut.TaxList' | translate" [subTitle]="'stockOut.TaxList' | translate">

  <div [formGroup]="addForm" class="stockInForm_header card_micro">
    <!-- <p class="title test">{{ 'journal_entry_header' | translate }}</p> -->
    <div class="grid">
      <div class="md:col-2 my-2">
        <lib-label [appControl]="addForm.controls['code']">
          {{ 'stockOut.code' | translate }}
        </lib-label>
        <lib-text-input [readOnly]="true" placeholder="{{ 'stockOut.code' | translate }}"
          formControlName="code"></lib-text-input>
        <lib-field-validations [appControl]="addForm.controls['code']"></lib-field-validations>
      </div>
      <div class="md:col-2 my-2">
        <lib-label [appControl]="addForm.controls['receiptDate']">
          {{ 'stockOut.date' | translate }}
        </lib-label>
        <lib-calendar formControlName="receiptDate"></lib-calendar>
        <lib-field-validations [appControl]="addForm.controls['receiptDate']"></lib-field-validations>
      </div>

      <div class="md:col-2 my-2">
        <lib-label [appControl]="addForm.controls['sourceDocumentType']">
          {{ 'stockOut.docType' | translate }}
        </lib-label>
        <lib-select 
        formControlName="sourceDocumentType" 
        [options]="lookups[LookupEnum.StockInOutSourceDocumentType]"
          optionValue="id"
           optionLabel="name">
        </lib-select>
        <lib-field-validations [appControl]="addForm.controls['sourceDocumentType']"></lib-field-validations>
      </div>
      <div class="md:col-3 my-2">
        <lib-label [appControl]="addForm.controls['sourceDocumentId']">
          {{ 'stockOut.sourceDoc' | translate }}
        </lib-label>
        <lib-select 
        formControlName="sourceDocumentId" 
        [options]="oprationalLookup"
        optionValue="id"
        optionLabel="displayName"
          placeholder="{{ 'stockOut.sourceDoc' | translate }}"
          [selectedValue]="addForm.controls['sourceDocumentId']?.value">
        </lib-select>
        <lib-field-validations [appControl]="addForm.controls['sourceDocumentId']"></lib-field-validations>
      </div>
      <div class="md:col-3 my-2">
        <lib-label [appControl]="addForm.controls['warehouseId']">
          {{ 'stockOut.warehouse' | translate }}
        </lib-label>
        <!-- <lib-select formControlName="warehouseId" [options]="warhouseLookupData" optionValue="id" optionLabel="name"
          placeholder="{{ 'stockOut.warehouse' | translate }}" [selectedValue]="addForm.controls['warehouseId'].value"
          (valueChanged)="getLatestItemsList( addForm.controls['warehouseId'].value)">
        </lib-select> -->
        <lib-text-input
        formControlName="warehouseName"
        [readOnly]="true"
        >

        </lib-text-input>
        <lib-field-validations [appControl]="addForm.controls['warehouseId']"></lib-field-validations>
      </div>
      <div class="md:col-6 my-2">
        <div>
          <lib-label [appControl]="addForm.controls['notes']">
            {{ 'stockOut.notes' | translate }}
          </lib-label>
        </div>

        <textarea pInputTextarea style="width: 100% ;max-width: 100%; height: auto; max-height: 150px;" rows="1" formControlName="notes"
          placeholder="{{ 'stockOut.notes' | translate }}"></textarea>
      </div>
    </div>
  </div>

  <div class="my-2 card_micro">
    <p-table [value]="stockOutDetailsFormArray.controls" dataKey="id"
      styleClass="p-datatable-gridlines p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'stockOut.barcode' | translate }}</th>
          <th>{{ 'stockOut.itemCode' | translate }}</th>
          <th>{{ 'stockOut.itemDescription' | translate }}</th>
          <th>{{ 'stockOut.UOM' | translate }}</th>
          <th>{{ 'stockOut.QTY' | translate }}</th>
          <th>{{ 'stockOut.cost' | translate }}</th>
          <th>{{ 'stockOut.subTotal' | translate }}</th>
          <th>{{ 'stockOut.batch' | translate }}</th>
          <th>{{ 'stockOut.serial' | translate }}</th>
          <th>{{ 'stockOut.expiryDate' | translate }}</th>
          <th>{{ 'stockOut.note' | translate }}</th>
          <th>{{ 'stockOut.availability' | translate }}</th>
          <th>{{ 'stockOut.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stockOutFormGroup let-editing="editing" let-rowIndex="rowIndex">
        <tr [formGroup]="stockOutFormGroup">
          <td [pEditableColumn]="stockOutFormGroup.controls['barCode']" pEditableColumnField="barCode">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input placeholder="{{ 'stockOut.barcode' | translate }}"
                  formControlName="barCode"></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['barCode']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['barCode']"></lib-field-validations>
          </td>

          <td [pEditableColumn]="stockOutFormGroup.controls['itemId']" pEditableColumnField="itemId">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <div class="flex gap-2 align-items-center">
                  <lib-select
                   formControlName="itemId"
                   [options]="filteredItems"
                    optionValue="itemId"
                     optionLabel="displayName"
                    [customClass]="'add-journal'"
                    (valueChanged)="setRowData(rowIndex, $event ,filteredItems)"
                    selectedValue="{{stockOutFormGroup.controls['itemId'].value}}"
                    (valueSearchChanged)="onFilter($event ,  stockInForm.controls['warehouseId'].value)"></lib-select>
                  <i class="pi pi-search search-circle"></i>
                  <!-- (click)="openDialog(rowIndex)" -->
                </div>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.get('itemName').value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['itemId']"></lib-field-validations>
          </td>
          <td [pEditableColumn]="stockOutFormGroup.controls['description']" pEditableColumnField="description">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input placeholder="{{ 'stockOut.itemDescription' | translate }}"
                  formControlName="description"></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['description']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['description']"></lib-field-validations>
          </td>

          <td [pEditableColumn]="stockOutFormGroup.controls['uomId']" pEditableColumnField="uomId">
            <p-cellEditor>
              <ng-template pTemplate="input">

                <lib-select
                placeholder="{{ 'stockOut.UOM' | translate }}" 
                formControlName="uomId"
                [options]="stockOutFormGroup.get('uomOptions').value"
                [optionLabel]="selectedLanguage === 'en' ? 'uomNameEn' : 'uomNameAr'"
                optionValue="uomId"
                 (valueChanged)="setUomName(rowIndex ,stockOutFormGroup.get('uomOptions').value )"
                >

                </lib-select>
                <!-- <lib-text-input placeholder="{{ 'stockOut.UOM' | translate }}" formControlName="uomId"></lib-text-input> -->
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['uomName']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['uomId']"></lib-field-validations>
          </td>

          <td [pEditableColumn]="stockOutFormGroup.controls['quantity']" pEditableColumnField="quantity">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input 
                type="number"
                placeholder="{{ 'stockOut.QTY' | translate }}"
                  formControlName="quantity" (keyUp)="setCostTotal(rowIndex, $event)"></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['quantity']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['quantity']"></lib-field-validations>
          </td>

          <td [pEditableColumn]="stockOutFormGroup.controls['cost']" pEditableColumnField="cost">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input placeholder="{{ 'stockOut.cost' | translate }}" formControlName="cost"></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['cost']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['cost']"></lib-field-validations>
          </td>
        <td>
          {{ stockOutFormGroup.controls['subCost']?.value }}

        </td>

          <td [pEditableColumn]="stockOutFormGroup?.get('stockOutTracking')?.get('batchNo')"
          pEditableColumnField="batchNo"
      *ngIf="stockOutFormGroup.controls['showBatch']?.value "
          >
        
        <p-cellEditor>
          <ng-template pTemplate="input">
            <lib-select
              [formControl]="stockOutFormGroup?.get('stockOutTracking')?.get('batchNo')"
              [options]="stockOutFormGroup?.get('stockOutTracking')?.get('batchesOptions')?.value "
              optionLabel="trackingNo"
              optionValue="trackingNo"
              [selectedValue]="stockOutFormGroup?.get('trackingNo')?.value"
              (valueChanged)="setTrackingNo(rowIndex, $event); setExpiryDate(rowIndex,
              stockOutFormGroup?.get('stockOutTracking')?.get('batchesOptions')?.value,
               stockOutFormGroup?.get('stockOutTracking')?.get('serialOptions')?.value ) "
              
              >
            </lib-select>
          </ng-template>
          
          <ng-template pTemplate="output">
           {{ stockOutFormGroup?.get('trackingNo')?.value}}
          
          </ng-template>
        </p-cellEditor>
      
        <lib-field-validations
          [appControl]="stockOutFormGroup?.get('stockOutTracking')?.get('batchNo')">
        </lib-field-validations>
      </td>
      <td class="readOnly" *ngIf="  !stockOutFormGroup.controls['showBatch']?.value ">
        {{ 'stockOut.noTracking' | translate }}      </td>

          <td [pEditableColumn]="stockOutFormGroup?.controls['stockOutTracking']?.get('serialId')"
            pEditableColumnField="serialId"
            
           *ngIf=" stockOutFormGroup.controls['showSerial']?.value "

            >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-select
                placeholder="{{ 'stockOut.serial' | translate }}"
                [formControl]="stockOutFormGroup?.get('stockOutTracking')?.get('serialId')"
                [options]="stockOutFormGroup?.get('stockOutTracking')?.get('serialOptions').value"
                optionLabel="trackingNo"
                optionValue="trackingNo"
                [selectedValue]="stockOutFormGroup?.get('trackingNo')?.value"
                (valueChanged)="setTrackingNo(rowIndex, $event); 
                setExpiryDate(rowIndex
                 , stockOutFormGroup?.get('stockOutTracking')?.get('batchesOptions')?.value ,
                  stockOutFormGroup?.get('stockOutTracking')?.get('serialOptions')?.value ) "
                
                
                >

                </lib-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup?.get('trackingNo')?.value}}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations
              [appControl]="stockOutFormGroup?.controls['stockOutTracking']?.get('serialId')"></lib-field-validations>
          </td>
          <td class="readOnly" *ngIf=" !stockOutFormGroup.controls['showSerial']?.value ">
            {{ 'stockOut.noTracking' | translate }}          </td>


          <td 
            class="readOnly"
            >
            <p>
              <span class="pi pi-calendar"></span>
              {{
                stockOutFormGroup?.get('expiryDate')?.value
                  ? (stockOutFormGroup.get('expiryDate').value | date: 'dd-MM-yyyy')
                  : ('stockOut.noTracking' | translate)
              }}
            </p>            
          </td>
          <td [pEditableColumn]="stockOutFormGroup.controls['notes']" pEditableColumnField="notes">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <lib-text-input placeholder="{{ 'stockOut.note' | translate }}"
                  formControlName="notes"></lib-text-input>
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockOutFormGroup.controls['notes']?.value }}
              </ng-template>
            </p-cellEditor>
            <lib-field-validations [appControl]="stockOutFormGroup.controls['notes']"></lib-field-validations>
          </td>
         <td
         class="readOnly"
         >
          <p class="test" [ngClass]="{
            'Available':  stockOutFormGroup.controls['quantity']?.value <= stockOutFormGroup.controls['totalQuantity']?.value,
            'unavailable':  stockOutFormGroup.controls['quantity']?.value > stockOutFormGroup.controls['totalQuantity']?.value,
            
            }">{{ stockOutFormGroup.controls['totalQuantity']?.value }}</p>
         </td>
          <td>
            <lib-button-micro nameClass="table_button_delete"
            (click)="deleteRow(rowIndex)"
            >

            </lib-button-micro>
          </td>
          <!--  -->
        </tr>
      </ng-template>
    </p-table>
    <div class="add_new  flex justify-content-start">
      <lib-button (onClick)="addNewRow()" className="outline-primary">
        {{ 'itemType.add_new' | translate }}
      </lib-button>
    </div>
  </div>

  <div class="grid">
    <div class="md:col-12 my-3 grid flex justify-content-end">
      <div class="md:col-4 grid flex justify-content-end">
        <div class="md:col-6">
          <lib-button-micro title="{{ 'Cancel' | translate }}" nameClass="cancel" widthNumber="100%"
            (click)="onCancel()">
          </lib-button-micro>
        </div>
        <div class="md:col-6">
          <lib-button-micro title="{{ 'Save' | translate }}" nameClass="save" widthNumber="100%" (click)="onSave()">
          </lib-button-micro>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>