<lib-popup-page
  title="Edit User"
  [closeFunction]="onCancel"
  (Submit)="onSubmit()"
>
  <div>
    <div class="card">
      <div class="card_edit">
        <div class="information">
          <div class="user_photo">
            <!-- <img
              [src]="getProfilePic()"
              onerror="this.src='assets/images/users/editdefault.png'"
              alt=""
            /> -->
            <lib-attachment-viewer *ngIf="userPhoto" [attachmentId]="userPhoto" />
          </div>
          <div class="user_name">
            <p>{{ userName }}</p>
          </div>
          <div class="user_mail">
            <p>{{ userEmail }}</p>
          </div>
        </div>
        <div class="admin_edit">
          <form
            [formGroup]="editUserForm"
            (ngSubmit)="onSubmit()"
            *ngIf="lookupsService.lookupsLoaded"
          >
            <lib-form-group>
              <lib-label [appControl]="editUserForm.controls['companyId']"> Company </lib-label>
              <lib-select
                formControlName="companyId"
                [options]="companies"
                [selectedValue]="selectedCompany"
                optionValue="id"
                optionLabel="name"
                (valueChanged)="onCompanyChange($event)"
              >
              </lib-select>
              <lib-field-validations [appControl]="editUserForm.controls['companyId']">
              </lib-field-validations>
            </lib-form-group>
            <div class="mt-4">
              <lib-form-group>
                <lib-label [appControl]="editUserForm.controls['branchIds']"> Branches </lib-label>
                <lib-multi-select
                  formControlName="branchIds"
                  [options]="branches"
                  optionValue="id"
                  optionLabel="branchName"
                  [selectedValue]="selectedBranches!"
                 

                >
                </lib-multi-select>
                <lib-field-validations [appControl]="editUserForm.controls['branchIds']">
                </lib-field-validations>
              </lib-form-group>
            </div>

            <div *ngFor="let subdomainName of subdomains" class="mt-4">
              <lib-form-group>
                <label> Domain Space </label>
                <lib-text-input [readOnly]="true" [placeholder]="subdomainName"> </lib-text-input>
              </lib-form-group>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</lib-popup-page>
