
@import '../../../../../assets/styling/scss/variables/font-family';



.card_edit{
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    .information{
        width: 250px;
        margin-inline-end: 20px;
        .user_photo{
          width: 175px;
          height: 150px;
          border: 1px dashed #000;
          border-radius: 8px;
          img{
              width: 100%;
              height: 100%;
              border-radius: 8px;
          }
      }
    
        .user_name{
            font-size: 18px;
            color: #6B7280;
            text-transform: capitalize;
        }
        .user_mail{
            font-size: 16px;
            color: #6B7280;
        }
    }
    .admin_edit{
        width: 80%;
        .card{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }

    }

}
.view{
    font-size: 1rem;
    color: #4b5563;
    background: #ffffff;
    padding:15px;
    min-height: 40px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
  }