


<!-- Crafted -->
<div
  class=" menu-item menu-lg-down-accordion me-lg-1 menu-dropdown "
  data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start"
>
  <span
    class="menu-link cont py-3"
    [ngClass]="calculateMenuItemCssClass('/crafted')"
  >
    <span class="menu-title">Pages</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div

    class="cont menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
  

  <div class="menu-item me-lg-1">
    <a
      class="menu-link py-3"
      routerLinkActive="active"
      routerLink="/bussiness-owners"
      ><span class="menu-bullet"
        ><span class="bullet bullet-dot"></span></span
      ><span class="menu-title">Bussiness Owner</span></a
    >
  </div>
  </div>
</div>

