<lib-page-content [title]="'stockIn.TaxList' | translate" [subTitle]="'stockIn.TaxList' | translate">

<div [formGroup]="stockInForm" class="stockInForm_header">
  <div class="grid">
    <div class="md:col-2 my-2">
      <lib-label [appControl]="stockInForm.controls['code']">
        {{ 'stockIn.code' | translate }}
      </lib-label>
      <lib-text-input
        placeholder="{{ 'stockIn.code' | translate }}"
        formControlName="code"
      ></lib-text-input>
      <lib-field-validations [appControl]="stockInForm.controls['code']"></lib-field-validations>
    </div>
    <div class="md:col-2 my-2">
      <lib-label [appControl]="stockInForm.controls['receiptDate']">
        {{ 'stockIn.date' | translate }}
      </lib-label>
      <lib-calendar formControlName="receiptDate"></lib-calendar>
      <lib-field-validations [appControl]="stockInForm.controls['receiptDate']"></lib-field-validations>
    </div>

        <div class="md:col-6 my-2">
            <lib-label [appControl]="stockInForm.controls['code']">
            {{ 'stockIn.docType' | translate }}
            </lib-label>
            <lib-select
            formControlName="code"
            [options]="[]"
            optionValue="id"
            optionLabel="name"
            placeholder="{{ 'stockIn.docType' | translate }}"
            [selectedValue]="stockInForm.controls['code'].value"
            >
            </lib-select>
            <lib-field-validations
            [appControl]="stockInForm.controls['code']"
            ></lib-field-validations>
        </div>
        <div class="md:col-6 my-2">
            <lib-label [appControl]="stockInForm.controls['code']">
            {{ 'stockIn.sourseDoc' | translate }}
            </lib-label>
            <lib-select
            formControlName="code"
            [options]="[]"
            optionValue="id"
            optionLabel="name"
            placeholder="{{ 'stockIn.sourseDoc' | translate }}"
            [selectedValue]="stockInForm.controls['code'].value"
            >
            </lib-select>
            <lib-field-validations
            [appControl]="stockInForm.controls['code']"
            ></lib-field-validations>
        </div>
        <div class="md:col-12 my-2">
            <lib-label [appControl]="stockInForm.controls['code']">
            {{ 'stockIn.warehouse' | translate }}
            </lib-label>
            <lib-select
            formControlName="code"
            [options]="[]"
            optionValue="id"
            optionLabel="name"
            placeholder="{{ 'stockIn.warehouse' | translate }}"
            [selectedValue]="stockInForm.controls['code'].value"
            >
            </lib-select>
            <lib-field-validations
            [appControl]="stockInForm.controls['code']"
            ></lib-field-validations>
        </div>
        <div class="md:col-12 my-2">
            <div>
                <lib-label [appControl]="stockInForm.controls['code']">
                    {{ 'stockIn.notes' | translate }}
                    </lib-label>
            </div>

            <textarea
            pInputTextarea
            style="width: 100%;"
                rows="1"
                placeholder="{{ 'stockIn.notes' | translate }}"
            ></textarea>
        </div>

    </div>
</div>
</lib-page-content>
