::ng-deep {
    .p-inputtext {
        border: 1px solid #e3e3e3;
        padding-block: 11px;
        outline: none !important;
        box-shadow: none !important;
        width: 100%;
    }
}
.search-circle , .pointer{
    cursor: pointer;
}
.track{
    font-weight: bold;
}
.hide {
    display: none
}
.danger{
    color: rgb(237, 42, 42);
    text-align: center;
}