
.itemAttributes-valuse
{
  background: #f2f4f8;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin: 0px 10px;
}


.itemAttributes{
  display: flex;
}

.active-true{
  color: #1a90b0;
  margin: 0px 5px;
}
