<lib-page-content
  [title]="'salesReturnInvoice.salesReturnInvoice' | translate"
  [subTitle]="'salesReturnInvoice.salesReturnInvoice' | translate"
>
  <div [formGroup]="salesReturnForm" class="stockInForm_header card_micro">
    <div class="md:col-12 mt-2">
      <!-- main Information first form -->
      <div class="card_information">
        <div class="line"></div>
        <div class="item">
          <div class="title heading_b18">
            <p class="p-0 m-0">{{ 'salesReturnInvoice.mainInformation' | translate }}</p>
          </div>
          <div class="item_body">
            <div class="grid">
              <!-- Return code  -->
              <div class="md:col-2 my-2">
                <lib-label [appControl]="salesReturnForm.controls['code']">
                  {{ 'salesReturnInvoice.returnCode' | translate }}
                </lib-label>
                <lib-text-input
                  [readOnly]="true"
                  placeholder="{{ 'salesReturnInvoice.returnCode' | translate }}"
                  formControlName="code"
                ></lib-text-input>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['code']"
                ></lib-field-validations>
              </div>
              <!-- return date -->
              <div class="md:col-2 my-2">
                <lib-label [appControl]="salesReturnForm.controls['returnDate']">
                  {{ 'salesReturnInvoice.returnDate' | translate }}
                </lib-label>
                  
                  <lib-calendar formControlName="returnDate"  [ngClass]="{ 'readonly-calendar': disableAllThePage }" ></lib-calendar>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['returnDate']"


                ></lib-field-validations>
              </div>
              <!-- created stock in -->
              <div class="md:col-4 my-2">
                <lib-label [appControl]="salesReturnForm.controls['createdStockIn']">
                  {{ 'salesReturnInvoice.createdStockIn' | translate }}
                </lib-label>
                <lib-text-input
                  placeholder="{{ 'salesReturnInvoice.createdStockIn' | translate }}"
                  formControlName="createdStockIn"
                  [readOnly]="true"
                ></lib-text-input>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['createdStockIn']"
                ></lib-field-validations>
              </div>
              <!-- related Journal -->
              <div class="md:col-4 my-2">
                <lib-label [appControl]="salesReturnForm.controls['relatedJournal']">
                  {{ 'salesReturnInvoice.relatedJournal' | translate }}
                </lib-label>
                <lib-text-input
                  placeholder="{{ 'salesReturnInvoice.relatedJournal' | translate }}"
                  formControlName="relatedJournal"
                  [readOnly]="true"
                ></lib-text-input>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['relatedJournal']"
                ></lib-field-validations>
              </div>

              <!-- description -->
              <div class="md:col-4 my-2">
                <div>
                  <lib-label [appControl]="salesReturnForm.controls['description']">
                    {{ 'salesReturnInvoice.description' | translate }}
                  </lib-label>
                </div>

                <textarea
                  pInputTextarea
                  style="width: 100%; max-width: 100%; height: auto; max-height: 150px"
                  rows="1"
                  formControlName="description"
                  placeholder="{{ 'salesReturnInvoice.description' | translate }}"

                  [readOnly]="disableAllThePage"
                ></textarea>
              </div>
              <!-- warehouse  -->
              <div class="md:col-4 my-2">
                <lib-label [appControl]="salesReturnForm.controls['warehouseId']">
                  {{ 'salesReturnInvoice.warehouse' | translate }}
                </lib-label>
                <lib-select
                  formControlName="warehouseId"
                  [options]="warhouseLookupData"
                  optionValue="id"
                  optionLabel="name"
                  placeholder="{{ 'salesReturnInvoice.warehouse' | translate }}"
                  [selectedValue]="salesReturnForm.controls['warehouseId'].value"
                  [readOnly]="disableAllThePage"

                  >
                </lib-select>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['warehouseId']"
                ></lib-field-validations>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Customer Info -->
    <div class="md:col-12 mt-2">
      <div class="card_information">
        <div class="line"></div>
        <div class="item">
          <div class="title heading_b18">
            <p class="p-0 m-0">{{ 'salesReturnInvoice.customerInformation' | translate }}</p>
          </div>
          <div class="item_body">
            <div class="grid">
              <div class="grid col-12">
                <!-- customer code -->
                <div class="md:col-4 my-2">
                  <lib-label [appControl]="salesReturnForm.controls['customerId']">
                    {{ 'salesReturnInvoice.customerCode' | translate }}
                  </lib-label>
                  <lib-select
                    formControlName="customerId"
                    [options]="customerList"
                    optionValue="id"
                    optionLabel="code"
                    placeholder="{{ 'salesReturnInvoice.customerCode' | translate }}"
                    [selectedValue]="salesReturnForm.controls['customerId'].value"
                    [readOnly]="true"
                  >
                  </lib-select>

                  <lib-field-validations
                    [appControl]="salesReturnForm.controls['customerId']"
                  ></lib-field-validations>
                </div>
                <!--customerName  -->
                <div class="md:col-4 my-2">
                  <lib-label [appControl]="salesReturnForm.controls['customerName']">
                    {{ 'salesReturnInvoice.customerName' | translate }}
                  </lib-label>
                  <lib-text-input
                    placeholder="{{ 'salesReturnInvoice.customerName' | translate }}"
                    formControlName="customerName"
                    [readOnly]="true"
                  ></lib-text-input>
                  <lib-field-validations
                    [appControl]="salesReturnForm.controls['customerName']"
                  ></lib-field-validations>
                </div>
                <!-- currency -->
                <div class="md:col-2 my-2">
                  <lib-label [appControl]="salesReturnForm.controls['currencyName']">
                    {{ 'salesReturnInvoice.currency' | translate }}
                  </lib-label>

                  <lib-text-input
                    placeholder="{{ 'salesReturnInvoice.currency' | translate }}"
                    formControlName="currencyName"
                    [readOnly]="true"
                  ></lib-text-input>
                  <lib-field-validations
                    [appControl]="salesReturnForm.controls['currencyName']"
                  ></lib-field-validations>
                </div>
              </div>

              <!-- SALES INVOICE -->
              <div class="md:col-4 my-2">
                <lib-label [appControl]="salesReturnForm.controls['salesInvoiceId']">
                  {{ 'salesReturnInvoice.salesInvoice' | translate }}
                </lib-label>
                <lib-select
                  formControlName="salesInvoiceId"
                  [options]="salesInvoiceList"
                  optionValue="id"
                  optionLabel="code"
                  placeholder="{{ 'salesReturnInvoice.salesInvoice' | translate }}"
                  [selectedValue]="salesReturnForm.controls['salesInvoiceId'].value"
                  [readOnly]="true"
                >
                </lib-select>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['salesInvoiceId']"
                ></lib-field-validations>
              </div>
              <!-- sales man -->
              <div class="md:col-4 my-2">
                <lib-label [appControl]="salesReturnForm.controls['salesManName']">
                  {{ 'salesReturnInvoice.salesMan' | translate }}
                </lib-label>

                <lib-text-input
                  placeholder="{{ 'salesReturnInvoice.salesMan' | translate }}"
                  formControlName="salesManName"
                  [readOnly]="true"
                ></lib-text-input>
                <lib-field-validations
                  [appControl]="salesReturnForm.controls['salesManName']"
                ></lib-field-validations>
              </div>
              <!-- rate -->
              <div class="md:col-2 my-2">
                <lib-label [appControl]="salesReturnForm.controls['rate']">
                  {{ 'salesReturnInvoice.rate' | translate }}
                </lib-label>
                <lib-text-input
                  placeholder="{{ 'salesReturnInvoice.rate' | translate }}"
                  formControlName="rate"
                  [readOnly]="true"
                ></lib-text-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-2 card_micro tableCont p-6">
      <p-table
        [value]="salesReturnFormArray['controls']"
        dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped p-datatable-gridlines"
      >
        <!-- template header -->
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'salesReturnInvoice.itemCode' | translate }}</th>
            <th>{{ 'salesReturnInvoice.itemName' | translate }}</th>
            <th>{{ 'salesReturnInvoice.UOM' | translate }}</th>
            <th>{{ 'salesReturnInvoice.remainQTY' | translate }}</th>
            <th>{{ 'salesReturnInvoice.toReturnQTY' | translate }}</th>
            <th>{{ 'salesReturnInvoice.originalQTY' | translate }}</th>
            <th>{{ 'salesReturnInvoice.price' | translate }}</th>
            <th>{{ 'salesReturnInvoice.subTotal' | translate }}</th>
            <th>{{ 'salesReturnInvoice.discountAmount' | translate }}</th>
            <th>{{ 'salesReturnInvoice.totalAfterDiscount' | translate }}</th>
            <th>{{ 'salesReturnInvoice.vatAmount' | translate }}</th>
            <th>{{ 'salesReturnInvoice.grandTotal' | translate }}</th>
            <th>{{ 'salesReturnInvoice.tracking' | translate }}</th>
            <th>{{ 'salesReturnInvoice.expiryDate' | translate }}</th>
            <th>{{ 'salesReturnInvoice.actions' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-salesReturnFormGroup
          let-editing="editing"
          let-i="rowIndex"
        >
          <tr [formGroup]="salesReturnFormGroup">
            <!-- itemCodeName -->
            <td>{{ salesReturnFormGroup.controls['itemCodeName'].value }}</td>

            <!-- description -->
            <td>
              {{ salesReturnFormGroup.controls['itemName']?.value }}
            </td>
            <!-- uom -->
            <td>
              {{ salesReturnFormGroup.controls['uomName']?.value }}
            </td>

            <!--  remainQTY-->
            <td>
              {{ salesReturnFormGroup.controls['remainQTY']?.value }}
            </td>

            <!-- toReturnQTY  -->

            <td
              [pEditableColumn]="salesReturnFormGroup.controls['toReturnQTY']"
              pEditableColumnField="toReturnQTY"
              [ngClass]="{
                error: i == rowDuplicate
              }"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    type="number"
                    placeholder="{{ 'salesReturnInvoice.toReturnQTY' | translate }}"
                    formControlName="toReturnQTY"
                    (keyUp)="setReturnQuantity(i)"
                    (valueChanged)="setReturnQuantity(i)"
                    [readOnly]="disableAllThePage"

                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ salesReturnFormGroup.controls['toReturnQTY']?.value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="salesReturnFormGroup.controls['toReturnQTY']"
              ></lib-field-validations>
            </td>
            <!-- toReturnQTY  -->

            <td>
              {{ salesReturnFormGroup.controls['originalQTY']?.value }}
            </td>
            <!-- cost - price -->

            <td>
              {{ salesReturnFormGroup.controls['cost']?.value }}
            </td>

            <!-- sub Total -->
            <td>
              <div
                *ngIf="
                  salesReturnFormGroup.controls['remainQTY']?.value &&
                  salesReturnFormGroup.controls['cost']?.value
                "
              >
                {{
                  salesReturnFormGroup.controls['remainQTY']?.value *
                    salesReturnFormGroup.controls['cost']?.value | numberFormat
                }}
              </div>
            </td>

            <!-- discount Amount -->
            <td>
              {{ salesReturnFormGroup.controls['discountAmount']?.value | numberFormat }}
            </td>

            <!-- Total After Discount -->
            <td>
              {{
                salesReturnFormGroup.controls['remainQTY']?.value *
                  (salesReturnFormGroup.controls['cost']?.value -
                    salesReturnFormGroup.controls['discountAmount']?.value)
              }}
            </td>

            <!-- Vat Amount -->
            <td>
              {{
                (salesReturnFormGroup.controls['remainQTY']?.value *
                  (salesReturnFormGroup.controls['cost']?.value -
                    salesReturnFormGroup.controls['discountAmount']?.value) *
                  salesReturnFormGroup.controls['vatPercentage']?.value) /
                  100 | numberFormat
              }}
            </td>

            <!-- Grand Total -->
            <td>
              {{
                salesReturnFormGroup.controls['remainQTY']?.value *
                  (salesReturnFormGroup.controls['cost']?.value -
                    salesReturnFormGroup.controls['discountAmount']?.value) +
                  (salesReturnFormGroup.controls['remainQTY']?.value *
                    (salesReturnFormGroup.controls['cost']?.value -
                      salesReturnFormGroup.controls['discountAmount']?.value) *
                    salesReturnFormGroup.controls['vatPercentage']?.value) /
                    100 | numberFormat
              }}
            </td>

            <td>
              {{ salesReturnFormGroup.controls['trackingType']?.value }}
            </td>

            <!--  expiryDate-->
            <td>
              {{ salesReturnFormGroup.controls['expiryDate']?.value | date : 'dd/MM/yyyy' }}
            </td>

            <td>
              <div class="flex gap-3" *ngIf="!disableAllThePage">
                <img
                  src="assets/images/table/delete.svg"
                  class="pointer"
                  alt=""
                  (click)="deleteRow(i, salesReturnFormGroup.controls['id']?.value)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <th></th>
          <th></th>
          <th></th>
          <th class="total">{{ totalQuantity }}</th>
          <th class="total">{{ totalReturnQuantity }}</th>
          <th class="total">{{ totalOriginalQuantity }}</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </ng-template>
      </p-table>
    </div>
    <div class="floated">
      <div class="divCont">
        <p class="p-0 m-0">{{ 'salesReturnInvoice.invoiceSummary' | translate }}</p>
      </div>
    </div>
    <div class="card_micro">
      <div class="grid my-3 foot">
        <div class="col-12 grid">
          <!-- number Of Item  -->
          <div class="md:col-2">
            <lib-label [appControl]="salesReturnForm.controls['numberOfItems']">
              {{ 'salesReturnInvoice.numberOfItems' | translate }}
            </lib-label>
            <lib-text-input
              placeholder="{{ 'salesReturnInvoice.totalQuantity' | translate }}"
              formControlName="numberOfItems"
              [readOnly]="true"
            ></lib-text-input>
            <lib-field-validations
              [appControl]="salesReturnForm.controls['numberOfItems']"
            ></lib-field-validations>
          </div>
          <!-- total -->
          <div class="md:col-2">
            <lib-label [appControl]="salesReturnForm.controls['total']">
              {{ 'salesReturnInvoice.total' | translate }}
            </lib-label>
            <lib-text-input
              placeholder="{{ 'salesReturnInvoice.total' | translate }}"
              formControlName="total"
              [readOnly]="true"
            ></lib-text-input>
            <lib-field-validations
              [appControl]="salesReturnForm.controls['total']"
            ></lib-field-validations>
          </div>
          <!-- vat Amount -->
          <div class="md:col-2">
            <lib-label [appControl]="salesReturnForm.controls['vatAmount']">
              {{ 'salesReturnInvoice.vatAmount' | translate }}
            </lib-label>
            <lib-text-input
              placeholder="{{ 'salesReturnInvoice.vatAmount' | translate }}"
              formControlName="vatAmount"
              [readOnly]="true"
            ></lib-text-input>
          </div>
          <!-- total After Vat -->
          <div class="md:col-2">
            <lib-label [appControl]="salesReturnForm.controls['totalAfterVat']">
              {{ 'salesReturnInvoice.totalAfterVat' | translate }}
            </lib-label>
            <lib-text-input
              placeholder="{{ 'salesReturnInvoice.totalAfterVat' | translate }}"
              formControlName="totalAfterVat"
              [readOnly]="true"
            ></lib-text-input>
          </div>
        </div>

        <div class="grid col-12">
          <!-- total of quantity -->
          <div class="md:col-2">
            <lib-label [appControl]="salesReturnForm.controls['totalOfQuantity']">
              {{ 'salesReturnInvoice.totalOfQuantity' | translate }}
            </lib-label>
            <lib-text-input
              placeholder="{{ 'salesReturnInvoice.totalOfQuantity' | translate }}"
              formControlName="totalOfQuantity"
              [readOnly]="true"
            ></lib-text-input>
            <lib-field-validations
              [appControl]="salesReturnForm.controls['totalOfQuantity']"
            ></lib-field-validations>
          </div>
        </div>
      </div>
      <hr />

      <div class="grid">
        <div class="md:col-12 my-3 grid flex justify-content-end">
          <div class="md:col-6 grid flex justify-content-end">
            <div class="md:col-3">
              <lib-button-micro
                title="{{ 'cancel' | translate }}"
                nameClass="cancel"
                widthNumber="100%"
                (click)="onCancel()"
              >
              </lib-button-micro>
            </div>
            <div class="md:col-3" *ngIf="!disableAllThePage" >
              <!-- Save Button -->
              <lib-button-micro
                title="{{ 'Save' | translate }}"
                [disabled]="formChanges"
                nameClass="{{ !formChanges ? 'save' : 'disabled' }}"
                widthNumber="100%"
                (click)="onSave()"
              >
              </lib-button-micro>
            </div>

            <div class="md:col-3" *ngIf="!disableAllThePage">
              <!-- Post Button -->
              <lib-button-micro
                [disabled]="!formChanges"
                nameClass="{{ !formChanges ? 'disabled' : 'save' }}"
                title="{{ 'Post' | translate }}"
                widthNumber="100%"
                (click)="addToPost()"
              >
              </lib-button-micro>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
