.all_btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.btn_ex{
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #B6BAC3;
    border-radius:8px;
    color: #B6BAC3;
    cursor: pointer;
}
.container_checkbox{
    background: #fff;
    width: 100%;
    height: 45px;
    border: 1px solid #B6BAC3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
}
.group{
    // width: 95%;
    // margin: auto;
    padding: 20px 10px;
    .calender{
        margin-bottom: 60px;
    }
}
.account_description{
    border: 1px solid #8E95A2 ;
    border-radius: 8px;
    background:#76BCD0  ;
    color:#383A42 ;

    .item{
            background:#76BCD0  ;
            color:#383A42 ;
            margin-inline-start: 10px;
            display: flex;
            align-items:center ;

            // height: 100%;


    }
    .Accounts_name{
        border-right: 1px solid #8E95A2;
        border-left: 1px solid #8E95A2;
       

        height: 100%;
        .name{
            margin: 0;
            margin-inline-start: 10px;
        }
    }
}
::ng-deep{
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #1a90b0 !important;
    background: #1a90b0 !important;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  
    box-shadow: none !important;
}
  .p-datatable-wrapper {
    height: auto !important;
  }
    .group{
        .p-multiselect {
            width: 90% !important;
        }
      
      
    }
}
#printableTable {
    display: none;
  }
  
  /* Show the printable table during print */
  @media print {
    body * {
      visibility: hidden;
    }
    #printableTable, #printableTable * {
      visibility: visible;
    }
    #printableTable {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }
  }


  .code {
    color:#1a90b0;
    cursor: pointer;
  }
  .code:hover {
    color: #10566a;
  }

  
  .search_icon{
    margin:8px;
  }
