<div>
    Attachments
    <button (click)="addAttachment()" class="add-attachment">add</button>
    <ul>
        <li *ngFor="let item of attachments.controls; let i = index">
            <div class="grid ">
                <div class="col-9"><lib-named-file-uploader [appControl]="item"></lib-named-file-uploader></div>
                <div class="col-3 mt-2">
                        
                    <i class="pi pi-times" (click)="removeAttachment(i)"></i>
                    </div>
            </div>
        </li>
    </ul>
</div>
