<div>
    Attachments
    <button (click)="addAttachment()">add</button>
    <ul>
        <li *ngFor="let item of attachments.controls; let i = index">
            <div class="grid">
                <div class="col-9"><lib-named-file-uploader [appControl]="item"></lib-named-file-uploader></div>
                <div class="col-3">
                    <span *ngIf="item.invalid && item.dirty" style="color: red;">invalid &nbsp;</span>
                    <button (click)="removeAttachment(i)">X</button></div>
            </div>
        </li>
    </ul>
</div>
