<div class="Attachments">
<lib-popup-page
title="{{ 'Attachments' | translate }}"
[closeFunction]="onCancel"
(Submit)="save()"
>
<lib-upload-multipe-files  *ngIf="add" [filesData]="filesData.journalEntryAttachments" [viewData]="this.filesData.viewData" [screen]="this.filesData.screen" (sendFiles)="files($event)" ></lib-upload-multipe-files>
<lib-edit-multipe-files  *ngIf="edit" [filesData]="journalEntryAttachments" [viewData]="this.filesData.viewData" [screen]="this.filesData.screen" (sendFiles)="files($event)" ></lib-edit-multipe-files>

</lib-popup-page>

</div>
