.add-attachment {
    background: #1a90b0;
    border: 0px solid #3B82F6;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 6px;
    outline-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.delete{
    cursor: pointer;
}


::ng-deep .Attachments .pop_up_page .pop_up_content {
    max-height: 500PX !important;
    overflow: auto !important;
}