<div class="invite_user">
  <form class="domain_form" [formGroup]="tagForm" (ngSubmit)="onSubmit()">
    <div class="domain_content">
      <div class="grid">
        <div class="col-12 my-2">
          <lib-form-group>
            <lib-text-input
              type="text"
              formControlName="Code"
              placeholder="{{ 'tag.addtag.code' | translate }}"
              [readOnly]="true"
              [iconUrl]="'assets/images/Vector.png'"
              class="form-control"
            />
            <lib-field-validations [appControl]="tagForm.controls['Code']"></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="col-12 my-2">
          <lib-form-group>
            <lib-text-input
              type="text"
              formControlName="name"
              [iconUrl]="'assets/images/fi-rr-text-check@2x.png'"
              placeholder="{{ 'tag.addtag.name' | translate }}"
            />
            <lib-field-validations [appControl]="tagForm.controls['name']"></lib-field-validations>
          </lib-form-group>
        </div>

        <div class="col-12 my-2 multi-cont">
          <lib-form-group [className]="'customWidth'">
            <lib-multi-select
              placeholder="{{ 'tag.addtag.applicability' | translate }}"
              [options]="modulelist"
              optionLabel="module"
              optionValue="moduleId"
              formControlName="moduleIds"
              
            ></lib-multi-select>
            <lib-field-validations [appControl]="tagForm.controls['moduleIds']">
            </lib-field-validations>
          </lib-form-group>
        </div>
      </div>
    </div>
  </form>
  <div class="grid justify-content-center">
    <div class="col-6">
      <lib-button type="button" [className]="'custom-danger-outline'" (click)="onCancel()">
        {{ 'tag.addtag.discard' | translate }}
      </lib-button>
    </div>
    <div class="col-6">
      <lib-button type="submit" [className]="'custom-light-blue'" class="save" (click)="onSubmit()">
        {{ 'tag.addtag.save' | translate }}
      </lib-button>
    </div>
  </div>
</div>
