<form [formGroup]="itemDefinitionForm">
  <div class="md:col-12">
    <lib-fildest>
      <div class="grid p-0 m-0">
        <p class="md:col-6 m-0 p-0">
          {{ 'itemType.vat' | translate }}
        </p>

        <div class="md:col-12" *ngIf="itemDefinitionForm.get('isVatApplied')?.value == true">
          <lib-select
            formControlName="taxId"
            [options]="taxesDropDropDownLookup"
            optionValue="id"
            optionLabel="taxId"
            placeholder="{{ 'itemType.taxesValue' | translate }}"
            [selectedValue]="itemDefinitionForm.controls['taxId'].value"
          >
          </lib-select>
          <lib-field-validations
            [appControl]="itemDefinitionForm.controls['taxId']"
          ></lib-field-validations>
        </div>
        <div class="md:col-12">

          <lib-form-group>
            <div class="flex align-items-center gap-2">
              <lib-input-switch formControlName="isVatApplied"></lib-input-switch>
              <p>{{ 'itemType.priceIncludeVat' | translate }}</p>
            </div>
          </lib-form-group>
        </div>


      </div>
      <div class="grid">
        <div class="md:col-12   flex justify-content-end">
          <div class="md:col-4 grid flex justify-content-end">
            <div class="md:col-6">
              <lib-button-micro
                title="{{ 'itemType.cancel' | translate }}"
                nameClass="cancel"
                widthNumber="100%"


              >
              </lib-button-micro>
            </div>
            <div  class="md:col-6">
              <lib-button-micro
                title="{{ 'itemType.save' | translate }}"
                nameClass="save"
                widthNumber="100%"
                (click)="onAddVariants()"
              >
              </lib-button-micro>

            </div>
          </div>


        </div>
      </div>
    </lib-fildest>
  </div>








</form>
