<lib-page-content
  [title]="'treasury.TaxList' | translate"
  [subTitle]="'treasury.TaxList' | translate"
>
  <div>
    <div class="user_page">
      <lib-data-table
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'code',
              headerText: ('treasury.treasuryCode' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'name',
              headerText: ('treasury.treasuryName' | translate),
              isGlobalFilter: true,
              isSortable: true
            },

            {
              name: 'currencyName',
              headerText: ('treasury.currency' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'accountName',
              headerText: ('treasury.glAccount' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'openingBalance',
              headerText: ('treasury.balance' | translate),
              isGlobalFilter: true,
              isSortable: true,
              applyNumberFormat: true
            },
            {
              name: 'id',
              headerText: ('treasury.actions' | translate),
              template: actions
            }
          ]
        }"
      >
        <ng-container search>
                <lib-form-group>
                  <lib-text-input
                    type="text"
                    [placeholder]="'treasury.Search' | translate"
                    [(ngModel)]="searchTerm"
                    (keyUp)="onSearchChange()"
                  ></lib-text-input>
                </lib-form-group>
              <!--  -->
                </ng-container>

                <!--  -->
                <ng-container action>
                
                <div>
                  <lib-export
                    (exportClick)="exportClick($event)"
                    [exportData]="exportData"
                    [exportColumns]="exportColumns"
                    [ExportName]="'Treasury Definition'"
                  >
                  </lib-export>
                </div>
                <!--  -->
                <div>
                  <lib-button-micro
                    [title]="'treasury.AddNew' | translate"
                    nameClass="save"
                    iconName="pi pi-plus"
                    (click)="onAdd()"
                  >
                  </lib-button-micro>
                </div>
              </ng-container>
         

        <ng-template #actions let-action>
          <div class="actions flex align-items-center">
            <!-- <div>
              <p class="code body_b16" (click)="routeTo(action.id)">{{ 'treasury.GoToStatement' | translate }}</p>
            </div> -->
            <lib-button-micro nameClass="table_button_statement" (click)="routeTo(action.id)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_edit" (click)="onEdit(action)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_delete" (click)="onDelete(action.id)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_view" (click)="view(action.id)">
            </lib-button-micro>
          </div>
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
