<lib-page-content >
  <!-- <lib-bread-crumb></lib-bread-crumb> -->
  <div class="grid" style="margin: 5%;margin-left: 1%;">
    <div class="md:col-4 card-container" *ngFor="let module of moduleList" (click)="navigateto(module.moduleId)">
      <div class="modal-card">
        <!-- <img src="assets/images/card.png" class="background" /> -->
         <div class="card_photo">
           <img
             src="assets/lib-assets/images/{{ module.moduleLogo }}"
             class="foreground"
             alt="not loaded"
           />
         </div>
        <p class="caption">{{ module.module }}</p>
      </div>
    </div>
  </div>
</lib-page-content>
