<lib-popup-page
  title="{{ 'addcurrency.title' | translate }}"
  [closeFunction]="close"
  (Submit)="save()"
>
  <div>
    <form [formGroup]="addCurrencyForm">
      <div class="grid">
        <div class="md:col-12">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['code']">
              {{ 'addcurrency.currencyCode' | translate }}
            </lib-label>
            <lib-text-input type="text" formControlName="code" [readOnly]="true" />
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['code']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="md:col-12">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['name']">
              {{ 'addcurrency.currencyName' | translate }}
            </lib-label>
            <lib-text-input type="text" formControlName="name" />
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['name']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="md:col-12">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['subUnit']">
              {{ 'addcurrency.currencySubunit' | translate }}
            </lib-label>
            <lib-text-input type="text" formControlName="subUnit" />
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['subUnit']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="md:col-6">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['symbol']">
              {{ 'addcurrency.currencySymbol' | translate }}
            </lib-label>
            <lib-text-input type="text" formControlName="symbol" />
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['symbol']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="md:col-6">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['countryCode']">
              {{ 'addcurrency.currencyCountry' | translate }}
            </lib-label>
            <lib-selectIcon
              formControlName="countryCode"
              [options]="countries"
              optionValue="id"
              optionLabel="nameEn"
              icons="flags"
            >
            </lib-selectIcon>
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['countryCode']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
        <div class="md:col-12">
          <lib-form-group>
            <lib-label [appControl]="addCurrencyForm.controls['differenceAccount']">
              {{ 'addcurrency.currencyDifferenceAccount' | translate }}
            </lib-label>
            <lib-select
              formControlName="differenceAccount"
              [options]="accountsList"
              optionLabel="name"
              optionValue="id"
            ></lib-select>
            <i class="pi pi-search search-circle" (click)="openDialog()"></i>
            <lib-field-validations
              [appControl]="addCurrencyForm.controls['differenceAccount']"
            ></lib-field-validations>
          </lib-form-group>
        </div>
      </div>
    </form>
  </div>
</lib-popup-page>

