<lib-page-content>
  <div  class="new_employee">
    <div class="grid mainGrid">
      <div class="" style="width: 20%">
        <div class="sidebar">
          <ul>
            <li [class.active]="findRoute('general')" (click)="onRoute('general')">
              {{ 'itemType.general' | translate }}
            </li>
            <li [class.active]="findRoute('tax')" (click)="onRoute('tax')">
              {{ 'itemType.tax' | translate }}
            </li>



            <li [class.active]="findRoute('uom')" (click)="onRoute('uom')">
              {{ 'itemType.uom' | translate }}
            </li>

            <li [class.active]="findRoute('attributes')" (click)="onRoute('attributes-variants')">
              {{ 'itemType.attributes' | translate }}
            </li>
            <li [class.active]="findRoute('variants')" (click)="onRoute('variants')">
              {{ 'itemType.variants' | translate }}
            </li>

          </ul>
        </div>
      </div>

      <div style="width: 80%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</lib-page-content>
