<div>
  <lib-bread-crumb></lib-bread-crumb>
  <div class="owner_page">
    <lib-data-table
      [items]="dataList"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'id',
              headerText: ('Code' ),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'name',
              headerText: ('Name'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'email',
              headerText: ('Email'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'countryNameEn',
              headerText: ('Country'),
              isGlobalFilter: true,
              isSortable: false,
            },

            {
              name: 'phone',
              headerText: ('Mobile Number'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'id',
              headerText: ('Actions'),
              template: userCol

            },
          ]
        }"
    >
      <!-- actions of the header of Table -->
      <ng-container search>
        <app-shared-form
              [fields]="fields"
              [showSaveBtn]="false"
              #form
            ></app-shared-form>
        <!-- <lib-text-input
          type="text"
          [placeholder]="'stockOut.search' | translate"
          [(ngModel)]="searchTerm"
          (keyUp)="onSearchChange()"
        ></lib-text-input> -->
      </ng-container>
      <ng-container action>
        <!-- <lib-export
          (exportClick)="exportClick()"
          [exportData]="exportData"
          [exportColumns]="cols"
          [ExportName]="'stockOut.stockOutPrint' | translate"
        >
        </lib-export> -->
        <div class="action_group">

          <lib-button-micro
          (click)="addBusinessOwner()"
            [title]="'Add Invoice' | translate"
            nameClass="outline"
            iconName="pi pi-plus"
          >
          </lib-button-micro>
          <lib-button-micro
          (click)="add()"
            [title]="'Add' | translate"
            nameClass="save"
            iconName="pi pi-plus"
          >
          </lib-button-micro>
        </div>
      </ng-container>
      

      <!-- actions of the Table -->
      <ng-template #userCol let-user>
        <div class="actions d-flex align-items-center gap-5">
          <div class="mt-3">
            <lib-input-switch></lib-input-switch>
          </div>

          <div>
            <lib-button
              [className]="'adminPortal'"
             
              (onClick)="onEditOwner(user.id)"
            >
              Manage
            </lib-button>
          </div>
          <div>
            <lib-button-micro
            nameClass="table_button_statement"
            (click)="addBusinessOwnerById(user.id)"
            >

            </lib-button-micro>
            <!-- <div class="pi pi-cog"  (click)="addBusinessOwnerById(user.id)"></div> -->
          </div>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>
