<div>
  <!-- <lib-bread-crumb></lib-bread-crumb> -->
  <div class="user_page">
    <lib-data-table [items]="tableData" className="p-datatable-gridlines" [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
       [tableConfigs]="{

          allowPagination: true,
          allowServerPagination: false,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'code',
              headerText: ('Code' ),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'name',
              headerText: ('Name'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'email',
              headerText: ('Email'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'country',
              headerText: ('Country'),
              isGlobalFilter: true,
              isSortable: false,
            },

            {
              name: 'mobileNumber',
              headerText: ('Mobile Number'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'id',
              headerText: ('Actions'),
              template: userCol

            },
          ]
        }">

   <!-- actions of the header of Table -->
      <ng-container caption>
        <div class="group">
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search..." />
            </span>
          </div>

        </div>
      </ng-container>

    <!-- actions of the Table -->
      <ng-template #userCol let-user>
        <div class="actions flex align-items-center ">
          <lib-button className="Manage"   [rounded]="true" [enableText]="true" severity="secondary" (onClick)="onEditOwner()">
            Manage
          </lib-button>
        </div>

      </ng-template>

      
    </lib-data-table>

  </div>
</div>
