<lib-page-content [title]="'paymentterm.payment-term-list' | translate" [subTitle]="'paymentterm.payment-term-list' | translate">
  <div>
    <div class="user_page">
  
      <lib-data-table
     
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
       
        [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: true,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'code',
              headerText: ('paymentterm.code' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'name',
              headerText: ('paymentterm.name' | translate),
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'id',
              headerText: ('paymentterm.actions' | translate),
              template: actions
            }
          ]
        }"
      >
      <ng-container search>
        <lib-form-group>
          <lib-text-input
            type="text"
            [placeholder]="'paymentterm.Search' | translate"
            [(ngModel)]="searchTerm"
            (keyUp)="onSearchChange()"
          ></lib-text-input>
        </lib-form-group>
      </ng-container>
      <ng-container action>
        <div>
          <lib-export  
            (exportClick)="exportClick($event)"
            [exportData]="exportData"
            [exportColumns]="exportColumns"
            [ExportName]="'Payment Term'">
          </lib-export>
        </div>
        <div>
          <lib-button-micro
            [title]="'paymentterm.AddNew' | translate"
            nameClass="save"
            iconName="pi pi-plus"
            (click)="onAdd()"
          >
          </lib-button-micro>
        </div>
      

      </ng-container>
  
      
        
        <ng-template #actions let-action>
          <div class="actions flex align-items-center">
            <lib-button-micro nameClass="table_button_edit" (click)="onEdit(action)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_delete" (click)="onDelete(action.id)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_view" (click)="view(action.id)">
            </lib-button-micro>
          </div>
        </ng-template>
      </lib-data-table>
    
    </div>
  </div>
</lib-page-content>
