<!-- <lib-page-content
  [title]="'Company.Add.AccInfo' | translate"
  [subTitle]="'Company.Add.Step' | translate"
>
  <form
    [formGroup]="companyForm"
    (ngSubmit)="onSubmit()"
    *ngIf="lookupsService.lookupsLoaded"
  >
    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['name']">
        {{ "Company.Add.CompanyName" | translate }}
      </lib-label>
      <lib-text-input type="text" formControlName="name" />
      <lib-field-validations [appControl]="companyForm.controls['name']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['countryCode']">
        {{ "Company.Add.Country" | translate }}
      </lib-label>
      <lib-select
        formControlName="countryCode"
        [options]="lookups[LookupEnum.Country]"
        optionValue="id"
        optionLabel="name"
      >
      </lib-select>
      <lib-field-validations [appControl]="companyForm.controls['countryCode']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['industryId']">
        {{ "Company.Add.Industry" | translate }}
      </lib-label>
      <lib-select
        formControlName="industryId"
        [options]="lookups[LookupEnum.Industry]"
        optionValue="id"
        optionLabel="name"
      >
      </lib-select>
      <lib-field-validations [appControl]="companyForm.controls['industryId']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['currencyId']">
        {{ "Company.Add.Currency" | translate }}
      </lib-label>
      <lib-select
        formControlName="currencyId"
        [options]="lookups[LookupEnum.Currency]"
        optionValue="id"
        optionLabel="name"
      >
      </lib-select>
      <lib-field-validations [appControl]="companyForm.controls['currencyId']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['website']">
        {{ "Company.Add.Website" | translate }}
      </lib-label>
      <lib-text-input type="text" formControlName="website" />
      <lib-field-validations [appControl]="companyForm.controls['website']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['address']">
        {{ "Company.Add.Address" | translate }}
      </lib-label>
      <lib-text-input type="text" formControlName="address" />
      <lib-field-validations [appControl]="companyForm.controls['address']">
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['mobileNumberCode']">
        {{ "Company.Add.MobileNumberCode" | translate }}
      </lib-label>
      <lib-select
        formControlName="mobileNumberCode"
        optionValue="id"
        [options]="lookups[LookupEnum.MobileCode]"
        [selectedValue]="selectedPhoneCode"
        optionLabel="name">
      </lib-select>
      <lib-field-validations
        [appControl]="companyForm.controls['mobileNumberCode']"
      >
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['mobileNumber']">
        {{ "Company.Add.MobileNumber" | translate }}
      </lib-label>
      <lib-text-input type="tel" formControlName="mobileNumber" />
      <lib-field-validations
        [appControl]="companyForm.controls['mobileNumber']"
      >
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['companyEmail']">
        {{ "Company.Add.CompanyEmail" | translate }}
      </lib-label>
      <lib-text-input type="email" formControlName="companyEmail" />
      <lib-field-validations
        [appControl]="companyForm.controls['companyEmail']"
      >
      </lib-field-validations>
    </lib-form-group>

    <lib-form-group>
      <lib-label [appControl]="companyForm.controls['file']">
        {{ "file" }}
      </lib-label>
      <lib-file-uploader
        type="email"
        formControlName="file"
        [config]="{
          type: sharedLibEnums.AttachmentFileTypes.image,
          viewThumbnail: true
        }"
        [appControl]="companyForm.controls['file']"
      />
      <lib-field-validations [appControl]="companyForm.controls['file']">
      </lib-field-validations>
    </lib-form-group>
    <div class="Actions">
      <button type="submit" class="btn btn-primary">
        {{ "Company.Add.Next" | translate }}
      </button>
    </div>
  </form>
</lib-page-content> -->
