

  <lib-popup-page
  title="{{ 'warehouse.addWarehouse' | translate }}"
  [closeFunction]="onCancel"
  [showCancel]="false"
  [showSave]="false"
  [showSecondSave]="false"

>

    <div class="pop_up_content">
        <form class="domain_form" [formGroup]="warehouseForm" >
          <div class="domain_content">
            <div class="grid">
              <div class="col-12 ">
                <lib-form-group>

                  <lib-text-input
                    type="text"
                    formControlName="name"
                    placeholder="{{ 'warehouse.warehouseName' | translate }}"

                    class="form-control"
                  />
                  <lib-field-validations
                    [appControl]="warehouseForm.controls['name']"
                  ></lib-field-validations>
                </lib-form-group>
              </div>
              <div class="col-12 my-2">
                <lib-form-group>

                  <lib-multi-select
                    placeholder="{{ 'warehouse.defaultBranch' | translate }}"
                    [options]="branchesDropDown"
                    optionLabel="name"
                    optionValue="id"
                    formControlName="branchWarehouses"
                  ></lib-multi-select>
                  <lib-field-validations [appControl]="warehouseForm.controls['branchWarehouses']">
                  </lib-field-validations>
                </lib-form-group>
              </div>
              <div class="col-12 my-2">
                <lib-form-group>
                  <lib-form-group>
                    <lib-select
                    placeholder="{{ warehouseType[0].label }}"
                      [options]="warehouseType"
                      optionLabel="label"
                      optionValue="value"
                      formControlName="warehouseType"
                    ></lib-select>
                    <lib-field-validations [appControl]="warehouseForm.controls['warehouseType']">
                    </lib-field-validations>
                  </lib-form-group>
                  <lib-field-validations [appControl]="warehouseForm.controls['warehouseType']">
                  </lib-field-validations>
                </lib-form-group>
              </div>



            </div>
          </div>
        </form>
        <div class="grid mt-3">
          <div class="md:col-6">
              <div class="save_btn">
                <lib-button-micro
                  title="{{ 'warehouse.saveContinue' | translate }}"
                  nameClass="outline"
                  (click)="onSubmit('saveContinue')"
                  widthNumber="100%"
                >
                </lib-button-micro>
              </div>
            </div>
          <div class="md:col-6">
            <div class="save_btn">
              <lib-button-micro
              title="{{ 'warehouse.save' | translate }}"
              nameClass="save"
                (click)="onSubmit('save')"
                widthNumber="100%"
              >
              </lib-button-micro>
            </div>
          </div>
        </div>


</div>

</lib-popup-page>
