<h2>App details</h2>
<div class="grid" *ngIf="app">
    <div class="md:col-4">
        <div class="displayer">
            <img class="selected-img" src="assets/images/apps/Group.png" />
        </div>
        <div class="carousel">
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
        </div>
    </div>
    <div class="md:col-8">
        <div class="grid">
            <div class="col-6">
                <h2>{{app.name}}</h2>
                <div>
                    <lib-rating [value]="4.3" [isReadOnly]="true"></lib-rating>
                </div>
            </div>
            <div class="col-6 text-right">
                {{app.price.amount}} {{app.price.currencyName}} / Monthly
            </div>
        </div>
        {{app.description}}
        <div *ngIf="app.dependencies.length">
            <strong>Dependecies:</strong>
            <ul>
                <li *ngFor="let dep of app.dependencies"><a [routerLink]="[dep.id]">{{dep.name}}</a></li>
            </ul>
        </div>
        <div>
            <strong>Category: </strong> {{app.categoryName}}
        </div>
        <div class="cart">
            <button (click)="addToCart()">Add to cart</button>
        </div>
    </div>
</div>
<lib-page-content>
    <div class="app_details">
        <div class="grid">
            <div class="col-12 ">

                <div class="card">
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <div class="app_img">
                                <img [src]="cover" alt="">
                            </div>
                            <div class="taps_img">

                                <div class="tap active">
                                    <img src="assets/images/apps/Group.png" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="col-12 md:col-8">
                            <div class="app_description">
                                <div class="sec_one">
                                    <div class="title">
                                        {{app.name}}
                                    </div>
                                    <div class="re_new">
                                      {{app.price.amount}} {{app.price.currencyName}} / monthly

                                    </div>
                                </div>
                                <div class="sec_two">
                                    <div class="rate">
                                        <lib-rating [value]="4.5" [isReadOnly]="true" [showCancel]="false">

                                        </lib-rating>
                                        <p class="rate_count">7.5</p>
                                    </div>
                                    <div class="date">

                                        10,000+
                                    </div>

                                </div>
                                <div class="sec_desription">
                                   {{app.description}}

                                </div>
                                <div class="item">
                                    <p class="title">
                                        Category
                                    </p>
                                    <p class="text">
                                        {{app.categoryName}}
                                    </p>
                                </div>
                                <div class="item item_odd">
                                    <p class="title">
                                        Brands
                                    </p>
                                    <p class="text">
                                        Plastic material
                                    </p>
                                </div>
                                <div class="item">
                                    <p class="title">
                                        Features
                                    </p>
                                    <p class="text">
                                        Modern nice
                                    </p>
                                </div>
                                <div class="item item_odd">
                                    <p class="title">
                                        Customization
                                    </p>
                                    <p class="text">
                                        Customized App
                                    </p>
                                </div>
                                <div class="item">
                                    <p class="title">
                                        Category
                                    </p>
                                    <p class="text">
                                        HR
                                    </p>
                                </div>
                                <div class="cart">

                                    <button><span class="pi pi-shopping-cart icon_cart"></span> Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>


</lib-page-content>