<h2>App details</h2>
<div class="grid" *ngIf="app">
    <div class="md:col-4">
        <div class="displayer">
            <img class="selected-img" src="assets/images/apps/Group.png" />
        </div>
        <div class="carousel">
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
            <img src="assets/images/apps/Group.png" />
        </div>
    </div>
    <div class="md:col-8">
        <div class="grid">
            <div class="col-6">
                <h2>{{app.name}}</h2>
                <div>
                    <lib-rating [value]="4.3" [isReadOnly]="true"></lib-rating>
                </div>
            </div>
            <div class="col-6 text-right">
                {{app.price.amount}} {{app.price.currencyName}} / Monthly
            </div>
        </div>
        {{app.description}}
        <div *ngIf="app.dependencies.length">
            <strong>Dependecies:</strong>
            <ul>
                <li *ngFor="let dep of app.dependencies"><a [routerLink]="[dep.id]">{{dep.name}}</a></li>
            </ul>
        </div>
        <div>
            <strong>Category: </strong> {{app.categoryName}}
        </div>
        <div class="cart">
            <button (click)="addToCart()">Add to cart</button>
        </div>
    </div>
</div>