
<lib-popup-page
title=" {{ 'AddNewWorkflow' | translate }}"
[closeFunction]="onCancel"
(Submit)="onSubmit()"
>
<div>
  <form class="domain_form" [formGroup]="workflowForm" (ngSubmit)="onSubmit()">
    <div class="domain_content">
      <div class="grid m-0">
        <div class="col-12 my-2">
          <lib-form-group>
            <lib-text-input
              type="text"
              formControlName="name"
              [iconUrl]="'assets/images/fi-rr-text-check@2x.png'"
              placeholder="{{ 'tag.addtag.name' | translate }}"
            />
            <lib-field-validations
              [appControl]="workflowForm.controls['name']"
            ></lib-field-validations>
          </lib-form-group>
        </div>

        
      </div>
    </div>
  </form>
</div>
</lib-popup-page>

  
  
