
  .domain_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f8f8;
    padding: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;

    .title {
      display: flex;
      font-size: 18px;
      font-weight: 700;
      color: #383a42;
      .plus_icon {
        width: 40px;
        height: auto;
        margin-right: 10px;
        background-image: url("../../../../../assets/images/plans/file-plus.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
      }
    }
    .cancel {
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
    }
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f8f8;
    margin-top: 40px;
    border-radius: 8px;

    .btn {
      cursor: pointer;
      font-size: 16px;
      background: none;
      border: none;
      padding: 10px 10px;
      &:hover {
        background: #fff;
        color: #1a90b0;
      }
    }

    .btn_active {
      background: #fff;
      color: #1a90b0;
    }
  }

  .duration_margin{
    margin-top: 10px;
  }
  .domain_form {
    height: calc(100% - 100px);
    .domain_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .data_content {
        padding: 20px;

        .domain_name {
          margin-top: 27px;
        }

        .price {
          margin: 0;
          padding: 0;
          text-align: end;
          margin-bottom: 10px;
          padding-inline-end: 40px;
          .currency,
          .period {
            color: #1a90b0;
           // font-size: 18px;
          }
          .cost {
            color: #000;
            // font-weight: 700;
            // font-size: 20px;
            margin: 0 2px;
          }
        }
      }
      .actions {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7f8f8;
        .btn {
          min-width: 30%;
          padding: 10px 0;
         // font-size: 16px;
          cursor: pointer;
          border-radius: 12px;
        }
        .valid_btn {
          background-color: #1a90b0;
          color: #fff;
          border: 2px solid #1a90b0;
        }

        .invaild_btn {
          background-color: #b6bac3;
          color: #383a42;
          border: none;
        }
      }
    }
  }
  .domain_invalid{
    margin-top: 10px;
    color: red;
  }
  .domain_valid{
    margin-top: 10px;
    color: #36A19B;
  }



