::ng-deep .bank {
    .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
        border-width: 0 0 1px 1px;
        padding: 12px !important;
        text-align: center;
    }
    margin-top: 20px;
}
.pointer {
    cursor: pointer;
}

.card{
    background-color: #ffffff;
    border-radius: 7px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 21px;

}

.heads {
    font-weight: bold;
    font-size: 15px;
}