



<lib-page-content [title]="'bank.TaxList' | translate" [subTitle]="'bank.TaxList' | translate">
  <div class="grid" [formGroup]="UOMFormGroup">
    <div class="md:col-12 p-0 my-1">
      <div class="card">
        <div class="grid m-0 p-0">
          <div class="md:col-12">
            <p class="fw-bold heads">{{ 'UOM.category' | translate }}</p>
          </div>
          <!--  -->
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="UOMFormGroup.controls['code']" class="body_b14 mb-2 ms-4">
                {{ 'UOM.code' | translate }}
              </lib-label>
              <lib-text-input formControlName="code" placeholder="{{ 'UOM.code' | translate }}">
              </lib-text-input>
            </lib-form-group>
          </div>
          <!--  -->
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="UOMFormGroup.controls['nameEn']" class="body_b14 mb-2 ms-4">
                {{ 'UOM.categorynameEn' | translate }}
              </lib-label>
              <lib-text-input
                formControlName="nameEn"
                placeholder="{{ 'UOM.categorynameEn' | translate }}"
              >
              </lib-text-input>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['nameEn']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
          <div class="md:col-4">
            <lib-form-group>
              <lib-label [appControl]="UOMFormGroup.controls['nameAr']" class="body_b14 mb-2 ms-4">
                {{ 'UOM.categorynameAr' | translate }}
              </lib-label>
              <lib-text-input
                formControlName="nameAr"
                placeholder="{{ 'UOM.categorynameAr' | translate }}"
              >
              </lib-text-input>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['nameAr']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="md:col-12 p-0 my-1">
      <div class="card">
        <div class="grid m-0 p-0">
          <div class="md:col-12">
            <p class="fw-bold heads">{{ 'UOM.baseUom' | translate }}</p>
          </div>
          <!--  -->
          <div class="md:col-3">
            <lib-form-group>
              <lib-label [appControl]="UOMFormGroup.controls['systemUnitOfMeasureId']">
                {{ 'UOM.systemUnit' | translate }}
              </lib-label>
              <lib-select
                placeholder="{{ 'UOM.systemUnit' | translate }}"
                [options]="sytemUnitLookup"
                optionLabel="nameEn"
                optionValue="id"
                formControlName="systemUnitOfMeasureId"
                (valueChanged)="systemUnitChanged($event)"
                [selectedValue]="UOMFormGroup.controls['systemUnitOfMeasureId'].value"
              ></lib-select>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['systemUnitOfMeasureId']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
          <div class="md:col-3">
            <lib-form-group>
              <lib-label
                [appControl]="UOMFormGroup.controls['baseUomEn']"
                class="body_b14 mb-2 ms-4"
              >
                {{ 'UOM.nameUomEn' | translate }}
              </lib-label>
              <lib-text-input
                formControlName="baseUomEn"
                placeholder="{{ 'UOM.nameUomEn' | translate }}"
                (keyUp)="nameUomEnChanged($event)"
              >
              </lib-text-input>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['baseUomEn']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
          <div class="md:col-3">
            <lib-form-group>
              <lib-label
                [appControl]="UOMFormGroup.controls['baseUomAr']"
                class="body_b14 mb-2 ms-4"
              >
                {{ 'UOM.nameUomAr' | translate }}
              </lib-label>
              <lib-text-input
                formControlName="baseUomAr"
                placeholder="{{ 'UOM.nameUomAr' | translate }}"
                (keyUp)="nameUomArChanged($event)"

              >
              </lib-text-input>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['baseUomAr']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
          <div class="md:col-3">
            <lib-form-group>
              <lib-label
                [appControl]="UOMFormGroup.controls['shortName']"
                class="body_b14 mb-2 ms-4"
              >
                {{ 'UOM.shortName' | translate }}
              </lib-label>
              <lib-text-input
                formControlName="shortName"
                placeholder="{{ 'UOM.shortName' | translate }}"
                (keyUp)="shortNameChangedForGroup($event)"

              >
              </lib-text-input>
              <lib-field-validations
              [appControl]="UOMFormGroup.controls['shortName']"
            ></lib-field-validations>
            </lib-form-group>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <div class="add_new flex justify-content-end p-0">
    <!-- !UOMFormGroup.controls['uomCodeCategory'].value -->
    <lib-button (onClick)="addLine()" className="outline-primary">
      {{ 'UOM.add_new' | translate }}
    </lib-button>
  </div>
  <div class="entry_table my-2">
    <div class="card">
      <p-table
        [value]="getUOMS.controls"
        dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'UOM.systemUnit' | translate }}</th>
            <th>{{ 'UOM.nameEn' | translate }}</th>
            <th>{{ 'UOM.nameAr' | translate }}</th>
            <th>{{ 'UOM.shortName' | translate }}</th>
            <th>{{ 'UOM.factorUOM' | translate }}</th>
            <th>{{ 'UOM.from' | translate }}</th>

            <th>{{ 'UOM.calculation' | translate }}</th>
            <th>{{ 'UOM.reversal' | translate }}</th>
            <th>{{ 'UOM.action' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-uomTableForm let-editing="editing" let-i="rowIndex">
          <tr [formGroup]="uomTableForm">
        
            <td
              [pEditableColumn]="uomTableForm.controls['systemUnitOfMeasureId']"
              pEditableColumnField="systemUnitOfMeasureId"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select
                    placeholder="{{ 'UOM.systemUnit' | translate }}"
                    [options]="filteredSytemUnitLookup"
                    optionLabel="nameEn"
                    optionValue="id"
                    formControlName="systemUnitOfMeasureId"
                    (valueChanged)="systemUnitListChanged($event, uomTableForm , list[i])"
                  ></lib-select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ uomTableForm.controls['systemUnitOfMeasureName'].value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="uomTableForm.controls['systemUnitOfMeasureId']"
              ></lib-field-validations>
            </td>

            <td [pEditableColumn]="uomTableForm.controls['nameEn']" pEditableColumnField="nameEn">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'UOM.nameEn' | translate }}"
                    formControlName="nameEn"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ uomTableForm.controls['nameEn'].value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="uomTableForm.controls['nameEn']"
              ></lib-field-validations>
            </td>
            <!--  -->
            <td [pEditableColumn]="uomTableForm.controls['nameAr']" pEditableColumnField="nameAr">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'UOM.nameAr' | translate }}"
                    formControlName="nameAr"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ uomTableForm.controls['nameAr'].value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="uomTableForm.controls['nameAr']"
              ></lib-field-validations>
            </td>
            <!--  -->
            <td
              [pEditableColumn]="uomTableForm.controls['shortName']"
              pEditableColumnField="uomTableForm.controls['shortName']"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-form-group>
                    <lib-text-input
                      placeholder="{{ 'UOM.shortName' | translate }}"
                      formControlName="shortName"
                      (keyUp)="shortNameChanged($event , i)"
                    ></lib-text-input>
                  </lib-form-group>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ uomTableForm.controls['shortName'].value }}
                  <lib-field-validations
                    [appControl]="uomTableForm.controls['shortName']"
                  ></lib-field-validations>
                </ng-template>
              </p-cellEditor>
            </td>

            <td
              [pEditableColumn]="uomTableForm.controls['factor']"
              pEditableColumnField="uomTableForm.controls['factor']"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-form-group>
                    <lib-text-input
                      placeholder="{{ 'UOM.factor' | translate }}"
                      formControlName="factor"
                      (keyUp)="factorChanged($event , uomTableForm , i , list[i]  )"
                    ></lib-text-input>
                  </lib-form-group>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ uomTableForm.controls['factor'].value }}
                  <lib-field-validations
                    [appControl]="uomTableForm.controls['factor']"
                  ></lib-field-validations>
                </ng-template>
              </p-cellEditor>
            </td>
         
<td [pEditableColumn]="uomTableForm.controls['code']" pEditableColumnField="code">
  <p-cellEditor>
    <ng-template pTemplate="input">
      <lib-select
        placeholder="{{ 'UOM.uomType' | translate }}"
        [options]="list[i]"
        optionLabel="name"
        optionValue="id"
        formControlName="fromUnitOfMeasureId"
        (valueChanged)="fromUnitOfMeasureChanged($event ,list[i] , uomTableForm , i)"
      ></lib-select>
    </ng-template>
    <ng-template pTemplate="output">
      

{{ uomTableForm.controls['fromUnitOfMeasureName']?.value ??  (uomTableForm.controls['fromUnitOfMeasureId']?.value | getElementByID : list[i])?.name }}
    </ng-template>
  </p-cellEditor>
  <lib-field-validations
    [appControl]="uomTableForm.controls['fromUnitOfMeasureId']"
  ></lib-field-validations>
</td>

            <td
              [pEditableColumn]="uomTableForm.controls['BaseCalculation']"
              pEditableColumnField="uomTableForm.controls['BaseCalculation']"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-form-group>
                    <lib-text-input
                      placeholder="{{ 'UOM.calculation' | translate }}"
                      formControlName="BaseCalculation"
                      [readOnly]="true"

                    ></lib-text-input>
                  </lib-form-group>
                </ng-template>
                <ng-template pTemplate="output" >
                  
                  <small *ngIf="uomTableForm.controls['fromUnitOfMeasureId']?.value && uomTableForm.controls['factor']?.value ">{{ uomTableForm.controls['calculationShow']?.value }}</small>
                  <lib-field-validations
                    [appControl]="uomTableForm.controls['BaseCalculation']"
                  ></lib-field-validations>
                </ng-template>
              </p-cellEditor>
            </td>
            <!--  -->
            <!--  -->

            <td
              [pEditableColumn]="uomTableForm.controls['BaseReversal']"
              pEditableColumnField="uomTableForm.controls['BaseReversal']"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-form-group>
                    <lib-text-input
                      placeholder="{{ 'UOM.reversal' | translate }}"
                      formControlName="BaseReversal"
                      [readOnly]="true"
                    ></lib-text-input>
                  </lib-form-group>
                </ng-template>
                <ng-template pTemplate="output">
                 <small *ngIf="uomTableForm.controls['fromUnitOfMeasureId']?.value && uomTableForm.controls['factor']?.value "> {{ uomTableForm.controls['BaseReversalShow']?.value }}</small>
                  <lib-field-validations
                    [appControl]="uomTableForm.controls['BaseReversal']"
                  ></lib-field-validations>
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="actions flex align-items-center">
                <lib-button-micro
                  nameClass="cancel"
                  iconName="pi pi-trash"
                  type="button"
                  title="Delete"
                  (click)="onDelete(uomTableForm , i)"
                >
                </lib-button-micro>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="grid">
    <div class="md:col-12 my-3 grid flex justify-content-end">
      <div class="md:col-4 grid flex justify-content-end">
        <div class="md:col-6">
          <lib-button-micro
            title="{{ 'cancel' | translate }}"
            nameClass="cancel"
            widthNumber="100%"
            (click)="onCancel()"
          >
          </lib-button-micro>
        </div>
        <div class="md:col-6">
          <lib-button-micro
            title="{{ 'Save' | translate }}"
            nameClass="save"
            widthNumber="100%"
            (click)="onSave()"
          >
          </lib-button-micro>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>






