@import '../../../../../assets/styling/scss/variables/font-family';
.confirm_invitation_pages {
  background: linear-gradient(
    345deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 237, 238, 1) 0%
  );

  .container_page {
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    .welcome_card {
      padding: 0px 50px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    //  height: 100%;
      min-height: 100vh;
      width: 40%;
      .title {
        font-size: 30px;
        color: #5b616e;
      }
      .sub_title {
        font-size: 40px;
        color: #1a90b0;
      }
    }
    .form_card {
    
      height: 100%;
      padding: 10px 20px;
      width: 60%;
      background: #fff;
      height: 100%;
      border-radius: 8px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

      .sec_header {
        border-bottom: 1px solid #d8dbdf;
        .title {
          font-size: 20px;
          color: #1a90b0;
          // font-weight: 900;
          font-family: $cairo_bold;
        }
      }
      .form_content {
    .photo{
      height: 100px;
      margin-bottom: 20px;
    }
        .uplode_photo {
          //max-width: 50%;
          display: flex;
          // align-items: center;
          flex-direction: column;
          #photo {
            width: 175px;
            height: 150px;
            border: 1px dashed #000;
            border-radius: 8px;
            margin-inline-end: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          #btnuplode {
            margin-top: 20px;
            width: 100px;
            padding: 5px;
            background-color: #1a90b0;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          .information {
            .information_title {
              font-size: 20px;
              color: #6b7280;
            }
            .information_subtitle {
              font-size: 18px;
              color: #b6bac3;
            }
          }
          input[type="file"]::file-selector-button {
            border: 2px solid #6c5ce7;
            padding: 0.2em 0.4em;
            border-radius: 0.2em;
            background-color: #a29bfe;
            transition: 1s;
            display: none !important;
          }
        }
        .user_name_email {
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: space-between;
          .user_name,
          .user_email {
            display: flex;
            flex-direction: column;
            width: 45%;
          }
        }
        #policy {
          accent-color: #1a90b0 !important;
        }
        
      }
      .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .save {
          width: 20%;
          height: 50px;
          text-transform: capitalize;
        //  font-size: 22px;
          background-color: #1a90b0;
          color: #fff;
          padding: 5px 20px;
          border-radius: 12px;
          border: none;
          cursor: pointer;
          margin-inline-end: 20px;
        }
        .disabled {
          width: 20%;
          height: 50px;
          text-transform: capitalize;
        //  font-size: 22px;
          background-color: #fff;
          color: #1a90b0;
          border: 2px solid #1a90b0;
          padding: 5px 20px;
          border-radius: 12px;

          margin-inline-end: 20px;
        }
      }
    }
  }
}
::ng-deep {
  .confirm_invitation_pages {
    .p-password {
      width: 100% !important;
    }
    .p-input-icon-right > .p-inputtext {
      width: 100% !important;
    }
    .p-inputtext:enabled:hover {
      border-color: #1a90b0 !important;
    }
    .p-inputtext:enabled:focus {
      outline: 0 none;
      outline-offset: 0;
      // box-shadow: 0 0 0 0.2rem #1a90b0 !important;
      border-color: #1a90b0 !important;
    }
  }
}
.not_valid {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #1a90b0;
}
