<!-- <ng-container *ngIf="validId">
  <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="mt-4">
    <div class="mb-3">
      <label for="photo" class="form-label">
        {{ "UserConfirmation.Photo" | translate }}
      </label>
      <input
        type="file"
        id="photo"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="mb-3">
      <label for="fullName" class="form-label">{{
        "UserConfirmation.Name" | translate
      }}</label>
      <input
        type="text"
        id="fullName"
        formControlName="fullName"
        class="form-control"
        required
      />
      <div>new</div>
      <span
      *ngIf="
        (userForm.controls['fullName'].dirty ||
          userForm.controls['fullName'].touched) &&
        userForm.hasError('required', 'fullName')
      "
      class="text-danger"
    >
      {{ "UserConfirmation.Name" | translate }}
      {{ "UserConfirmation.IsRequired" | translate }}
    </span>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">{{
        "UserConfirmation.Email" | translate
      }}</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
        readonly
      />
      <span
      *ngIf="
        (userForm.controls['email'].dirty ||
          userForm.controls['email'].touched) &&
        userForm.hasError('required', 'email')
      "
      class="text-danger"
    >
      {{ "UserConfirmation.Email" | translate }}
      {{ "UserConfirmation.IsRequired" | translate }}
    </span>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">{{
        "UserConfirmation.Password" | translate
      }}</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        required
      />
      <span
        *ngIf="
          (userForm.controls['password'].dirty ||
            userForm.controls['password'].touched) &&
          userForm.hasError('required', 'password')
        "
        class="text-danger"
      >
        {{ "UserConfirmation.Password" | translate }}
        {{ "UserConfirmation.IsRequired" | translate }}
      </span>
      <div class="my-1">
        <span class="d-block"
          *ngIf="
            userForm.get('password')?.hasError('pattern') &&
            userForm.controls['password'].dirty
          "
          class="text-danger"
        >
          <span class="d-block"
            class="d-block"
            *ngIf="! userForm.controls['password'].value?.match('^(?=.*[A-Z])')"
            >
            {{ "UserConfirmation.UpperCaseLetter" | translate }}</span
          >
          <span class="d-block"
            class="d-block"
            *ngIf="! userForm.controls['password'].value?.match('(?=.*[a-z])')"
            >
            {{ "UserConfirmation.LowerCaseLetter" | translate }}</span
          >
          <span class="d-block"
            class="d-block"
            *ngIf="!userForm.controls['password'].value?.match('(.*[0-9].*)')"
            >
            {{ "UserConfirmation.PasswordmustcontainNumber" | translate }}</span
          >
          <span class="d-block"
            class="d-block"
           *ngIf="!userForm.controls['password'].value?.match('(?=.*[!@#$%^&*])')"
            >
            {{ "UserConfirmation.SpecialCharacter" | translate }}</span
          >
        </span>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">{{
        "UserConfirmation.ConfirmPassword" | translate
      }}</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control"
        required
      />
      <span
        *ngIf="
          (userForm.controls['confirmPassword'].dirty ||
            userForm.controls['confirmPassword'].touched) &&
          userForm.hasError('required', 'confirmPassword')
        "
        class="text-danger"
      >
        {{ "UserConfirmation.ConfirmPassword" | translate }}
        {{ "UserConfirmation.IsRequired" | translate }}
      </span>
      <span *ngIf="userForm.errors?.['passwordmatcherror']">
        {{ "UserConfirmation.ConfirmPassword" | translate }} {{ "UserConfirmation.Doesnotmatch" | translate }}
      </span>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        id="policy"
        formControlName="acceptPolicy"
        class="form-check-input"
      />
      <label for="policy" class="form-check-label">{{
        "UserConfirmation.policy" | translate
      }}</label>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
      {{ "UserConfirmation.Save" | translate }}
    </button>
  </form>
</ng-container> -->

<ng-container *ngIf="!validId">
  <div class="not_valid">NOT VALID ACOUNT</div>
</ng-container>

<ng-container *ngIf="errorMessage">
  <div>{{ errorMessage }}</div>
</ng-container>
<div class="confirm_invitation_pages" *ngIf="validId">
  <div class="container_page">
    <div class="welcome_card">
      <h2 class="title">Hello!</h2>
      <h2 class="sub_title">Welcome</h2>
    </div>
    <div class="form_card">
      <div class="sec_header mb-6">
        <p class="title">Confirm Invitation</p>
      </div>
      <div class="form_content pb-6">
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
          <div class="uplode_photo mb-6">
            <div class="btn_uplode">
              <!-- <label for="photo" class="form-label">
              {{ "UserConfirmation.Photo" | translate }}
            </label> -->
              <!-- (change)="onFileSelected($event)" -->
              <div
                id="photo"
                style="background-image: url('{{ photoSrc }}');"
              ></div>
              <!-- <input
              type="file"

              accept="image/*"
               (change)="onFileSelected($event)"

            /> -->
              <input
                type="file"
                id="btnuplode"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
            <!-- <div>

          </div> -->
            <div class="information">
              <p class="information_title">Add User Photo Here</p>
              <p class="information_subtitle">250px *500px (JPG, PNG)</p>
            </div>
          </div>
          <div class="user_name_email mb-6">
            <div class="user_name">
              <label for="fullName">{{
                "UserConfirmation.Name" | translate
              }}</label>
              <input
                type="text"
                placeholder="Name here"
                id="fullName"
                pInputText
                formControlName="fullName"
              />
              <!-- <p *ngIf="!fullName.valid" >name is a required</p> -->
              <!-- <div *ngIf=" userForm.fullName.errors?.required ">Name is required.</div> -->
              <span
                *ngIf="
                  (userForm.controls['fullName'].dirty ||
                    userForm.controls['fullName'].touched) &&
                  userForm.hasError('required', 'fullName')
                "
                class="text-danger"
              >
                {{ "UserConfirmation.Name" | translate }}
                {{ "UserConfirmation.IsRequired" | translate }}
              </span>
            </div>
            <div class="user_email">
              <label for="email">{{
                "UserConfirmation.Email" | translate
              }}</label>
              <input
                type="text"
                placeholder="Email  here"
                id="email"
                pInputText
                formControlName="email"
              />
              <span
                *ngIf="
                  (userForm.controls['email'].dirty ||
                    userForm.controls['email'].touched) &&
                  userForm.hasError('required', 'email')
                "
                class="text-danger"
              >
                {{ "UserConfirmation.Email" | translate }}
                {{ "UserConfirmation.IsRequired" | translate }}
              </span>
            </div>
          </div>
          <div class="user_name_email mb-6">
            <div class="user_name">
              <label for="password">{{
                "UserConfirmation.Password" | translate
              }}</label>
              <p-password
                class="w-full"
                formControlName="password"
                id="password"
                [feedback]="false"
                [toggleMask]="true"
              ></p-password>
              <span
                *ngIf="
                  (userForm.controls['password'].dirty ||
                    userForm.controls['password'].touched) &&
                  userForm.hasError('required', 'password')
                "
                class="text-danger"
              >
                {{ "UserConfirmation.Password" | translate }}
                {{ "UserConfirmation.IsRequired" | translate }}
              </span>
              <div class="my-1">
                <span
                  class="d-block"
                  *ngIf="
                    userForm.get('password')?.hasError('pattern') &&
                    userForm.controls['password'].dirty
                  "
                  class="text-danger"
                >
                  <span
                    class="d-block"
                    class="d-block"
                    *ngIf="
                      !userForm.controls['password'].value?.match(
                        '^(?=.*[A-Z])'
                      )
                    "
                  >
                    {{ "UserConfirmation.UpperCaseLetter" | translate }}</span
                  >
                  <span
                    class="d-block"
                    class="d-block"
                    *ngIf="
                      !userForm.controls['password'].value?.match('(?=.*[a-z])')
                    "
                  >
                    {{ "UserConfirmation.LowerCaseLetter" | translate }}</span
                  >
                  <span
                    class="d-block"
                    class="d-block"
                    *ngIf="
                      !userForm.controls['password'].value?.match('(.*[0-9].*)')
                    "
                  >
                    {{
                      "UserConfirmation.PasswordmustcontainNumber" | translate
                    }}</span
                  >
                  <span
                    class="d-block"
                    class="d-block"
                    *ngIf="
                      !userForm.controls['password'].value?.match(
                        '(?=.*[!@#$%^&*])'
                      )
                    "
                  >
                    {{ "UserConfirmation.SpecialCharacter" | translate }}</span
                  >
                </span>
              </div>
            </div>
            <div class="user_email">
              <label for="confirmPassword">{{
                "UserConfirmation.ConfirmPassword" | translate
              }}</label>
              <p-password
                formControlName="confirmPassword"
                id="confirmPassword"
                [feedback]="false"
                [toggleMask]="true"
              ></p-password>
              <span
                *ngIf="
                  (userForm.controls['confirmPassword'].dirty ||
                    userForm.controls['confirmPassword'].touched) &&
                  userForm.hasError('required', 'confirmPassword')
                "
                class="text-danger"
              >
                {{ "UserConfirmation.ConfirmPassword" | translate }}
                {{ "UserConfirmation.IsRequired" | translate }}
              </span>
              <span *ngIf="userForm.errors?.['passwordmatcherror']">
                {{ "UserConfirmation.ConfirmPassword" | translate }}
                {{ "UserConfirmation.Doesnotmatch" | translate }}
              </span>
            </div>
          </div>
          <div class="policy mb-6">
            <!-- <p-checkbox formControlName="acceptPolicy"  inputId="policy"></p-checkbox>
          <label for="policy">I Agree to the <span>terms of use</span>  and <span>privacy policy</span> </label>
          -->
            <input
              type="checkbox"
              id="policy"
              formControlName="acceptPolicy"
              class="form-check-input"
            />
            <label for="policy" class="form-check-label">{{
              "UserConfirmation.policy" | translate
            }}</label>
          </div>
          <div class="actions mb-6">
            <button type="button" class="disabled" *ngIf="userForm.invalid">
              {{ "UserConfirmation.Save" | translate }}
            </button>
            <button type="submit" class="save" *ngIf="userForm.valid">
              {{ "UserConfirmation.Save" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
