<div class="company-details-container">
  <h2>Company Details</h2>

  <div class="company-details">
    <p><strong>Name:</strong> {{ company?.name }}</p>
    <p><strong>Type:</strong> {{ company?.companyType }}</p>
    <p><strong>Website:</strong> {{ company?.website }}</p>
    <p><strong>Address:</strong> {{ company?.address }}</p>
    <p><strong>Mobile Number:</strong> {{ company?.mobileNumber }}</p>
    <p><strong>Email:</strong> {{ company?.companyEmail }}</p>
    <p><strong>Industry:</strong> {{ company?.industryName }}</p>
    <p><strong>Currency:</strong> {{ company?.currencyName }}</p>
    <p><strong>Country:</strong> {{ company?.countryName }}</p>
    <p><strong>Plan Name:</strong> {{ company?.planName }}</p>
    <p><strong>Active:</strong> {{ company?.isActive ? 'Yes' : 'No' }}</p>
  </div>
</div>