<lib-page-content [title]="'tag.taglist' | translate" [subTitle]="'tag.taglist' | translate">
  <div>
    <div class="user_page">
      <lib-data-table
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (addNew)="routeToAdd()"
        (pageChange)="onPageChange($event)"
        [tableConfigs]="{
              allowPagination: false,
              allowServerPagination: true,
              dataKey: 'id',
              pageSize: 10,
              columns: [
                 
                 {
                   name: 'code',
                   headerText: ('customerDefinition.code' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
                 {
                   name: 'name',
                   headerText: ('customerDefinition.name' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
               
                 {
                   name: 'categoryName',
                   headerText: ('customerDefinition.category' | translate),
                   isSortable: true
                 },
                 {
                   name: 'email',
                   headerText: ('customerDefinition.email' | translate) ,
                   isSortable: true
                 },
               
                 {
                   name: 'country',
                   headerText: ('customerDefinition.country' | translate),
                   isSortable: true
                 },
                 {
                   name: 'paymentTermName',
                   headerText: ('customerDefinition.paymentTerm' | translate),
                   isSortable: true
                 },
                 {
                   name: 'creditLimit',
                   headerText: ('customerDefinition.criditLimit' | translate),
                   isSortable: true
                 },
                 {
                   name: 'id',
                   headerText: ('customerDefinition.actions' | translate),
                   template : actions
                 },
               ]
            }"
      >
        <ng-container search>
          <div>
            <lib-text-input
              type="text"
              [placeholder]="'customerDefinition.Search' | translate"
              (keyUp)="onSearchChange($event)"
              [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
            >
            </lib-text-input></div
        ></ng-container>
        <ng-container action>
          <lib-export
            (exportClick)="exportCustomersData($event)"
            [exportData]="exportData"
            [exportColumns]="exportColumns"
            [ExportName]="'Customers'"
          >
          </lib-export>
          <lib-button-micro
            nameClass="save"
            [title]="'customerDefinition.add' | translate"
            (click)="routeToAdd()"
            [iconName]="'pi pi-plus'"
          >
          </lib-button-micro>
        </ng-container>

        <ng-template #actions let-actions>
          <div class="actions flex align-items-center">
            <lib-button-micro nameClass="table_button_edit" (click)="routeToEdit(actions.id)">
            </lib-button-micro>
            <lib-button-micro nameClass="table_button_delete" (click)="onDelete(actions.id)">
            </lib-button-micro>
          </div>
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
