<div class="entry_table">
  <div class="card">
      <p-table [value]="fa.controls" dataKey="id" styleClass="p-datatable-gridlines p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
              <tr>
                  <th>{{ "COAConfigration.levelnumber" | translate }}</th>
                  <th>{{ "COAConfigration.levelName" | translate }}</th>
                  <th>{{ "COAConfigration.numberOfDigits" | translate }}</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-sandra let-editing="editing" let-i="rowIndex"> 
              <tr [formGroup]="sandra">

                <td [pEditableColumn]="sandra.controls['levelNumber']" pEditableColumnField="levelNumber">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <lib-text-input formControlName="levelNumber"  type="number"></lib-text-input>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ sandra.controls['levelNumber'].value }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td [pEditableColumn]="sandra.controls['name']" pEditableColumnField="name">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <lib-text-input formControlName="name" type="text"></lib-text-input>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ sandra.controls['name'].value }}
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td [pEditableColumn]="sandra.controls['numberOfDigits']" pEditableColumnField="numberOfDigits">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <lib-text-input formControlName="numberOfDigits"  type="number"></lib-text-input>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ sandra.controls['numberOfDigits'].value }}
                          </ng-template>
                      </p-cellEditor>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
  <div class="add_new">
      <button class="btn Line" (click)="addline()">
        {{ "COAConfigration.AddNewLine" | translate }}
      </button>
  </div>

  <div class="btn_group">
      <button class="btn discard"(click)="close()">
        {{ "COAConfigration.discard" | translate }}
      </button>
      <button class="btn save"  (click)="save()">
        {{ "COAConfigration.Save" | translate }}
      </button>
  </div>
</div>
