.cardBarcode{
    background-color: #ffffff;
     min-height: 445px;
    margin-top: 25px;
    padding: 15px;

}
.heads{
    font-weight: bold;
}

 ::ng-deep .p-multiselect {
  width: 100% !important;
}
.showText{
    color: #1a90b0;
    cursor: pointer;
}