
    <div class="add_new my-2 flex justify-content-end">
      <lib-button (onClick)="addLineBarcode()" className="outline-primary">
        {{ 'itemType.add_new' | translate }}
      </lib-button>
    </div>
    <div>
      <p-table
        [value]="barcodeForm['controls']"
        dataKey="id"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'itemType.barcode' | translate }}</th>
            <th>{{ 'itemType.unit' | translate }}</th>
            <th>{{ 'itemType.variant' | translate }}</th>
            <th>{{ 'itemType.sku' | translate }}</th>
            <th>{{ 'itemType.Qr' | translate }}</th>
            <th>{{ 'itemType.barcode' | translate }}</th>
            <th>{{ 'itemType.status' | translate }}</th>

            <th>{{ 'itemType.actions' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-itemDefBarcodeGroup
          let-editing="editing"
          let-i="rowIndex"
        >
          <tr [formGroup]="itemDefBarcodeGroup">
            <td
              [pEditableColumn]="itemDefBarcodeGroup.controls['barcode']"
              pEditableColumnField="barcode"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'itemType.barcode' | translate }}"
                    formControlName="barcode"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ itemDefBarcodeGroup.controls['barcode']?.value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="itemDefBarcodeGroup.controls['barcode']"
              ></lib-field-validations>
            </td>
            <!--  -->

            <td
              [pEditableColumn]="itemDefBarcodeGroup.controls['uomId']"
              pEditableColumnField="uomId"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select
                    formControlName="uomId"
                    [options]="uomLookup"
                    optionLabel="uomName"
                    optionValue="uomId"
                    (valueChanged)="uomChange($event , itemDefBarcodeGroup)"
                  ></lib-select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{
                    itemDefBarcodeGroup.controls['uomName']?.value ??
                      itemDefBarcodeGroup.controls['uomId']?.value
                  }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="itemDefBarcodeGroup.controls['uomId']"
              ></lib-field-validations>
            </td>

            <!--  -->
            <td
              [pEditableColumn]="itemDefBarcodeGroup.controls['itemVariantId']"
              pEditableColumnField="itemVariantId"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-select
                    formControlName="itemVariantId"
                    [options]="ItemVariantsByItemIdDropDown"
                    optionLabel="name"
                    optionValue="id"

                  ></lib-select>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ itemDefBarcodeGroup.controls['itemVariantName']?.value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="itemDefBarcodeGroup.controls['itemVariantId']"
              ></lib-field-validations>
            </td>
            <!--  -->

            <td
              [pEditableColumn]="itemDefBarcodeGroup.controls['sku']"
              pEditableColumnField="sku"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <lib-text-input
                    placeholder="{{ 'itemType.sku' | translate }}"
                    formControlName="sku"
                  ></lib-text-input>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ itemDefBarcodeGroup.controls['sku']?.value }}
                </ng-template>
              </p-cellEditor>
              <lib-field-validations
                [appControl]="itemDefBarcodeGroup.controls['sku']"
              ></lib-field-validations>
            </td>

            <!--  -->

            <td>
              <p
                class="m-0 p-0 showtext"
                (click)="openQRcode(itemDefBarcodeGroup.controls['barcode']?.value)"
              >
                {{ 'itemType.show' | translate }}
              </p>
            </td>
            <!--  -->

            <td>
              <p
                class="m-0 p-0 showtext"
                (click)="openBarcode(itemDefBarcodeGroup.controls['barcode']?.value)"
              >
                {{ 'itemType.show' | translate }}
              </p>
            </td>
            <td>
              <lib-input-switch
                formControlName="status"
                (valueChanged)="confirmBarcodeChange($event, itemDefBarcodeGroup)"
              ></lib-input-switch>
            </td>
            <!--  -->

            <td>

                <div class="actions flex align-items-center">
              <div class="flex gap-4 align-items-center">

                <img src="assets/images/table/edit.svg" alt="" (click)="onSaveBarcode(itemDefBarcodeGroup)" [class.none]="itemDefBarcodeGroup.controls['id']?.value" />
                <img src="assets/images/table/delete.svg" alt="" (click)="onDeleteBarcode(itemDefBarcodeGroup , i)" />

                 </div>
                 </div>


            </td>
          </tr>
        </ng-template>
      </p-table>


      <div class="grid">
        <div class="md:col-12 my-3 grid flex justify-content-end">
          <div class="md:col-4 grid flex justify-content-end">
            <div class="md:col-6">
              <lib-button-micro
                title="{{ 'itemType.cancel' | translate }}"
                nameClass="cancel"
                widthNumber="100%"
                (click)="onCancel()"

              >
              </lib-button-micro>
            </div>
            <div  class="md:col-6">
              <lib-button-micro
                title="{{ 'itemType.save' | translate }}"
                nameClass="save"
                widthNumber="100%"
                (click)="onSave()"
              >
              </lib-button-micro>

            </div>
          </div>


        </div>
      </div>
    </div>

