.save {
  min-width: 150px;
  background: #d1e9ef;
  border: 1px solid #d1e9ef;
  color: #1a90b0 !important;
}
.post {
  min-width: 150px;
  background: #d1e9ef;
  border: 1px solid #d1e9ef;
  color: #1a90b0 !important;
}
.Draft {
  min-width: 150px;
  background: #f9e5d3;
  border: 1px solid #f9e5d3;
  color: #5e6278 !important;
}
.btn_stock {
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
}
::ng-deep {
  .p-multiselect {
    width: 100% !important;
  }
  .p-multiselect-label-container,
  .p-multiselect-label {
    width: 100%;
  }
  .p-multiselect-label-container {
    padding: 0;
  }
}
