<div>
  <lib-bread-crumb></lib-bread-crumb>
  <div class="user_page">
    <lib-data-table
      [items]="dataList"
      className="p-datatable-gridlines"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: false,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'name',
            headerText: 'Domain Space',
            isGlobalFilter: true,
            isSortable: false
          },
          {
            name: 'info',
            headerText: 'Domain Space Info',
            isGlobalFilter: true,
            isSortable: false,
            template: domainInfo
          },
          {
            name: 'email',
            headerText: 'Apps Info',
            isGlobalFilter: true,
            isSortable: false,
            template: appsInfo
          },
          {
            name: 'country',
            headerText: 'Companies Info',
            isGlobalFilter: true,
            isSortable: false,
            template: companiesInfo
          },

          {
            name: 'mobileNumber',
            headerText: 'Users Info',
            isGlobalFilter: true,
            isSortable: false,
            template: usersInfo
          },
          {
            name: 'mobileNumber',
            headerText: 'Licence Info',
            isGlobalFilter: true,
            isSortable: false,
            template: licenceInfo
          },
          {
            name: 'id',
            headerText: 'Actions',
            template: userCol
          }
        ]
      }"
    >
      <ng-container action>
        <div class="group">
          <div>
            <app-shared-form [fields]="fields" [showSaveBtn]="false" #form></app-shared-form>
          </div>
        </div>

        <div class="my-5">
          <lib-button [className]="'adminPortal'" (onClick)="onManageOwner(companiesInfo)">
            Domains
          </lib-button>
        </div>
      </ng-container>

      <!-- actions of the Table -->
      <ng-template #userCol let-user>
        <div class="actions flex align-items-center">
          <div>
            <lib-input-switch></lib-input-switch>
          </div>
        </div>
      </ng-template>
      <!--  -->
      <ng-template #domainInfo let-domainInfo>
        <div>
          <lib-button [className]="'adminPortal'" (onClick)="viewDomainInfo(domainInfo.id)">
            Manage
          </lib-button>
        </div>
      </ng-template>
      <!--  -->
      <ng-template #appsInfo let-appsInfo>
        <div>
          <lib-button [className]="'adminPortal'" (onClick)="viewAppsDetails(appsInfo.id)">
            Manage
          </lib-button>
        </div>
      </ng-template>
      <!--  -->
      <ng-template #companiesInfo let-companiesInfo>
        <div>
          <lib-button
            [className]="'adminPortal'"
            (onClick)="viewCompaniesDetails(companiesInfo.id)"
          >
            Manage
          </lib-button>
        </div>
      </ng-template>
      <!--  -->
      <ng-template #usersInfo let-usersInfo>
        <div>
          <lib-button [className]="'adminPortal'" (onClick)="viewUserDetails(usersInfo.id)">
            Manage
          </lib-button>
        </div>
      </ng-template>
      <!--  -->
      <ng-template #licenceInfo let-licenceInfo>
        <div>
          <lib-button [className]="'adminPortal'" (onClick)="viewLicenseDetails(licenceInfo.id)">
            Manage
          </lib-button>
        </div>
      </ng-template>
      <!--  -->
    </lib-data-table>
  </div>
</div>
