
<div>
  <!-- <lib-bread-crumb></lib-bread-crumb> -->
  <div class="user_page">
    <lib-data-table [items]="tableData" className="p-datatable-gridlines" [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
       [tableConfigs]="{

          allowPagination: true,
          allowServerPagination: false,
          dataKey: 'id',
          pageSize: 10,
          columns: [

            {
              name: 'name',
              headerText: ('Domain Space Info'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'email',
              headerText: ('Apps Info'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'country',
              headerText: ('Companies Info'),
              isGlobalFilter: true,
              isSortable: false,
            },

            {
              name: 'mobileNumber',
              headerText: ('Users Info'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'mobileNumber',
              headerText: ('Licence Info'),
              isGlobalFilter: true,
              isSortable: false
            },
            {
              name: 'id',
              headerText: ('Actions'),
              template: userCol

            },
          ]
        }">

   <!-- actions of the header of Table -->
      <ng-container caption>
        <div class="group">
          <div>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search..." />
            </span>
          </div>

          <div >

            <lib-button pRipple className="add_new" label="Add New" icon="pi pi-plus">
            </lib-button>
          </div>

        </div>
      </ng-container>

    <!-- actions of the Table -->
      <ng-template #userCol let-user>
        <div class="actions flex align-items-center ">
          <lib-button className="edit"  icon="pi pi-pencil" [rounded]="true" [enableText]="true" severity="secondary" (onClick)="onEditOwner()">
          </lib-button>
        </div>

      </ng-template>

      <ng-template #userStatus let-user>
        <div class="status unbalanced" *ngIf="user.status===sharedJouralEnum.JournalEntryStatus.DraftUnbalanced">
          <p class="dot"></p>
          <p> Unbalanced</p>
        </div>
        <div class="status draft" *ngIf="user.status==sharedJouralEnum.JournalEntryStatus.Draftbalanced">
          <p class="dot"></p>
          <p> Draft</p>
        </div>
        <div class="status unposted" *ngIf="user.status===sharedJouralEnum.JournalEntryStatus.submited">
          <p class="dot"></p>
          <p> Unposted</p>
        </div>
        <div class="status Posted" *ngIf="user.status===sharedJouralEnum.JournalEntryStatus.Posted">
          <p class="dot"></p>
          <p> Posted</p>
        </div>





      </ng-template>
      <ng-template #userDate let-user>
        <div>
          <p>{{user.createdOn | date: 'dd/MM/yyyy' }}</p>
        </div>
      </ng-template>
      <ng-template #userIsRepeated let-user>
        <div>
          <p>{{user.isRepeated ? 'Yes' : 'No' }}</p>
        </div>
      </ng-template>
      <ng-template #userIsReversed let-user>
        <div>
          <p>{{user.isReversed ? 'Yes' : 'No' }}</p>
        </div>
      </ng-template>
    </lib-data-table>

  </div>
</div>
