<lib-page-content>
  <div class="company_address">
    <form [formGroup]="companyContactForm">
      <div class="actions ">
        <div class="edit_btn">
          <button type="button" class="save" (click)="onSubmit()">
            {{
              editMode
                ? ("Company.Save" | translate)
                : ("Company.Edit" | translate)
            }}
          </button>
        </div>
      </div>
      <fieldset [disabled]="!editMode">
        <div class="contact_form">
          <div class="grid">
            <div class="col-2">
              <lib-form-group>
                <lib-label
                  [appControl]="companyContactForm.controls['mobileNumberCode']"
                >
                  {{ "Company.Contanct.MobileNumberCode" | translate }}
                </lib-label>
                <lib-select
                  [disabledMode]="!editMode"
                  formControlName="mobileNumberCode"
                  [options]="lookups[LookupEnum.MobileCode]"
                  [selectedValue]="selectedMobileCode"
                  optionValue="id"
                  optionLabel="name"
                >
                </lib-select>
                <lib-field-validations
                  [appControl]="companyContactForm.controls['mobileNumberCode']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-10">
              <lib-form-group>
                <lib-label
                  [appControl]="companyContactForm.controls['mobileNumber']"
                >
                  {{ "Company.Contanct.MobileNumber" | translate }}
                </lib-label>
                <lib-text-input type="tel" formControlName="mobileNumber" />
                <lib-field-validations
                  [appControl]="companyContactForm.controls['mobileNumber']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-12 md:col-6">
              <lib-form-group>
                <lib-label
                  [appControl]="companyContactForm.controls['companyEmail']"
                >
                  {{ "Company.Contanct.companyEmail" | translate }}
                </lib-label>
                <lib-text-input type="text" formControlName="companyEmail" />
                <lib-field-validations
                  [appControl]="companyContactForm.controls['companyEmail']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-12 md:col-6">
              <lib-form-group>
                <lib-label
                  [appControl]="companyContactForm.controls['companyAddress']"
                >
                  {{ "Company.Contanct.companyAddress" | translate }}
                </lib-label>
                <lib-text-input type="text" formControlName="companyAddress" />
                <lib-field-validations
                  [appControl]="companyContactForm.controls['companyAddress']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-12">
              <lib-form-group>
                <lib-label
                  [appControl]="companyContactForm.controls['contactPersonal']"
                >
                  {{ "Company.Contanct.contactPersonal" | translate }}
                </lib-label>
                <lib-text-input type="text" formControlName="contactPersonal" />
                <lib-field-validations
                  [appControl]="companyContactForm.controls['contactPersonal']"
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-12">
              <lib-form-group>
                <lib-label
                  [appControl]="
                    companyContactForm.controls['contactPersonalPosition']
                  "
                >
                  {{ "Company.Contanct.contactPersonalPosition" | translate }}
                </lib-label>
                <lib-text-input
                  type="text"
                  formControlName="contactPersonalPosition"
                />
                <lib-field-validations
                  [appControl]="
                    companyContactForm.controls['contactPersonalPosition']
                  "
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
            <div class="col-12">
              <lib-form-group>
                <lib-label
                  [appControl]="
                    companyContactForm.controls['contactPersonalEmail']
                  "
                >
                  {{ "Company.Contanct.contactPersonalEmail" | translate }}
                </lib-label>
                <lib-text-input
                  type="text"
                  formControlName="contactPersonalEmail"
                />
                <lib-field-validations
                  [appControl]="
                    companyContactForm.controls['contactPersonalEmail']
                  "
                >
                </lib-field-validations>
              </lib-form-group>
            </div>
          </div>
        </div>
      </fieldset>


    </form>
  </div>
</lib-page-content>
