<lib-page-content>
    <div class="company_addres">
        <form
        [formGroup]="companyContactForm"
    
        >
        <div class="contact_form">
            <div class="grid">
              <div class="col-2
              ">
                
                  <lib-form-group>
                    <lib-label [appControl]="companyContactForm.controls['mobileNumberCode']">
                      {{ "Company.Add.MobileNumberCode" | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="mobileNumberCode"
                      optionValue="id"
                      [options]="lookups[LookupEnum.MobileCode]"
                      optionLabel="name">
                    </lib-select>
                
                  </lib-form-group>

              </div>
              <div class=" col-10">
                <lib-form-group>
                  <lib-label [appControl]="companyContactForm.controls['mobileNumber']">
                    {{ "Company.Add.MobileNumber" | translate }}
                  </lib-label>
                  <lib-text-input type="tel" formControlName="mobileNumber" />
                  <lib-field-validations
                    [appControl]="companyContactForm.controls['mobileNumber']"
                  >
                  </lib-field-validations>
                </lib-form-group>
              </div>
                <div class="col-12 md:col-6">
                    <lib-form-group>
                        <lib-label [appControl]="companyContactForm.controls['Country']">
                          {{ "Company.Add.CompanyName" | translate }}
                        </lib-label>
                        <lib-text-input type="text" formControlName="Country" />
                        <lib-field-validations [appControl]="companyContactForm.controls['Country']">
                        </lib-field-validations>
                      </lib-form-group>
                </div>
                <div class="col-12 md:col-6">
                    <lib-form-group>
                        <lib-label [appControl]="companyContactForm.controls['Country']">
                          {{ "Company.Add.CompanyName" | translate }}
                        </lib-label>
                        <lib-text-input type="text" formControlName="Country" />
                        <lib-field-validations [appControl]="companyContactForm.controls['Country']">
                        </lib-field-validations>
                      </lib-form-group>
                </div>
                <div class="col-12 ">
                    <lib-form-group>
                        <lib-label [appControl]="companyContactForm.controls['Country']">
                          {{ "Company.Add.CompanyName" | translate }}
                        </lib-label>
                        <lib-text-input type="text" formControlName="Country" />
                        <lib-field-validations [appControl]="companyContactForm.controls['Country']">
                        </lib-field-validations>
                      </lib-form-group>
                </div>
                <div class="col-12 ">
                    <lib-form-group>
                        <lib-label [appControl]="companyContactForm.controls['Country']">
                          {{ "Company.Add.CompanyName" | translate }}
                        </lib-label>
                        <lib-text-input type="text" formControlName="Country" />
                        <lib-field-validations [appControl]="companyContactForm.controls['Country']">
                        </lib-field-validations>
                      </lib-form-group>
                </div>
                <div class="col-12 ">
                    <lib-form-group>
                        <lib-label [appControl]="companyContactForm.controls['Country']">
                          {{ "Company.Add.CompanyName" | translate }}
                        </lib-label>
                        <lib-text-input type="text" formControlName="Country" />
                        <lib-field-validations [appControl]="companyContactForm.controls['Country']">
                        </lib-field-validations>
                      </lib-form-group>
                </div>
                
            </div>
        </div>
     
        <div class="actions mb-6">
    
          <button type="submit" class="save" >
            {{ "UserConfirmation.Save" | translate }}
          </button>
        </div>
     
        </form>
    
    </div>
    </lib-page-content>