<lib-page-content>
  <div class="user-page">
    <div class="charts">
      <div class="grid">
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="statusLoader">
          <app-chart-card [chartDTO]="statusChart" [chartDetailsConfig]="statusChartValues">
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.status' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <!-- <div class="chart-body accounts-bank w-full">
           @for(acc of cashBankAccountsBalance.accounts; track acc) {
              <div class="row">
                <span class="body-14 mx-1">{{ acc.accountName }}</span>
                <span
                  class="detail-type body_b14 pointer"
                  [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
                  [routerLink]="'transcations/account-statement/' + acc.accountId"
                >
                  {{ acc.accountTypeName }}
                </span>

                <span class="line"></span>
                <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
              </div>
              }

              <div class="grid"></div>
            </div> -->
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="cashFlowSummaryLoader">
          <app-chart-card>
            <div class="chart-header">
              <div class="title title-card-wrapper heading_b18">
                <span>
                  {{ 'dashboard.cashFlowSummary' | translate }}
                </span>
                <lib-select
                  [options]="currencyDropDown"
                  optionValue="value"
                  optionLabel="label"
                  (valueChanged)="selectCurrency($event)"
                  [showClear]="false"
                  [selectedValue]="defaultCurrency.label"
                >
                </lib-select>
              </div>

              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <div class="chart-body accounts-bank w-full">
              <!-- @for(acc of cashBankAccountsBalance.accounts; track acc) {
            <div class="row">
              <span class="body-14 mx-1">{{ acc.accountName }}</span>
              <span
                class="detail-type body_b14 pointer"
                [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
                [routerLink]="'transcations/account-statement/' + acc.accountId"
              >
                {{ acc.accountTypeName }}
              </span>

              <span class="line"></span>
              <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
            </div>
            } -->

              <div class="grid"></div>
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="totalBankTreasuriesLoader">
          <app-chart-card [chartDTO]="totalBankTreasuriesChart">
            <div class="chart-header">
              <div class="title title-card-wrapper heading_b18">
                <span>
                  {{ 'dashboard.totalBankTreasuries' | translate }}
                </span>
                <lib-select
                  [options]="currencyDropDown"
                  optionValue="value"
                  optionLabel="label"
                  (valueChanged)="selectCurrency($event)"
                  [showClear]="false"
                  [selectedValue]="defaultCurrency.label"
                >
                </lib-select>
              </div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
          </app-chart-card>
        </div>

        <div class="lg:col-6 col-12" [appLoader]="banksLoader">
          <app-chart-card>
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.banks' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-6 col-12" [appLoader]="treasuriesLoader">
          <app-chart-card>
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.treasuries' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
          </app-chart-card>
        </div>

        <div class="lg:col-6 col-12" [appLoader]="incomeLoader">
          <app-chart-card [chartDTO]="incomeChart">
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.income' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <div class="chart-body accounts-bank w-full">
              <!-- @for(acc of cashBankAccountsBalance.accounts; track acc) {
          <div class="row">
            <span class="body-14 mx-1">{{ acc.accountName }}</span>
            <span
              class="detail-type body_b14 pointer"
              [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
              [routerLink]="'transcations/account-statement/' + acc.accountId"
            >
              {{ acc.accountTypeName }}
            </span>

            <span class="line"></span>
            <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
          </div>
          } -->

              <div class="grid"></div>
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-6 col-12" [appLoader]="outgoingLoader">
          <app-chart-card [chartDTO]="outgoingChart">
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.outgoing' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <div class="chart-body accounts-bank w-full">
              <!-- @for(acc of cashBankAccountsBalance.accounts; track acc) {
          <div class="row">
            <span class="body-14 mx-1">{{ acc.accountName }}</span>
            <span
              class="detail-type body_b14 pointer"
              [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
              [routerLink]="'transcations/account-statement/' + acc.accountId"
            >
              {{ acc.accountTypeName }}
            </span>

            <span class="line"></span>
            <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
          </div>
          } -->

              <div class="grid"></div>
            </div>
          </app-chart-card>
        </div>

        <div class="lg:col-6 col-12" [appLoader]="recentIncomeTransactionsLoader">
          <app-chart-card>
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.resentTransactions' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <div class="chart-body accounts-bank w-full">
              <!-- @for(acc of cashBankAccountsBalance.accounts; track acc) {
          <div class="row">
            <span class="body-14 mx-1">{{ acc.accountName }}</span>
            <span
              class="detail-type body_b14 pointer"
              [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
              [routerLink]="'transcations/account-statement/' + acc.accountId"
            >
              {{ acc.accountTypeName }}
            </span>

            <span class="line"></span>
            <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
          </div>
          } -->

              <div class="grid"></div>
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-6 col-12" [appLoader]="recentIncomeTransactionsLoader">
          <app-chart-card>
            <div class="chart-header">
              <div class="title heading_b18">{{ 'dashboard.resentTransactions' | translate }}</div>
              <div class="action body_b14">
                <span class="pointer">
                  {{ 'dashboard.moreDetails' | translate }} <i class="pi pi-arrow-right fs-14"></i>
                </span>
                <span class="column-line"></span>
                <i class="pi pi-heart"></i>
              </div>
            </div>
            <div class="chart-body accounts-bank w-full">
              <!-- @for(acc of cashBankAccountsBalance.accounts; track acc) {
          <div class="row">
            <span class="body-14 mx-1">{{ acc.accountName }}</span>
            <span
              class="detail-type body_b14 pointer"
              [style.background-color]="acc.accountTypeId == 2 ? '#e7994f' : '#5eb5af'"
              [routerLink]="'transcations/account-statement/' + acc.accountId"
            >
              {{ acc.accountTypeName }}
            </span>

            <span class="line"></span>
            <span class="detail-value heading_b16">{{ acc.balance | decimalSeparator }}</span>
          </div>
          } -->

              <div class="grid"></div>
            </div>
          </app-chart-card>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
