<lib-page-content>
  <div class="user-page">
    <div class="custom_card" [appLoader]="totalStockOverviewLoader">
      <div class="custom_card_label heading_b26">
        {{ 'dashboard.stockOverview' | translate }} <i class="pi pi-heart"></i>
      </div>
      <div class="account_types_details">
        <div class="box">
          <p class="heading_b18 m-0">
            {{ 'dashboard.totalQuantity' | translate }}
          </p>
          <p class="paragraph_b16 m-0">{{ stockOverview.totalQuantity || 0 | numberFormat }}</p>
        </div>
        <div class="box">
          <p class="heading_b18 m-0">
            {{ 'dashboard.totalValue' | translate }}
          </p>
          <p class="paragraph_b16 m-0">{{ stockOverview.totalValue || 0 | numberFormat }}</p>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="grid">
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="categoriesLoader">
          <app-chart-card
            [chartDTO]="categoriesChart"
            [chartDetailsConfig]="categoriesChartData"
            [smallSize]="true"
            title="{{ 'dashboard.categories' | translate }}"
            [route]="'reports/item-card-report'"
          >
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="warehousesLoader">
          <app-chart-card
            [chartDTO]="warehousesChart"
            [chartDetailsConfig]="warehouseChartData"
            [smallSize]="true"
            title="{{ 'dashboard.warehouses' | translate }}"
            [route]="'reports/item-card-report'"
          >
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="statusLoader">
          <app-chart-card
            [chartDTO]="statusChart"
            [chartDetailsConfig]="statusChartValues"
            title="{{ 'dashboard.status' | translate }}"
          >
          </app-chart-card>
        </div>

        <div class="lg:col-4 md:col-6 col-12" [appLoader]="lastStockOutLoader">
          <app-chart-card
            title="{{ 'dashboard.lastStockOut' | translate }}"
            [route]="'transactions/stock-out'"
          >
            <div class="chart-body w-full">
              @for(stockOut of lastStockOut; track stockOut) {
              <div class="row">
                <span class="body_b14 mx-1">{{ stockOut.description }}</span>
                <span class="detail-type body_b14 pointer">
                  {{ stockOut.itemId }}
                </span>

                <span class="line"></span>
                <span class="heading_b14"> <span> X </span>{{ stockOut.quantity }} </span>
                <div class="line"></div>
                <span class="detail-value heading_b16"
                  >{{ stockOut.totalCost | numberFormat }} {{ defaultCurrency }}
                </span>
              </div>
              } @empty {
              <p class="body_b14">{{ 'dashboard.noElements' | translate }}</p>
              }
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="lastStockInLoader">
          <app-chart-card
            title="{{ 'dashboard.lastStockIn' | translate }}"
            [route]="'transactions/stock-in'"
          >
            <div class="chart-body w-full">
              @for(stockIn of lastStockIn; track stockIn) {
              <div class="row">
                <span class="body_b14 mx-1">{{ stockIn.description }}</span>
                <span class="detail-type body_b14 pointer">
                  {{ stockIn.itemId }}
                </span>

                <span class="line"></span>
                <span class="heading_b14"> <span> X </span>{{ stockIn.quantity }} </span>
                <div class="line"></div>
                <span class="detail-value heading_b16"
                  >{{ stockIn.totalCost | numberFormat }} {{ defaultCurrency }}</span
                >
              </div>
              } @empty {
              <p class="body_b14">{{ 'dashboard.noElements' | translate }}</p>
              }
            </div>
          </app-chart-card>
        </div>
        <div class="lg:col-4 md:col-6 col-12" [appLoader]="stockExpiryDateLoader">
          <app-chart-card
            title="{{ 'dashboard.stockExpiryAlert' | translate }}"
            [route]="'reports/item-card-report'"
          >
            <div class="chart-body w-full">
              @for(stockExpiry of stockExpiryDate; track stockExpiry) {
              <div class="row expiry-row">
                @if(stockExpiry.expiryDate && isExpired(stockExpiry.expiryDate) ) {
                <i class="pi pi-ban"></i>
                }@else {
                <i class="pi pi-thumbs-up"></i>

                }
                <div class="code-details">
                  <div class="code body_b11">{{ stockExpiry.trackingNo }}</div>
                  <span class="body_b14 mx-1">{{ stockExpiry.name }}</span>
                </div>

                <span class="line"></span>

                <span class="detail-value heading_b16">{{
                  stockExpiry.expiryDate | date : 'dd/MM/yyyy'
                }}</span>
              </div>
              } @empty {
              <p class="body_b14">{{ 'dashboard.noElements' | translate }}</p>
              }
            </div>
          </app-chart-card>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
