.Active{
    width: 150px;
    height: 40px;
}
.user_info{
    display: flex;
    align-items: center;
}
.img_user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #1A8EAE !important;
  }
::ng-deep  .p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none !important;
  }
::ng-deep    .p-inputswitch {
    width: 9rem;
    height: 3rem;
  }
   ::ng-deep   .p-inputswitch  .p-inputswitch-slider:before {
    content: "\2122";
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 35px;
    background: #ffffff;
    width: 2.25rem;
    height: 2.25rem;
    left: 0.25rem;
    margin-top: -1rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}
   ::ng-deep   .p-inputswitch-checked   .p-inputswitch-slider:before {
    content: "\2713";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A8EAE;
    font-size: 35px;
    background: #ffffff;
    width: 2.25rem;
    height: 2.25rem;
    left: 0.25rem;
    margin-top: -1rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}

::ng-deep  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
transform: translateX(5.5rem);
}