<!-- <div class="container mt-4"> -->
  <!-- <div class="row justify-content-center">
     <div class="col-md-8">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="card-title">{{ "User.PageName" | translate }}</h3>
          <a class="btn btn-primary" (click)="openInviteModal()">
            {{ "User.InviteUser" | translate }}
          </a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead class="thead-custom">
                <tr>
                  <th>
                    {{ "User.Id" | translate }}
                  </th>
                  <th>
                    {{ "User.Name" | translate }}
                  </th>
                  <th>
                    {{ "User.Email" | translate }}
                  </th>
                  <th>
                    {{ "User.LastLogin" | translate }}
                  </th>
                  <th>
                    {{ "User.InvitationStatus" | translate }}
                  </th>
                  <th>
                    {{ "User.Status" | translate }}
                  </th>
                  <th>
                    {{ "User.Actions" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userData">
                  <td>{{ item["id"] }}</td>
                  <td>{{ item["name"] }}</td>
                  <td>{{ item["email"] }}</td>
                  <td>
                    {{ item["lastLoginDate"] | date : "dd/MM/yyyy HH:mm" }}
                  </td>
                  <td>
                    {{
                      (item.invitationStatus === 1
                        ? "User.Invited"
                        : item.invitationStatus === 2
                        ? "User.Accepted"
                        : ""
                      ) | translate
                    }}
                  </td>
                  <td *ngIf="item.invitationStatus == 1">
                    <button
                    class="btn btn-info"
                    (click)="resendInvitation(item.id)"
                  >  {{ "User.Resend" | translate }}
                  </button>
                  </td>
                  <td *ngIf="item.invitationStatus == 2">
                    <button
                      class="btn btn-info"
                      (click)="toggle(item.id, item.isActive)"
                    >
                      {{
                        (item.isActive ? "User.Deactivate" : "User.Activate")
                          | translate
                      }}
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-warning"
                      (click)="editUser(item.id)"
                    >
                      {{ "User.Edit" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 

</div> -->

<div class="user_page mt-4">
  <p-table
  #dt
  [value]="userData"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['name', 'email', 'representative.name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowsPerPageOptions]="[5, 10, 15]"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  class="flex flex-column "
  >
 
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-end">
          <!-- <h5 class="m-0">User information</h5> -->

          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
          </span>
          <button pButton pRipple label="Add New" icon="pi pi-plus" class=" add_new mr-2"   (click)="openInviteModal()"></button>

      </div>
  </ng-template>
  <ng-template pTemplate="header" >
      <tr>
          <th pSortableColumn="name" >{{ "User.Name" | translate }} <p-sortIcon field="name"></p-sortIcon></th>
         
          <th pSortableColumn="email">{{ "User.Email" | translate }} <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="category" style="min-width:10rem">{{ "User.LastLogin" | translate }} <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="rating">{{ "User.Actions" | translate }} <p-sortIcon field="rating"></p-sortIcon></th>
          <th pSortableColumn="inventoryStatus" style="min-width:10rem">{{ "User.Status" | translate }} <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td>
            <div class=" user_info">
              <img  src="assets/images/users/default.png"  width="50" class="shadow-4 img_user"/>
              <p>{{ user.name }}</p>
            </div>
          </td>
          <td>{{ user.email }}</td>
          <td>
            <span class="pi pi-calendar-minus"></span>
          
            {{ user.lastLoginDate| date : "dd/MM/yyyy HH:mm" }}</td>
          <td>
            
            <p-button icon="pi pi-pencil" (click)="editUser(user.id)" [rounded]="true" [text]="true" severity="secondary "></p-button>
            <!-- <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger "></p-button> -->
        </td>
          <td >
              <div class="checked" *ngIf="user.invitationStatus==2" >
                <p-inputSwitch [id]=" user.id" (onChange)="changed($event , user.id )" [(ngModel)]="user.isActive">
                </p-inputSwitch>
                <p class="active" *ngIf=user.isActive>{{ "User.Activate" | translate }}</p>
                <p class="inactive" *ngIf="!user.isActive">{{ "User.Deactivate" | translate }}</p>
              </div>
              <div class="checked">
                <button class="resend" (click)="resendInvitation(user.id)" *ngIf="user.invitationStatus==1">
                  <p class="title">{{ "User.Resend" | translate }}</p>
                  <p class="ico_mail pi pi-envelope
                  "></p>
                </button>
              </div>
              
              
            
          </td>
         
      </tr>
  </ng-template>
</p-table>

</div>
