<div class="cont">
  <div class="domain_header">
    <div class="title">
      <div class="plus_icon"></div>
      {{ 'ChartOfAccount.ChooseAnAccount' | translate }}
    </div>
    <div class="pi pi-times cancel" (click)="onCancel()"></div>
  </div>
<lib-data-table
  [items]="items"
  [selectedIndex]="selectedIndex"
  className="p-datatable-gridlines"
  [currentPageResult]="paging"
  (pageChange)="onPageChange($event)"
  [tableConfigs]="{
    allowPagination: false,
    allowServerPagination: true,
    dataKey: 'id',
    pageSize: 10,
    columns: [
   
      {
        name: 'id',
        headerText: 'ChartOfAccount.Id' | translate,
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'accountCode',
        headerText: 'Code',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'name',
        headerText: 'Account Name',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'actions',
        headerText: 'Actions',
        template: actions
      },

    
    ]
  }"
>
  <ng-container caption>
    <div class="group">
      <div [formGroup]="searchForm">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText formControlName="SearchTerm" type="text" placeholder="Search..." />
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #actions let-account>
    <!-- <input
      type="checkbox"
      class="check"
      (change)="selectRow($event, account)"
      [checked]="account.id == selectedAccount?.id"
    /> -->
    <lib-button
      [className]="'light-blue'"
      [rounded]="true"
      [enableText]="true"
      severity="secondary"
      (onClick)="selectRow($event, account)"
    >
      Select
    </lib-button>
  </ng-template>
</lib-data-table>
</div>
