<lib-data-table
  [items]="items"
  [selectedIndex]="selectedIndex"
  className="p-datatable-gridlines"
  [currentPageResult]="paging"
  *ngIf="paging"
  (pageChange)="onPageChange($event)"
  [tableConfigs]="{
    allowPagination: false,
    allowServerPagination: true,
    dataKey: 'id',
    pageSize: 10,
    columns: [
      {
        name: 'id',
        headerText: 'Id',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'accountCode',
        headerText: 'Code',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'name',
        headerText: 'Account Name',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'mainType',
        headerText: 'Main Type',
        isGlobalFilter: true,
        isSortable: true
      },
      {
        name: 'actions',
        headerText: 'Actions',
        template: actions
      }
    ]
  }"
>
  <ng-container caption>
    <div class="group">
      <div [formGroup]="searchForm">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText formControlName="SearchTerm" type="text" placeholder="Search..." />
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #actions let-account>
    <input
      type="checkbox"
      class="check"
      (change)="selectRow($event, account)"
      [checked]="account.id == selectedAccount?.id"
    />
  </ng-template>
</lib-data-table>
