<lib-page-content>
  <div class="add_vendor_page">
    <form [formGroup]="addCustomerForm" (ngSubmit)="AddCustomer()">
      
      <div class="card_micro">
      <div class="vendor_header">
        <div class="grid">
          <div class="col-12 md:col-8">
            <div class="vendor_description">
              <div class="grid">
                <div class="col-12 md:col-6">
                  <lib-form-group>
                    <lib-label [appControl]="addCustomerForm.controls['code']">
                      {{ 'AddCustomerDefinition.customerCode' | translate }}
                    </lib-label>
                    <lib-text-input
                      placeholder="{{ 'AddCustomerDefinition.auto' | translate }}"
                      [readOnly]="true"
                    ></lib-text-input>
                    <lib-field-validations></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-6">
                  <lib-form-group>
                    <lib-label [appControl]="addCustomerForm.controls['name']">
                      {{ 'AddCustomerDefinition.customerName' | translate }}
                    </lib-label>
                    <lib-text-input type="text" formControlName="name"></lib-text-input>
                    <lib-field-validations
                      [appControl]="addCustomerForm.controls['name']"
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-6">
                  <lib-form-group>
                    <lib-label [appControl]="addCustomerForm.controls['categoryId']">
                      {{ 'AddCustomerDefinition.category' | translate }}
                    </lib-label>
                    <lib-select
                      formControlName="categoryId"
                      [options]="categoryList"
                      [selectedValue]="addCustomerForm.controls['categoryId']"
                      optionValue="id"
                      optionLabel="name"
                    >
                    </lib-select>
                    <lib-field-validations></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12 md:col-6">
                  <lib-form-group>
                    <lib-label [appControl]="addCustomerForm.controls['tagIds']">
                      {{ 'AddCustomerDefinition.customerTag' | translate }}
                    </lib-label>
                    <lib-multi-select
                      formControlName="tagIds"
                      [options]="accountTags"
                      [placeholder]="'AddCustomerDefinition.select' | translate"
                      optionValue="id"
                      optionLabel="name"
                      [selectedValue]="addCustomerForm.controls['tagIds'].value"
                    >
                    </lib-multi-select>
                    <lib-field-validations></lib-field-validations>
                  </lib-form-group>
                </div>
                <div class="col-12">
                  <lib-form-group>
                    <lib-label [appControl]="addCustomerForm.controls['birthdate']">
                      {{ 'AddCustomerDefinition.birthdate' | translate }}
                    </lib-label>
                    <lib-calendar formControlName="birthdate"></lib-calendar>
                    <lib-field-validations
                      [appControl]="addCustomerForm.controls['birthdate']"
                    ></lib-field-validations>
                  </lib-form-group>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-4">
            <div class="vendor_photo">
              <div class="text">
                <p class="photo_title body_b18">
                  {{ 'AddCustomerDefinition.contactPhoto' | translate }}
                </p>
                <p class="photo_valid body_b16">
                  {{ 'AddCustomerDefinition.photoDimensions' | translate }}
                </p>
              </div>
              <div class="photo">
                <lib-form-group>
                  <lib-file-uploader
                    formControlName="photo"
                    [uploadClassName]="'rounded'"
                    [className]="'rounded'"
                    [showImgName]="false"
                    [config]="{
                      type: sharedLibEnums.AttachmentFileTypes.image,
                      viewThumbnail: true
                    }"
                    [appControl]="addCustomerForm.controls['photo']"
                  ></lib-file-uploader>
                  <lib-field-validations
                    [appControl]="addCustomerForm.controls['photo']"
                  ></lib-field-validations>
                </lib-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="card_micro">

      <div class="vendor_body">
        <!-- <div class="card"> -->
          <p-tabView>
            <p-tabPanel [header]="'AddCustomerDefinition.Information' | translate">
              <div formGroupName="contactInfo">
                <div class="information">
                  <lib-fildest [header]="'AddCustomerDefinition.ContactInformation' | translate">
                    <div class="grid">
                      <div class="col-12 md:col-4">
                        <div class="grid d">
                          <div class="col-4">
                            <lib-form-group>
                              <lib-label
                                [appControl]="
                                  addCustomerForm.get('contactInfo')?.get('contactMobileCode')
                                "
                              >
                                {{ 'AddCustomerDefinition.Code' | translate }}
                              </lib-label>
                              <lib-selectIcon
                                formControlName="contactMobileCode"
                                [options]="lookups[LookupEnum.MobileCode]"
                                optionValue="id"
                                optionLabel="name"
                                icons="flags"
                                [selectedValue]="
                                  addCustomerForm.get('contactInfo')?.get('contactMobileCode')
                                "
                              >
                              </lib-selectIcon>

                              <lib-field-validations
                                [appControl]="
                                  addCustomerForm.get('contactInfo')?.get('contactMobileCode')
                                "
                              >
                              </lib-field-validations>
                            </lib-form-group>
                          </div>
                          <div class="col-8">
                            <lib-form-group>
                              <lib-label
                                [appControl]="
                                  addCustomerForm.get('contactInfo')?.get('contactMobile')
                                "
                              >
                                {{ 'AddCustomerDefinition.ContactMobile' | translate }}
                              </lib-label>
                              <lib-text-input type="tel" formControlName="contactMobile" />
                              <lib-field-validations
                                [appControl]="
                                  addCustomerForm.get('contactInfo')?.get('contactMobile')
                                "
                              >
                              </lib-field-validations>
                            </lib-form-group>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 md:col-4">
                        <lib-form-group>
                          <lib-label
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactPhone')"
                          >
                            {{ 'AddCustomerDefinition.ContactPhone' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="contactPhone">
                          </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactPhone')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                      <div class="col-12 md:col-4">
                        <lib-form-group>
                          <lib-label
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactFax')"
                          >
                            {{ 'AddCustomerDefinition.ContactFax' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="contactFax">
                          </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactFax')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                      <div class="col-12 md:col-6">
                        <lib-form-group>
                          <lib-label
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactEmail')"
                          >
                            {{ 'AddCustomerDefinition.ContactEmail' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="contactEmail">
                          </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactEmail')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                      <div class="col-12 md:col-6">
                        <lib-form-group>
                          <lib-label
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactWebsite')"
                          >
                            {{ 'AddCustomerDefinition.ContactWebsite' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="contactWebsite">
                          </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('contactInfo')?.get('contactWebsite')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                    </div>
                  </lib-fildest>
                  <div class="contact_person_information">
                    <lib-fildest
                      [header]="'AddCustomerDefinition.ContactPersonInformation' | translate"
                    >
                      <div class="grid">
                        <div class="col-12 md:col-4">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('contactInfo')?.get('contactPersonName')
                              "
                            >
                              {{ 'AddCustomerDefinition.ContactPersonName' | translate }}
                            </lib-label>
                            <lib-text-input type="text" formControlName="contactPersonName">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('contactInfo')?.get('contactPersonName')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-4">
                          <div class="grid">
                            <div class="col-4">
                              <lib-form-group>
                                <lib-label
                                  [appControl]="
                                    addCustomerForm
                                      .get('contactInfo')
                                      ?.get('contactPersonMobileCode')
                                  "
                                >
                                  {{ 'AddCustomerDefinition.Code' | translate }}
                                </lib-label>
                                <lib-selectIcon
                                  formControlName="contactPersonMobileCode"
                                  [options]="lookups[LookupEnum.MobileCode]"
                                  optionValue="id"
                                  optionLabel="name"
                                  icons="flags"
                                  [selectedValue]="
                                    addCustomerForm
                                      .get('contactInfo')
                                      ?.get('contactPersonMobileCode')
                                  "
                                >
                                </lib-selectIcon>
                                <lib-field-validations
                                  [appControl]="
                                    addCustomerForm
                                      .get('contactInfo')
                                      ?.get('contactPersonMobileCode')
                                  "
                                >
                                </lib-field-validations>
                              </lib-form-group>
                            </div>
                            <div class="col-8">
                              <lib-form-group>
                                <lib-label
                                  [appControl]="
                                    addCustomerForm.get('contactInfo')?.get('contactPersonMobile')
                                  "
                                >
                                  {{ 'AddCustomerDefinition.ContactPersonMobile' | translate }}
                                </lib-label>
                                <lib-text-input type="tel" formControlName="contactPersonMobile" />
                                <lib-field-validations
                                  [appControl]="
                                    addCustomerForm.get('contactInfo')?.get('contactPersonMobile')
                                  "
                                >
                                </lib-field-validations>
                              </lib-form-group>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 md:col-4">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('contactInfo')?.get('contactPersonPhone')
                              "
                            >
                              {{ 'AddCustomerDefinition.ContactPersonPhone' | translate }}
                            </lib-label>
                            <lib-text-input type="text" formControlName="contactPersonPhone">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('contactInfo')?.get('contactPersonPhone')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>

                        <!-- <div class="col-12 ">
                                    <lib-form-group>
                                        <lib-label [appControl]="addCustomerForm.get('contactInfo')?.get('contactPersonEmail')">
                                          {{ 'AddCustomerDefinition.ContactPersonEmail' | translate }}
                                        </lib-label>
                                        <lib-text-input type="text" formControlName="contactPersonEmail">
                                        </lib-text-input>
                                        <lib-field-validations [appControl]="addCustomerForm.get('contactInfo')?.get('contactPersonEmail')">
                                        </lib-field-validations>
                                    </lib-form-group>
                                </div> -->
                      </div>
                    </lib-fildest>
                  </div>
                </div>
              </div>
            </p-tabPanel>

            <p-tabPanel [header]="'AddCustomerDefinition.Address' | translate">
              <div formGroupName="addressInfo">
                <div class="address">
                  <div class="grid">
                    <div class="col-12 md:col-8">
                      <div class="grid">
                        <div class="col-12 md:col-4">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('countryId')"
                            >
                              {{ 'AddCustomerDefinition.Country' | translate }}
                            </lib-label>
                            <lib-selectIcon
                              formControlName="countryId"
                              [options]="countries"
                              optionValue="id"
                              optionLabel="nameEn"
                              (valueChanged)="onCountryChange($event)"
                              icons="flags"
                              [selectedValue]="addCustomerForm.get('addressInfo')?.get('countryId')"
                            >
                            </lib-selectIcon>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('countryId')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-4">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('state')"
                            >
                              {{ 'AddCustomerDefinition.State' | translate }}
                            </lib-label>
                            <lib-text-input type="text" formControlName="state"></lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('state')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-4">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('cityId')"
                            >
                              {{ 'AddCustomerDefinition.City' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="cityId"
                              [options]="cities"
                              optionValue="id"
                              optionLabel="name"
                              [selectedValue]="addCustomerForm.get('addressInfo')?.get('cityId')"
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('cityId')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>

                        <div class="col-12">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('street')"
                            >
                              {{ 'AddCustomerDefinition.Street' | translate }}
                            </lib-label>
                            <lib-text-input type="text" formControlName="street"> </lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('street')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('longitude')"
                            >
                              {{ 'AddCustomerDefinition.Longitude' | translate }}
                            </lib-label>
                            <lib-text-input type="number" formControlName="longitude">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('longitude')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('latitude')"
                            >
                              {{ 'AddCustomerDefinition.Latitude' | translate }}
                            </lib-label>
                            <lib-text-input type="number" formControlName="latitude">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('latitude')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('addressInfo')?.get('errorRadius')"
                            >
                              {{ 'AddCustomerDefinition.ErrorRadius' | translate }}
                            </lib-label>
                            <lib-text-input type="number" formControlName="errorRadius">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('addressInfo')?.get('errorRadius')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 md:col-4">
                      <div class="map_img">
                        <img src="assets/images/map/map.png" alt="" srcset="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel [header]="'AddCustomerDefinition.Legal' | translate">
              <div class="legal" formGroupName="legalInfo">
                <div class="grid">
                  <div class="col-12 md:col-12">
                    <div class="grid">
                      <div class="col-12 md:col-6">
                        <lib-form-group>
                          <lib-label
                            [appControl]="addCustomerForm.get('legalInfo')?.get('commercialId')"
                          >
                            {{ 'AddCustomerDefinition.CommercialId' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="commercialId">
                          </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('legalInfo')?.get('commercialId')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                      <div class="col-12 md:col-6">
                        <lib-form-group>
                          <lib-label [appControl]="addCustomerForm.get('legalInfo')?.get('taxId')">
                            {{ 'AddCustomerDefinition.TaxId' | translate }}
                          </lib-label>
                          <lib-text-input type="text" formControlName="taxId"> </lib-text-input>
                          <lib-field-validations
                            [appControl]="addCustomerForm.get('legalInfo')?.get('taxId')"
                          >
                          </lib-field-validations>
                        </lib-form-group>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel [header]="'AddCustomerDefinition.Financial' | translate">
              <div class="financial" formGroupName="financialInfo">
                <div class="grid">
                  <div class="col-12 md:col-12">
                    <div class="grid">
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('financialInfo')?.get('paymentTermId')"
                            >
                              {{ 'AddCustomerDefinition.PaymentTerm' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="paymentTermId"
                              [options]="paymentTermsList"
                              [selectedValue]="
                                addCustomerForm.get('financialInfo')?.get('paymentTermId')
                              "
                              optionLabel="name"
                              optionValue="id"
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('financialInfo')?.get('paymentTermId')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('financialInfo')?.get('pricePolicyId')"
                            >
                              {{ 'AddCustomerDefinition.PriceList' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="pricePolicyId"
                              [selectedValue]="addCustomerForm.get('financialInfo')?.get('pricePolicyId')"
                              [options]="priceList"
                              optionLabel="name"
                              optionValue="id"
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('financialInfo')?.get('pricePolicyId')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('financialInfo')?.get('creditLimit')"
                            >
                              {{ 'AddCustomerDefinition.CreditLimit' | translate }}
                            </lib-label>
                            <lib-text-input type="number" formControlName="creditLimit">
                            </lib-text-input>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('financialInfo')?.get('creditLimit')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
    
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="addCustomerForm.get('financialInfo')?.get('currencyId')"
                            >
                              {{ 'AddCustomerDefinition.Currency' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="currencyId"
                              [options]="currencies"
                              optionValue="id"
                              optionLabel="name"
                              [selectedValue]="addCustomerForm.get('financialInfo')?.get('currencyId')"
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="addCustomerForm.get('financialInfo')?.get('currencyId')"
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>

                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel [header]="'AddCustomerDefinition.Accounting' | translate">
              <div class="accounting" formGroupName="accountingInfo">
                <div class="grid">
                  <div class="col-12 md:col-12">
                    <div class="grid">
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('receivableAccountId')
                              "
                            >
                              {{ 'AddCustomerDefinition.ReceivableAccount' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="receivableAccountId"
                              [options]="accountsList"
                              optionLabel="name"
                              optionValue="id"
                              [selectedValue]="
                                addCustomerForm.get('accountingInfo')?.get('receivableAccountId')
                              "
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('receivableAccountId')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('salesAccountId')
                              "
                            >
                              {{ 'AddCustomerDefinition.SalesAccount' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="salesAccountId"
                              [options]="accountsList"
                              optionLabel="name"
                              optionValue="id"
                              [selectedValue]="
                                addCustomerForm.get('accountingInfo')?.get('salesAccountId')
                              "
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('salesAccountId')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('salesReturnAccountId')
                              "
                            >
                              {{ 'AddCustomerDefinition.SalesReturnAccount' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="salesReturnAccountId"
                              [options]="accountsList"
                              optionLabel="name"
                              optionValue="id"
                              [selectedValue]="
                                addCustomerForm.get('accountingInfo')?.get('salesReturnAccountId')
                              "
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('salesReturnAccountId')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>
                        <div class="col-12 md:col-6">
                          <lib-form-group>
                            <lib-label
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('discountAccountId')
                              "
                            >
                              {{ 'AddCustomerDefinition.DiscountAccount' | translate }}
                            </lib-label>
                            <lib-select
                              formControlName="discountAccountId"
                              [options]="accountsList"
                              optionLabel="name"
                              optionValue="id"
                              [selectedValue]="
                                addCustomerForm.get('accountingInfo')?.get('discountAccountId')
                              "
                            >
                            </lib-select>
                            <lib-field-validations
                              [appControl]="
                                addCustomerForm.get('accountingInfo')?.get('discountAccountId')
                              "
                            >
                            </lib-field-validations>
                          </lib-form-group>
                        </div>

                    </div>
                  </div>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      <!-- </div> -->
</div>
        <div class="btn_group">
          <div class="grid">
            <div class="md:col-3">
              <div class="grid">
                <div class="md:col-6">
                  <lib-button-micro
            nameClass="cancel"
            [title]="'Cancel' | translate"
            (click)="onDiscard()"
          >
          </lib-button-micro>
                </div>
                <div class="md:col-6">
                  <lib-button-micro
            nameClass="save w-100"
            [title]="'Save' | translate"
            type="submit"
            [disabled]="!addCustomerForm.valid"
          >
          </lib-button-micro>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</lib-page-content>
