.actions{
  margin-top: 100px;
  width: 100% ;
  display: flex;
  align-items: center;
  justify-content: center;

    .save{
        width: 20%;
        height: 50px;
        text-transform: capitalize;
        font-size: 22px;
        background-color: #1A8EAE !important;
        color: #fff;
        padding: 5px 20px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        margin-inline-end: 20px;
    }
    .cancel{
        
        text-transform: capitalize;
        font-size: 20px;
        background-color: #EDEEF1;
        color: #383A42;
        padding: 5px 20px;
        height: 50px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        margin-inline-end: 20px;
    }
}
.error{
    color: red;
}
// ::ng-deep{
//     .card{
//         // .p-multiselect {
//         //     background: #ffffff;
//         //     border: 1px solid #d1d5db;
//         //     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//         //     border-radius: 6px;
//         //     width: 100% !important;
//         //   }
//         //   .p-multiselect:not(.p-disabled):hover {
//         //     border-color: #1A8EAE !important;
//         //   }
//         //   .p-multiselect:not(.p-disabled).p-focus {
//         //     outline: 0 none;
//         //     outline-offset: 0;
//         //     box-shadow: 0 0 0 0.2rem #1A8EAE !important;
//         //     border-color: #1A8EAE !important;
//         //   }
     
//     .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
//         color: #8E95A2 !important;
//         background: #EFF6FF;
//       }
//       .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight.p-focus {
//         background: rgba(59, 130, 246, 0.24);
//       }
//       .p-checkbox .p-checkbox-box.p-highlight {
//         border-color: #383A42 !important;
//         background: #8E95A2 !important;
//       }
//       .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
//         border-color: #383A42 !important;
//       }
//       .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
//         outline: 0 none;
//         outline-offset: 0;
//         box-shadow: none!important;
//         border-color: #383A42 !important;
//       }
//       .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
//         border-color: #383A42 !important;
//         background: #8E95A2 !important;
//         color: #ffffff;
//       }
// }
// }