<a routerLink="./cards">Cards view</a>
<div *ngIf="apps" style="padding-left: 40px;">
    <ul style="padding-left: 0;">
        <li *ngFor="let app of apps" class="list-item">
            <div class="row">
                <div class="sm:col-2">
                    <img class="app-img" src="assets/images/users/editdefault.png" />
                </div>
                <div class="sm:col-10">
                    <div class="row">
                        <div class="xs:col-10">
                            <h2>{{app.name}}</h2>
                            <lib-rating [value]="4.5"></lib-rating>
                        </div>
                        <div class="xs:col-2 text-right">
                            <strong>{{app.price.amount}}{{app.price.currencyName}} / Monthly</strong>
                            <button (click)="addToCart(app.id)">Add to cart</button>
                        </div>
                    </div>
                    <div>
                        {{app.description}}
                        <div>
                            <strong>Dependecies: </strong> {{getAppDeps(app)}}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>