.line{
    margin: 10px 0;
    height: 2px;
    background-color:#f7f7faed;
}
.card_micro {
    margin-top: 16px;
    background: #fff;
    padding: 16px;
    border-radius: 1rem;
  }
  .test{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .check{
    width: 80%;
  }