<lib-page-content>
  <div class="journal_entry_add_page">
    <form [formGroup]="editJournalForm" (ngSubmit)="onSubmit()">
      <div class="card_micro">

      <div class="entry_header">
        <div class="grid">
          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['journalCode']">
              {{ 'EditJournal.JournalCode' | translate }}
            </lib-label>
            <div class="view">
              <!-- {{ journalEntry?.journalCode }} -->
              <lib-text-input
                formControlName="journalCode"
                [disabled]="true"
                [readOnly]="true"
              ></lib-text-input>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['status']">
              {{ 'EditJournal.JournalStatus' | translate }}
            </lib-label>

            <div class="view">
              <lib-text-input
                formControlName="status"
                [disabled]="true"
                [readOnly]="true"
              ></lib-text-input>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['referenceNumber']">
              {{ 'EditJournal.JournalReference' | translate }}
            </lib-label>
            <div class="view">
              <lib-text-input
                formControlName="referenceNumber"
                [readOnly]="true"
                [disabled]="true"
              ></lib-text-input>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <lib-form-group>
              <lib-label [appControl]="editJournalForm.controls['journalDate']">
                {{ 'EditJournal.Date' | translate }}
              </lib-label>
              <div class="view">
                <!-- <lib-text-input
                  type="date"
                  formControlName="journalDate"
                  [readOnly]="true"
                  [disabled]="true"
                ></lib-text-input> -->
                <lib-calendar [disabled]="true" formControlName="journalDate"></lib-calendar>
              </div>
              <lib-field-validations [appControl]="editJournalForm.controls['journalDate']">
              </lib-field-validations>
            </lib-form-group>
          </div>
          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['journalPeriod']">
              {{ 'EditJournal.JournalPeriod' | translate }}
            </lib-label>
            <!-- <div class="view">
              {{ journalEntry?.journalPeriod }}
            </div> -->
            <div class="view">
              <lib-text-input
                formControlName="journalPeriod"
                [disabled]="true"
                [readOnly]="true"
              ></lib-text-input>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['type']">
              {{ 'EditJournal.JournalType' | translate }}
            </lib-label>
            <div class="view">
              <lib-text-input
                formControlName="type"
                [disabled]="true"
                [readOnly]="true"
              ></lib-text-input>
            </div>
          </div>

          <div class="col-12 md:col-3">
            <lib-label [appControl]="editJournalForm.controls['description']">
              {{ 'EditJournal.JournalDescription' | translate }}
            </lib-label>
            <div class="view">
              <lib-text-input
                formControlName="description"
                [readOnly]="true"
                [disabled]="true"
              ></lib-text-input>
            </div>
          </div>
         
          <div class="col-12 md:col-3 total">
            <!-- <div>
              <p class="totals">{{ 'JournalTemplate.totalDebitAmountLocal' | translate }}</p>
            </div> -->
            <!-- <lib-text-input
              [(ngModel)]="totalDebitAmountLocal"
              placeholder="0"
              [readOnly]="true"
              [ngModelOptions]="{ standalone: true }"
            ></lib-text-input> -->
            <p class="label_total paragraph_b18">
              {{ 'JournalTemplate.totalDebitAmountLocal' | translate }}
            </p>
            <lib-text-input
              placeholder=" {{ totalDebitAmountLocal | numberFormat }}"
              [readOnly]="true"
            ></lib-text-input>
            <!-- <label>{{totalDebitAmountLocal | numberFormat }}</label> -->
          </div>

          <div class="col-12 md:col-3 total">
            <!-- <div>
              <p class="totals">{{ 'JournalTemplate.totalCreditAmountLocal' | translate }}</p>
            </div> -->
            <!-- <lib-text-input
              [(ngModel)]="totalCreditAmountLocal"
              placeholder="0"
              [readOnly]="true"
              [ngModelOptions]="{ standalone: true }"
            ></lib-text-input> -->
            <p class="label_total paragraph_b18">
              {{ 'JournalTemplate.totalCreditAmountLocal' | translate }}
            </p>
            <lib-text-input
              placeholder=" {{ totalCreditAmountLocal | numberFormat }}"
              [readOnly]="true"
            ></lib-text-input>
            <!-- <label>{{totalCreditAmountLocal | numberFormat }}</label> -->
          </div>
        </div>
      </div>
</div>
      <div class="entry_table">
        <div class="card">
          <p-table
            [value]="journalEntryLinesFormArray.controls"
            dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 10%">{{ 'EditJournal.Id' | translate }}</th>
                <th style="width: 15%">{{ 'EditJournal.AccountCode' | translate }}</th>
                <th style="width: 15%">{{ 'EditJournal.AccountName' | translate }}</th>
                <th style="width: 20%">{{ 'EditJournal.LineDescription' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.DbAmount' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.CrAmount' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.Currency' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.Rate' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.DbAmountLocal' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.CrAmountLocal' | translate }}</th>
                <th style="width: 10%">{{ 'EditJournal.costCenter' | translate }}</th>
                <th
                  style="width: 10%"
                  *ngIf="
                    journalEntry?.status == enums.JournalEntryStatus.Unbalanced ||
                    journalEntry?.status == enums.JournalEntryStatus.Draft
                  "
                >
                  Actions
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-journalLine let-rowIndex="rowIndex">
              <tr [formGroup]="journalLine">
                <td>
                  {{ journalLine.get('id').value }}
                </td>
                <td [pEditableColumn]="journalLine.accountId" pEditableColumnField="accountId">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <div class="flex gap-2 align-items-center">
                        <lib-select
                          formControlName="accountId"
                          [options]="filteredAccounts"
                          optionValue="id"
                          optionLabel="displayName"
                          [customClass]="'add-journal'"
                          (valueChanged)="accountSelected($event, rowIndex)"
                          (valueSearchChanged)="onFilter($event)"
                          placeholder=" {{ journalLine.get('accountCode').value }}"
                          [readOnly]="viewMode"
                        >
                        </lib-select>

                        <i
                          *ngIf="!viewMode"
                          class="pi pi-search search-circle"
                          (click)="openDialog(rowIndex)"
                        ></i>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ journalLine.get('accountCode').value }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations [appControl]="journalLine.controls['accountId']">
                  </lib-field-validations>
                </td>
                <td>
                  {{ journalLine.controls['accountName']?.value }}
                </td>
                <td>
                  <lib-text-input
                    formControlName="lineDescription"
                    [readOnly]="viewMode"
                    [disabled]="viewMode"
                  >
                  </lib-text-input>
                  <lib-field-validations [appControl]="journalLine.controls['lineDescription']">
                  </lib-field-validations>
                </td>
                <td class="hidden">{{ journalLine.get('currencyId').value }}</td>

                <td
                  [pEditableColumn]="journalLine.controls['debitAmount']"
                  pEditableColumnField="debitAmount"
                >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <lib-text-input
                        formControlName="debitAmount"
                        type="number"
                        (valueChanged)="debitValueChanges(rowIndex)"
                        (keyUp)="debitValueChanges(rowIndex)"
                        [readOnly]="viewMode"
                        [disabled]="viewMode"
                      ></lib-text-input>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ journalLine.controls['debitAmount'].value | numberFormat }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations [appControl]="journalLine.controls['debitAmount']"></lib-field-validations>
                </td>
                <td
                  [pEditableColumn]="journalLine.controls['creditAmount']"
                  pEditableColumnField="creditAmount"
                >
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <lib-text-input
                        formControlName="creditAmount"
                        type="number"
                        (valueChanged)="creditValueChanges(rowIndex)"
                        (keyUp)="creditValueChanges(rowIndex)"
                        [readOnly]="viewMode"
                        [disabled]="viewMode"
                      ></lib-text-input>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ journalLine.controls['creditAmount'].value | numberFormat }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations [appControl]="journalLine.controls['creditAmount']"></lib-field-validations>
                </td>

                <td>
                  {{ journalLine.get('currency').value }}
                </td>
                <td>
                  <lib-form-group>
                    <lib-text-input
                      type="number"
                      (valueChanged)="currencyValueChanges($event, rowIndex)"
                      formControlName="currencyRate"
                      (keyUp)="currencyValueChanges($event, rowIndex)"
                      [readOnly]="viewMode"
                      [disabled]="viewMode"
                    ></lib-text-input>
                    <lib-field-validations [appControl]="journalLine.controls['currencyRate']"></lib-field-validations>

                  </lib-form-group>
                </td>
                <td>
                  {{ journalLine.get('debitAmountLocal').value | numberFormat }}
                </td>
                <td>
                  {{ journalLine.get('creditAmountLocal').value | numberFormat }}
                </td>
                <td>
                  <img
                    src="assets/images/groups.png"
                    *ngIf="
                      (!journalLine.controls['selectedFalg'].value &&
                        !journalLine.controls['costCenters'].value.length &&
                        journalLine.controls['costCenterConfig'].value !== 'Optional') ||
                      journalLine.controls['costCenterConfig'].value == 'NotAllow'
                    "
                  />

                  <img
                    src="assets/images/groups-mandtory-optional.png"
                    alt=""
                    class="pointer"
                    *ngIf="
                      isCostCenterallowed(journalLine.controls['costCenterConfig'].value) &&
                      shouldShowCostCenterImage(journalLine.controls['costCenters'].value) <= 0 &&
                      journalLine.controls['id'].value ==0 
                    "
                    (click)="
                      openCostPopup(
                        journalLine.value,
                        journalLine,
                        journalLine.controls['accountId']?.value,
                        rowIndex
                      )
                    "
                  />
                  <img
                    class="pointer"
                    src="assets/images/costcenterfull.png"
                    *ngIf="
                      isCostCenterallowed(journalLine.controls['costCenterConfig'].value) &&
                      shouldShowCostCenterImage(journalLine.controls['costCenters'].value) > 0
                    "
                    (click)="
                      openCostPopup(
                        journalLine.value,
                        journalLine,
                        journalLine.controls['account']?.value,
                        rowIndex
                      )
                    "
                  />
                  <!-- <img
                    src="assets/images/groups.png"
                    alt=""
                    *ngIf="journalLine.controls['costCenterConfig'].value == 'NotAllow'"
                  /> -->

                  <!-- <img
                    src="assets/images/groups-data.png"
                    alt=""
                    class="pointer"
                    *ngIf="journalLine.controls['costCenters'].value.length"
                    (click)="
                      openCostPopup(
                        journalLine.value,
                        journalLine,
                        journalLine.controls['accountId']?.value,
                        rowIndex
                      )
                    "
                  /> -->
                </td>
                <td
                  *ngIf="
                    journalEntry?.status == enums.JournalEntryStatus.Unbalanced ||
                    journalEntry?.status == enums.JournalEntryStatus.Draft
                  "
                >
                  <!-- <lib-button
                    [icon]="'pi pi-trash'"
                    (click)="deleteJournalEntryLine(rowIndex)"
                    [rounded]="true"
                    [enableText]="true"
                    severity="secondary"
                  >
                  </lib-button> -->
                  <img
                    src="assets/images/table/delete.svg"
                    class="pointer"
                    alt=""
                    (click)="deleteJournalEntryLine(rowIndex)"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="4" class="imptyData total" style="text-align: center">
                  {{ 'JournalTemplate.total' | translate }}
                </td>
                <!-- <td class="imptyData"></td>
                <td class="imptyData"></td>
                <td class="imptyData"></td> -->
                <td class="total">
                  {{ totalDebitAmount | numberFormat }}
                </td>
                <td class="total">
                  {{ totalCreditAmount | numberFormat }}
                </td>
                <td class="total"></td>
                <td class="total"></td>
                <td class="total">
                  {{ totalDebitAmountLocal | numberFormat }}
                </td>
                <td class="total">
                  {{ totalCreditAmountLocal | numberFormat }}
                </td>
                <td class="total"></td>
                <td
                  class="total"
                  *ngIf="journalEntry?.status === enums.JournalEntryStatus.Draft"
                ></td>
              </tr>
            </ng-template>
          </p-table>

          <div
            class="add_new"
            *ngIf="
              journalEntry?.status != enums.JournalEntryStatus.Submitted &&
              journalEntry?.status != enums.JournalEntryStatus.Posted
            "
          >
          <div class="grid">
            <div class="md:col-3">
              <div class="grid">
                <div class="md:col-6">
              <lib-button-micro
              nameClass="outline"
              widthNumber="100%" 
              title="{{ 'add_new_line' | translate }}"
              (click)="addNewRow()"
              >
    
              </lib-button-micro>
              </div>
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="grid">
          <div class="md:col-12 flex justify-content-end">
            <div class="flex justify-content-end">
              <div
                class="md:col-6 m-1"
                [class.none]="journalEntry?.status == enums.JournalEntryStatus.Posted"
              >
                <lib-button-micro
                  title="{{ 'discard' | translate }}"
                  nameClass="cancel"
                  (click)="onDiscard()"
                  widthNumber="100%"
                  type="button"
                >
                </lib-button-micro>
              </div>
              <div
                class="md:col-6 m-1"
                *ngIf="
                  journalEntry?.status != enums.JournalEntryStatus.Submitted &&
                  journalEntry?.status != enums.JournalEntryStatus.Posted
                "
              >
                <div
                  *ngIf="
                    journalEntry?.status != enums.JournalEntryStatus.Submitted &&
                    journalEntry?.status != enums.JournalEntryStatus.Posted
                  "
                >
                  <lib-button-micro
                    title="{{ 'Journal.save' | translate }}"
                    nameClass="outline"
                    widthNumber="100%"
                  >
                  </lib-button-micro>
                </div>
              </div>
              <div
                class="md:col-6 m-1"
                *ngIf="
                  journalEntry?.status == enums.JournalEntryStatus.Unbalanced ||
                  journalEntry?.status == enums.JournalEntryStatus.Draft
                "
              >
                <div
                  *ngIf="
                    journalEntry?.status == enums.JournalEntryStatus.Unbalanced ||
                    journalEntry?.status == enums.JournalEntryStatus.Draft
                  "
                >
                  <lib-button-micro
                    title="{{ 'EditJournal.SaveSubmit' | translate }}"
                    nameClass="save"
                    (click)="ChangeStatus(enums.JournalEntryStatus.Submitted)"
                    widthNumber="100%"
                    type="button"
                  >
                  </lib-button-micro>
                </div>
              </div>
              <div
                class="md:col-6 m-1"
                *ngIf="journalEntry?.status == enums.JournalEntryStatus.Submitted"
              >
                <div *ngIf="journalEntry?.status == enums.JournalEntryStatus.Submitted">
                  <lib-button-micro
                    title="{{ 'EditJournal.Post' | translate }}"
                    nameClass="save"
                    (click)="ChangeStatus(enums.JournalEntryStatus.Posted)"
                    widthNumber="100%"
                    type="button"
                  >
                  </lib-button-micro>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="btn_group mt-3">
          <button class="btn discard" type="button" (click)="onDiscard()">
            {{ 'EditJournal.Discard' | translate }}
          </button>
          <div
            *ngIf="
              journalEntry?.status != enums.JournalEntryStatus.Submitted &&
              journalEntry?.status != enums.JournalEntryStatus.Posted
            "
          >
            <button class="btn save" type="submit">{{ 'EditJournal.Save' | translate }}</button>
          </div>
  
          <div
            *ngIf="
              journalEntry?.status == enums.JournalEntryStatus.Unbalanced ||
              journalEntry?.status == enums.JournalEntryStatus.Draft
            "
          >
            <button
              class="btn btn save"
              type="button"
              (click)="ChangeStatus(enums.JournalEntryStatus.Submitted)"
            >
              {{ 'EditJournal.Submit' | translate }}
            </button>
          </div>
  
          <div *ngIf="journalEntry?.status == enums.JournalEntryStatus.Submitted">
            <button
              class="btn btn save"
              type="button"
              (click)="ChangeStatus(enums.JournalEntryStatus.Posted)"
            >
              {{ 'EditJournal.Post' | translate }}
            </button>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</lib-page-content>
