
<lib-page-content>
  <div class="grid">
    <div class="md:col-3 ">
      <p class="headsCont heading_b16">{{ 'paymentterm.code' | translate }}</p>
      <p class="subHead paragraph_b16 pragraph_demd">
        {{ ViewForm.code  || 'N/A'}}
      </p>
    </div>
    <div class="md:col-3 " >
      <p class="headsCont heading_b16">{{ 'paymentterm.name' | translate }}</p>
      <p class="subHead paragraph_b16 pragraph_demd">
        {{ ViewForm.name || 'N/A' }}
      </p>
    </div>
  </div>

   <div class="journal_page">
    <lib-data-table
      *ngIf="ViewForm!.paymentTermLines"
      [items]="ViewForm.paymentTermLines"
      className="p-datatable-gridlines"
      [tableConfigs]="{
          allowPagination: false,
          allowServerPagination: false,
          dataKey: 'id',
          pageSize: 10,
          columns: [
            {
              name: 'dueTermValue',
              headerText: 'add-paymentterm.dueTermValue' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'afterValue',
              headerText: 'add-paymentterm.afterValue' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'afterPeriod',
              headerText: 'add-paymentterm.afterPeriod' | translate,
              isGlobalFilter: true,
              isSortable: true
            },
            {
              name: 'note',
              headerText: 'add-paymentterm.note' | translate,
              isGlobalFilter: true,
              isSortable: true
            }
          ]
        }"
    >
      <!-- <ng-template #method pTemplate="body" let-Line let-rowIndex="rowIndex">
        <div class="method flex align-items-center">
          <lib-button-micro
            title="{{ 'paymentterm.PaymentMethod' | translate }}"
            [nameClass]="
              Line.paymentMethodType == sharedFinanceEnums.paymentMethodTypeString.Cash ||
              Line.paymentMethodId == null
                ? 'disabled'
                : 'save'
            "
            widthNumber="100%"
            (click)="handleButtonClick(Line)"
          >
          </lib-button-micro>
        </div>
      </ng-template> -->

      <!-- <ng-template #cost pTemplate="body" let-Line let-rowIndex="rowIndex">
        <img
          *ngIf="
            Line.paidBy != this.sharedFinanceEnums.paiedDropDown.other ||
            (Line.paidBy == this.sharedFinanceEnums.paiedDropDown.other &&
              Line.costCenterConfig == this.sharedFinanceEnums.costCenterConfig.NotAllow) ||
            Line.costCenterConfig == null
          "
          src="assets/images/groups.png"
        />

        <img
          *ngIf="
            Line.paidBy == this.sharedFinanceEnums.paiedDropDown.other &&
            isCostCenterallowed(Line, Line.costCenterConfig) &&
            Line.paymentInDetailCostCenters.length == 0
          "
          (click)="openCostPopup(Line, Line, Line.glAccountId, rowIndex)"
          src="assets/images/groups-mandtory-optional.png"
          alt=""
          class="pointer"
        />

        <img
          *ngIf="
            isCostCenterallowed(Line, Line.costCenterConfig) &&
            Line.paymentInDetailCostCenters.length != 0
          "
          (click)="openCostPopup(Line, Line, Line.glAccountId, rowIndex)"
          class="pointer"
          src="assets/images/costcenterfull.png"
        />
      </ng-template> -->

      <!-- <ng-template pTemplate="footer">
        <tr>
          <td class="total">{{ totalAmount | numberFormat }}</td>
          <td class="total">{{ calculateTotalLocalAmount() | numberFormat }}</td>
          <td colspan="8" class="total"></td>
        </tr>
      </ng-template> -->

    </lib-data-table>
  </div> 
</lib-page-content>
