<a routerLink="./">List view</a>

<div *ngIf="cartData"  style="padding-left: 40px;">
    <table class="table" style="border: solid;">
        <thead>
            <th>App Name</th>
            <th>Subdomain Name</th>
            <th>Price</th>
            <th></th>
        </thead>
        <tbody>
            <ng-container *ngFor="let group of groupedItems | keyvalue">
                <tr *ngFor="let item of group.value; let isFirst = first">
                  <td *ngIf="isFirst">{{ group.key }}</td>
                  <td *ngIf="!isFirst"></td> <!-- Empty cell for non-first rows in group -->
                  <td>{{ item.subDomainName }}</td>
                  <td>{{ item.unitPrice.amount }} {{ item.unitPrice.currencyName }}</td>
                  <td>
                    <button (click)="removeItemFromCart(item.id)">Remove</button>
                  </td>
                </tr>
              </ng-container>
        </tbody>
    </table>

    <div style="border:solid;">
        Total :
        <p>{{cartData.total.amount}}</p>
        <p>{{cartData.total.currencyName}}</p>
    </div>
    
</div>


