<a routerLink="./">List view</a>

<div *ngIf="cartData" style="padding-left: 40px;">
    <ul style="padding-left: 0;">
        <li *ngFor="let cartItem of cartData" class="list-item">
            <div class="row">
                <div class="sm:col-2">
                    <img class="app-img" src="assets/images/users/editdefault.png" />
                </div>
                <div class="sm:col-10">
                    <div class="row">
                        <div class="xs:col-10">
                            <h2>{{cartItem.name}}</h2>
                            <lib-rating [value]="4.5"></lib-rating>
                        </div>
                        <div class="xs:col-2 text-right">
                            <strong>{{cartItem.price.amount}}{{cartItem.price.currencyName}} / Monthly</strong>
                            <button (click)="removeItemFromCart(cartItem.id)">Delte</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
