::ng-deep {
  .highcharts-legend.highcharts-no-tooltip {
    display: none;
  }
}

.chart-card {
  display: flex;
  flex-direction: column;
  gap: 4%;
  background-color: #fff;
  padding: 10px;
  height: 100%;

  .chart-card-body {
    padding-top: 10px;
    height: 100%;

    .details {
      .detail-row {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 0 10px;
      }

      .color-box {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 50%;
      }

      .detail-name {
        font-weight: bold;
        margin-right: 10px;
      }

      .detail-value {
        font-weight: normal;
        flex-wrap: nowrap;
      }
      .line {
        height: 2px;
        width: 50px;
        margin: 0 10px;
        flex-grow: 1;
        background-color: #ededed;
      }
    }
  }
}
