<div>
  <div class="user_page">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          
          {
            name: 'name',
            headerText: 'Account Name',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountCode',
            headerText: 'Account Code',
            isGlobalFilter: true,
            isSortable: true
          },
          
          {
            name: 'natureId',
            headerText: 'Nature',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountTypeName',
            headerText: 'Account Type',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountSectionName',
            headerText: 'Account Section',
            isGlobalFilter: true,
            isSortable: true
          }
        ]
      }"
    >
    <ng-container caption>
      <div class="group flex justify-content-between">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="searchTermChange($event)"
              placeholder="Search..."
            />
          </span>
        </div>
        <div>
          <lib-export
            (exportClick)="exportAccountsData($event)"
            [exportData]="mappedExportData"
            [exportColumns]="exportColumns"
            [ExportName]="'Accounts'"
          >
          </lib-export>
        </div>
        <!-- <div class="flex justify-content-end gap-3">
          <button class="primary" (click)="navigateToAdd()">
            <span class="pi pi-plus"></span>
            {{ 'Add New' | translate }}
          </button>
      
          <div>
            <lib-export  
              (exportClick)="exportClick($event)"
              [exportData]="tableData"
              [exportColumns]="exportColumns"
              [ExportName]="'Employees List'">
            </lib-export>
            </div>
        </div> -->
   
    
      </div>
    </ng-container>
      
      <ng-template #userCol let-Account>
        <div class="actions flex align-items-center">
          <lib-button
            className="edit"
            type="button"
            (click)="routeToEdit(Account.id)"
            icon="pi pi-pencil"
            [rounded]="true" 
            [enableText]="true"
            severity="secondary"
          >
          </lib-button>
          <lib-button icon="pi pi-trash" [rounded]="true" [enableText]="true" severity="secondary">
          </lib-button>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>
 