<div>
  <div class="user_page">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'id',
            headerText: 'Id',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountCode',
            headerText: 'Account Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'natureId',
            headerText: 'Nature',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountTypeName',
            headerText: 'Account Type',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'accountSectionName',
            headerText: 'Account Section',
            isGlobalFilter: true,
            isSortable: true
          }
        ]
      }"
    >
      <ng-template #userCol let-Account>
        <div class="actions flex align-items-center">
          <lib-button
            className="edit"
            type="button"
            (click)="routeToEdit(Account.id)"
            icon="pi pi-pencil"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
          >
          </lib-button>
          <lib-button icon="pi pi-trash" [rounded]="true" [enableText]="true" severity="secondary">
          </lib-button>
        </div>
      </ng-template>
    </lib-data-table>
  </div>
</div>
