
//@import "../../../../assets/styling/scss/variables/font-family";
.journal_entry_add_page{
    .entry_header{
        background: #F7F8F8;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        margin-bottom: 20px;
        .title{
            font-size: 18px;
           // font-family: $cairo_regular;
        }
    }
    .entry_table{
        .add_new{
            padding: 20px;
            .btn{
                background: none;
                border: none;
                font-size: 16px;
                color: #1A8EAE;
                cursor: pointer;
            }
            .Line{
                border-inline-end: 3px solid #DDE1E6ed;
            }
        }
        .btn_group{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-inline-end: 20px;
            .btn{
                background: none;
                border: none;
                padding: 10px 50px;
                border-radius: 12px;
                cursor: pointer;
                position: relative;

            }
            .save{
                background: #1A8EAE;
                color: #fff;
                margin-inline-start: 20px;

            }
            .discard{
                border: 1px solid #CB3F2D;
                color: #CB3F2D;
            }
        }
    }

   
}

