<div class="journal_entry_add_page">
    <div class="entry_header">
        <p class="title test">Please Enter journal entry Header</p>
        <div class="grid">
            <div class="col-12 md:col-3 ">
                <lib-text-input  placeholder="reference Number" [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'">

                </lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <lib-text-input placeholder="reference Number">

                </lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <lib-text-input placeholder="reference Number" [readOnly]="true">
                </lib-text-input>
            </div>
            <div class="col-12 md:col-3 ">
                <lib-text-input placeholder="reference Number"></lib-text-input>

                
            </div>
            <div class="col-12 md:col-12 ">
                <lib-text-input placeholder="reference Number"></lib-text-input>
            </div>
            <!-- "projects/erp-home/src/styles.css", -->


        </div>
    </div>
    <div class="entry_table">
        <div class="card">
            <p-table [value]="books" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Code</th>
                        <th style="width:25%">Name</th>
                        <th style="width:25%">Inventory Status</th>
                        <th style="width:25%">Price</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-editing="editing">
                    <tr>
                        <td [pEditableColumn]="product.author" pEditableColumnField="author">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.author" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.author }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="product.name" pEditableColumnField="name">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product.name" required />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="product.year" pEditableColumnField="year">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="product.year" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product.year }}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>