<lib-page-content
  [title]="'Company.CompanyList' | translate"
  [subTitle]="'Company.CompanyList' | translate"
>
<lib-bread-crumb>
  <div class="flex justify-content-end align-items-center">
    <button
      pButton
      pRipple
      label="Add New"
      icon="pi pi-plus"
      class="add_new mr-2"
      (click)="NewTag()"
    ></button>
  </div>

</lib-bread-crumb>
<div>
  <div class="user_page">
    <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (pageChange)="onPageChange($event)"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name: 'id',
            headerText: 'Id',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'code',
            headerText: 'Code',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'name',
            headerText: 'Name',
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'isActive',
            headerText: 'status',
            template: status
          },
          {
            name: 'modulesId',
            headerText: 'Modules',
            template: Modules
          },
          {
            name: 'id',
            headerText: 'Actions',
            template: userCol
          }
        ]
      }"
    >
      <ng-template #userCol let-tag>
        <div class="actions flex align-items-center">
          <lib-button
            className="edit"
            type="button"
            (click)="routeToEdit(tag.id)"
            icon="pi pi-pencil"
            [rounded]="true"
            [enableText]="true"
            severity="secondary"
            *ngIf="tag.isActive"
          >
          </lib-button>
          <lib-button icon="pi pi-trash" [rounded]="true" [enableText]="true" severity="secondary">
          </lib-button>
        </div>
      </ng-template>

      <ng-template #status let-tag>
        <div class="checked" *ngIf="tag.isActive">
          <p-inputSwitch
            [id]="tag.id"
            (onChange)="changed($event, tag.id)"
            value="user.isActive"
          >
          </p-inputSwitch>
          <p class="active" *ngIf="tag.isActive">
            {{ "User.Activate" | translate }}
          </p>
          <p class="inactive" *ngIf="!tag.isActive">
            {{ "User.Deactivate" | translate }}
          </p>
        </div>
      </ng-template>
      <ng-template #Modules let-tag>
        <p-multiSelect
        [options]="modulelist" 
        [(ngModel)]="tag.modulesId"
        defaultLabel="Select Modules"
        [disabled]="true">
      </p-multiSelect>

      </ng-template>
    </lib-data-table>
  </div>
</div>
