<form [formGroup]="formGroup">
    <div class="grid">

      <div class="md:col-12">
        <lib-form-group>
          <lib-label [appControl]="formGroup.controls['balance']">
            {{ 'openeingBalance.balance' | translate }}
          </lib-label>
          <lib-text-input type="text" formControlName="balance" [readOnly]="true" placeholder={{balance}}/>
       
        </lib-form-group>
      </div>
    
      </div>
    </form>

    <div class="add_new my-2 flex justify-content-end">
        <lib-button (onClick)="addLine()" className="outline-primary">
          {{ 'openeingBalance.add_new' | translate }}
        </lib-button>
      </div>
     
      <div class="entry_table">
        <div class="card">
          <p-table
            [value]="customerForm.controls"
            dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>{{ 'openeingBalance.debit' | translate }}</th>
                <th>{{ 'openeingBalance.credit' | translate }}</th>
                <th>{{ 'openeingBalance.duedate' | translate }}</th>
        
              
                <th>{{ 'customerDefinition.actions' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customerGroup let-editing="editing" let-i="rowIndex">
              <tr [formGroup]="customerGroup">
           
                <td 
                  [pEditableColumn]="customerGroup.controls['debit']"
                  pEditableColumnField="debit"
                  >
                     <p-cellEditor>
                    <ng-template pTemplate="input">
                      <lib-text-input
                        formControlName="debit"
                      ></lib-text-input>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ customerGroup.controls['debit'].value }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations
                    [appControl]="customerGroup.controls['debit']"
                  ></lib-field-validations>
                  </td>
                <td 
                  [pEditableColumn]="customerGroup.controls['credit']"
                  pEditableColumnField="credit"
                  >
                     <p-cellEditor>
                    <ng-template pTemplate="input">
                      <lib-text-input
                        formControlName="credit"
                      ></lib-text-input>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ customerGroup.controls['credit'].value }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations
                    [appControl]="customerGroup.controls['credit']"
                  ></lib-field-validations>
                  </td>
                <td 
                  [pEditableColumn]="customerGroup.controls['duedate']"
                  pEditableColumnField="duedate"
                  >
                     <p-cellEditor>
                    <ng-template pTemplate="input">
                      <lib-text-input
                      type="date"

                        formControlName="duedate"
                      ></lib-text-input>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ customerGroup.controls['duedate'].value }}
                    </ng-template>
                  </p-cellEditor>
                  <lib-field-validations
                    [appControl]="customerGroup.controls['duedate']"
                  ></lib-field-validations>
                  </td>
              
               
               
           
             
                <!--  -->
                <td>
                  <i class="pi pi-trash pointer" (click)="onDelete(i)"></i>
              </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <form [formGroup]="formGroupBalance">
        <div class="grid">
    
          <div class="md:col-12">
            <lib-form-group>
              <lib-label [appControl]="formGroup.controls['balance']">
                {{ 'openeingBalance.balance' | translate }}
              </lib-label>
              <lib-text-input type="text" formControlName="balance" [readOnly]="true" placeholder={{balance}}/>
           
            </lib-form-group>
          </div>
        
          </div>
        </form>

      <div class="grid justify-content-center">
        <div class="col-6">
          <lib-button type="button" [className]="'custom-danger-outline'" (click)="onCancel()">
            {{ 'openeingBalance.cancel' | translate }}
          </lib-button>
        </div>
        <div class="col-6">
          <lib-button type="submit" [className]="'custom-light-blue'" class="save" (click)="onSubmit()">
            {{ 'openeingBalance.save' | translate }}
          </lib-button>
        </div>
      </div>