.pointer {
    cursor: pointer;
}
.main_popup{
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: space-between;
    height: 100%;
    width: 100%;
    .pop_header ,.pop_footer{
        width: 100%;
    }
  
}
