.card{
    background-color: #ffffff;
    margin-top: 26px;
    margin-left: .5px;

}
.heads{
    font-weight: bold;
}

 ::ng-deep .p-multiselect {
  width: 100% !important;
}

// .grid {
//   padding: 0 !important;
//   margin: 0 !important;
// }
.hrSeparate{
    width: 100%;
}