.new_employee {
    .employee_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F7F8F8;
      padding: 20px;
  
      .title {
        font-size: 18px;
        font-weight: 700;
        color: #383A42;
      }
  
      .cancel {
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        color: #383A42;
      }
    }
  
    .employee_content {
      padding: 20px;
      margin-top: 20px;
      background-color: white;
  
      .p-grid {
        display: flex;
        flex-wrap: wrap;
      }
  
      .p-col-12 {
        width: 100%;
      }
  
      .p-md-6 {
        width: 50%;
      }
  
      .p-col-12.p-md-6 {
        padding: 10px;
      }
    }
  
    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
  
      button {
        margin-left: 10px;
      }
  
      .edit {
        background-color: #007ad9;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
  
      .save {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
    }
  }
  