.save {
  min-width: 150px;
  background: #D1E9EF;
  border: 1px solid #D1E9EF;
  color: #1A90B0 !important;

}
.post {
  min-width: 150px;
  background: #D1E9EF;
  border: 1px solid #D1E9EF;
  color: #1A90B0 !important;

}
.Draft {
  min-width: 150px;
  background: #F9E5D3;
  border: 1px solid #F9E5D3;
  color: #5E6278 !important;

}
.btn_stock{
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
}
