
// @import "../../../../assets/styling/scss/variables/font-family";
@import ' ../../../../../../../../assets/styling/scss//variables/font-family';
.journal_entry_add_page{
   
    .entry_header{
        background: #F7F8F8;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        margin-bottom: 20px;
        .title{
            font-size: 18px;
           // font-family: $cairo_regular;
        }
    }
    
    .entry_table{
        .add_new{
            padding: 20px;
            .btn{
                background: none;
                border: none;
                font-size: 16px;
                color: #1A8EAE;
                cursor: pointer;
            }
            .Line{
                border-inline-end: 3px solid #DDE1E6ed;
            }
        }
        .btn_group{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-inline-end: 20px;
            .btn{
                background: none;
                border: none;
                padding: 10px 50px;
                border-radius: 12px;
                cursor: pointer;
                position: relative;

            }
            .save{
                background: #1A8EAE;
                color: #fff;
                margin-inline-start: 20px;

            }
            .discard{
                border: 1px solid #CB3F2D;
                color: #CB3F2D;
            }
        }
    }

    .attach{
        background: #1a8eae;
        border: 0px solid #3B82F6;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
        border-radius: 6px;
        outline-color: transparent;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        margin-top: 5px;
    }

   
}
.description{
    input{
        padding: 20px !important;

    }
}
button:disabled,
button[disabled]{
    cursor: not-allowed !important;
}

.search-circle {
    cursor: pointer;
}

.costCenterImg{
    cursor: pointer;
}
.hidden {
    display: none;
}
::ng-deep{

  
    .tour-step{
        background: #fff !important;
        text-align: center !important;
        border-radius: 8px !important;
    
    
    }
    .tour-buttons{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    .skip-button{
        padding: 5px 20px !important;
        border-radius: 8px !important;
        border: 1px solid #CB3F2D !important;
        color: #CB3F2D !important;
        background: #fff !important;
        font-size: 16px !important;
        font-family: $cairo_regular !important;
        text-transform: capitalize !important;
        &:hover{
            color: #fff !important;
            background: #CB3F2D !important;
         
        }
    }
    .next-button{
        border-radius: 8px !important;
        padding: 5px 20px !important;
        background-color: #1A8EAE !important;
        border: 1px solid #1A8EAE !important;
        color: #fff !important;
        font-size: 16px !important;
        font-family: $cairo_regular !important;
        text-transform: capitalize !important;
        &:hover{
            color: #1A8EAE !important;
            background: #fff !important;
        }
    }
    .back-button{
        display: none !important;
    }
      }
      .btn_walk{
        text-transform: capitalize;
        background-color: #1A8EAE;
        color: #fff;
        padding: 5px 10px ;
        border-radius: 8px;
        cursor: pointer;
        border: none ;
        font-size: 16px;
        font-family: $cairo_regular;

      }