<lib-page-content [title]="'itemDefinition.TaxList' | translate" [subTitle]="'itemDefinition.TaxList' | translate">
    <div class="chart_of_account_tree">
        <div class="grid">
          <div class="md:col-4">
            <!-- [ngClass]="{'viewmode':view && !viewWithParent, 'viewparentmode':viewWithParent,'addmode':add , 'blank':  !view && !add && !viewWithParent}" -->
            <div class="tree">
              <div class="chart_account" [ngClass]="{ chart_account_active: showTree }">
                <div class="chart_togel" (click)="toggelTree()">
                  <img src="assets/images/tree/folder.png" alt="" />
                  <p class="text paragraph_b18">{{ 'itemsCategory.title' | translate }}</p>
                </div>
                <div class="flex justify-content-center align-content-center gap-1 ">
        
                  @if(!expanded){
                    <button class="btn_tree_item pi pi-expand"  (click)="expand_Collapse()">
                    </button>   
                  }@else{
                    <button class="btn_tree_item "  (click)="expand_Collapse()">
                      <i class="fa-solid fa-compress"></i>
                    </button>
                  }
                  <button class="btn_tree_item btn_add pi pi-plus" (click)="newChild()"></button>
              </div>
              </div>
      
              <p-tree
              (onNodeExpand)="nodeExpand($event)" 
        (onNodeCollapse)="nodeCollapse($event)" 

              [value]="nodes" [filter]="true" expanded="true" *ngIf="showTree">
                <ng-template let-node pTemplate="default">
                  <div class="ui-tree-node-content label_text tree-item-container"
                    [ngClass]="{ active: node == activeNode }">
                    <div class="description">
                      <span class="folder" *ngIf="!node.isDetailed"></span>
                      <span class="file" *ngIf="node.isDetailed"></span>
                      
                      <span id="label_tree" *ngIf="node.children" (click)="handleTabClick(node)">{{
                        node.label
                        }}</span>
                      <!-- *ngIf="node.children && node.children.length != 0 " -->
                    </div>
                    <div class="action">
                      <button class="btn_tree_item btn_edit pi pi-pencil" (click)="editAccount(node)"></button>
                      <button class="btn_tree_item btn_delet pi pi-trash" (click)="deleteAccount(node.id)"></button>
                      <button class="btn_add btn_tree_item pi pi-plus" (click)="addChild(node)"
                        *ngIf="!node.isDetailed"></button>
                    </div>
      
      
      
      
                  </div>
                </ng-template>
              </p-tree>
            </div>
          </div>
          <div class="md:col-8">
            <app-add-items-category *ngIf="add" [newChiled]="newChiled" [parentAddedId]="parentAddedId"
            (operationCompleted)="handleOperationCompleted($event)" > 
            </app-add-items-category>
            
            <app-edit-item-category *ngIf="edit" [parentEditedId]="parentEditedId"
            (operationCompleted)="viewMode($event)">

            </app-edit-item-category>
            <app-view-item-category *ngIf="view" [account]="account" (sendId)="routeToEditFromView($event)"></app-view-item-category>

          </div>
        </div>
      </div>
</lib-page-content>