<div dir="{{ 'dir' | translate }}">
  <div class="Layout">
    <app-layout-sidebar
      (sidebaropend)="toggleSidebar($event)"
      [currentLanguage]="currentLang"
      [isSidebarClosed]="!sidebarOpen"
    ></app-layout-sidebar>
    <div class="pages" [ngClass]="{ pages_sid_open: sidebarOpen }">
      <div  class="sticky">
        <app-layout-header   
        (sidebarToggle)="toggleSidebars($event)"
        (language)="languageToggleDetect($event)"> </app-layout-header>

      </div>
      <!-- <div>
        <app-layout-header (language)="languageToggleDetect($event)"> </app-layout-header>
      </div> -->
        <div>
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
