<lib-popup-page
  title="{{ 'attributeDefinition.attributeValues' | translate }}"
  [closeFunction]="onCancel"
  [save]="false"
  [showCancel]="false"
>

  <!-- <lib-data-table
  [items]="tableData"
  className="p-datatable-gridlines"
  [tableConfigs]="{
    allowPagination: false,
    columns: [
      {
        name: 'nameEn',
        headerText: 'attributeDefinition.values' | translate,
        isGlobalFilter: false,
        isSortable: false
      }
    ]
  }"
></lib-data-table> -->


<div class="itemAttributes">
  <div *ngFor="let item of tableData" class="col-md-3">
    <p class="itemAttributes-valuse">
      {{ item?.nameEn }}
    </p>
  </div>
</div>




</lib-popup-page>
