<lib-page-content [title]="'stockIn.TaxList' | translate" [subTitle]="'stockIn.TaxList' | translate">

  <div [formGroup]="stockOutForm" class="grid my w-100 card stockInForm_header card_micro">
    <div class="grid md:col-12 p-1 m-0">
      <div class="md:col-2 my-2">
        <lib-label [appControl]="stockOutForm.controls['code']">
          {{ 'stockIn.code' | translate }}
        </lib-label>
        <lib-text-input
          placeholder="{{ 'stockIn.code' | translate }}"
          formControlName="code"
          [readOnly]="true"
        ></lib-text-input>
        <lib-field-validations [appControl]="stockOutForm.controls['code']"></lib-field-validations>
      </div>
      <div class="md:col-2 my-2">
        <lib-label [appControl]="stockOutForm.controls['receiptDate']">
          {{ 'stockIn.date' | translate }}
        </lib-label>

        <div class="input-icon-container">
          <lib-text-input
            placeholder="{{ stockOutDataById.receiptDate | date:'d/MM/yyyy' }}"

            [readOnly]="true"
          />
          <span class="icon pi pi-calendar"></span>
        </div>

          <lib-field-validations  [appControl]="stockOutForm.controls['receiptDate']"></lib-field-validations>

      </div>

      <div class="md:col-3 my-2">
        <lib-label [appControl]="stockOutForm.controls['sourceDocumentId']">
          {{ 'stockIn.sourceDoc' | translate }}
        </lib-label>

        <lib-text-input
        placeholder="{{ 'stockIn.sourceDoc' | translate }}"
        formControlName="sourceDocumentId"
        [readOnly]="true"
      ></lib-text-input>
        <lib-field-validations [appControl]="stockOutForm.controls['sourceDocumentId']"></lib-field-validations>
      </div>

      <div class="md:col-2 my-2">
        <lib-label [appControl]="stockOutForm.controls['sourceDocumentType']">
          {{ 'stockIn.docType' | translate }}
        </lib-label>
        <lib-text-input
        placeholder="{{ 'stockIn.sourceDocumentType' | translate }}"
        formControlName="sourceDocumentType"
        [readOnly]="true"
      ></lib-text-input>
        <lib-field-validations [appControl]="stockOutForm.controls['sourceDocumentType']"></lib-field-validations>
      </div>
      <div class="md:col-3 my-2">
        <lib-label [appControl]="stockOutForm.controls['warehouseId']">
          {{ 'stockIn.warehouse' | translate }}
        </lib-label>
        <lib-text-input
        placeholder="{{ 'stockIn.warehouseId' | translate }}"
        formControlName="warehouseId"
        [readOnly]="true"
      ></lib-text-input>
        <lib-field-validations [appControl]="stockOutForm.controls['warehouseId']"></lib-field-validations>
      </div>
      <div class="md:col-6 my-2">
        <div>
          <lib-label [appControl]="stockOutForm.controls['notes']">
            {{ 'stockIn.notes' | translate }}
          </lib-label>
        </div>

        <textarea
          pInputTextarea
          style="width: 100%"
          rows="3"
          cols="5"
          [readOnly]="true"
          formControlName="notes"
          placeholder="{{ 'stockIn.notes' | translate }}"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="my-2 card_micro">
    <p-table
    #dt
    [value]="stockOut.value"
    dataKey="barCode"
    sortMode="multiple"
    [rows]="rows"
    [paginator]="true"
    [first]="first"
    [rowsPerPageOptions]="[1, 5, 10]"
    (onPage)="onPageChange($event)"
    styleClass="p-datatable-gridlines p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="globalFilterFields"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <lib-text-input
        type="text"
        [iconUrl]="'pi pi-search'"
        [placeholder]="'stockIn.search' | translate"
        (input)="filterTable($event)"

      ></lib-text-input>
        <!-- <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterTable($event)"
            placeholder="Search..."
          />
        </span> -->



      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="barCode">{{'stockIn.barcode' |translate}} <p-sortIcon field="barCode"></p-sortIcon></th>
        <th pSortableColumn="description">{{'stockIn.itemDescription' |translate}} <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="uomId">{{'stockIn.UOM' |translate}}  <p-sortIcon field="uomId"></p-sortIcon></th>
        <th pSortableColumn="quantity">{{'stockIn.QTY' |translate}} <p-sortIcon field="quantity"></p-sortIcon></th>
        <th pSortableColumn="cost">{{'stockIn.cost' |translate}} <p-sortIcon field="cost"></p-sortIcon></th>
        <th pSortableColumn="subTotal">{{'stockIn.subTotal' |translate}} <p-sortIcon field="subTotal"></p-sortIcon></th>
        <th pSortableColumn="trackingType">{{'stockIn.tracking' |translate}}  <p-sortIcon field="trackingType"></p-sortIcon></th>
        <th pSortableColumn="notes">{{'stockIn.note' |translate}} <p-sortIcon field="notes"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
      <tr>
        <td>{{ row.barCode }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.uomId }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.cost }}</td>
        <td>{{ row.quantity * row.cost || 0 }}</td>
        <td>
          <!--
          START Comment
              1) trackingType : NoTracking and hasExpiryDate =true  >> expireDate(only)  == done

             2)  trackingType : NoTracking and hasExpiryDate =false  >> NoTracking(only)  == done

             -->
          <ng-container *ngIf="row.trackingType === 'NoTracking'">
            <ng-container *ngIf="row.hasExpiryDate">
              <span class=" pi pi-calendar"></span> {{ row.expireDate | date: 'yyyy-MM-dd' }}
            </ng-container>
            <ng-container *ngIf="!row.hasExpiryDate">
              {{ row.trackingType }}
            </ng-container>
          </ng-container>

          <!--END Comment -->



                 <!--
                 START Comment

                  3)  trackingType : Batch  and   hasExpiryDate =true  >> batchNo + expireDate == done

                   4)  trackingType : Batch  and   hasExpiryDate =false  >> batchNo (only)   == done

             -->
          <ng-container *ngIf="row.trackingType === 'Batch'">
            <ng-container *ngIf="row.hasExpiryDate">
              {{ row.batchNo }} -        <span class=" pi pi-calendar"></span>{{ row.expireDate | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngIf="!row.hasExpiryDate">
              {{ row.batchNo }}
            </ng-container>
          </ng-container>

                <!--END Comment -->


                  <!--
                 START Comment

                 5)  trackingType : Serial  and   hasExpiryDate =false  >> serialId  >>>> optional

                  6)  trackingType : Serial  and   hasExpiryDate =true   >> serialId  + expireDate

             -->
          <ng-container *ngIf="row.trackingType === 'Serial'">
            <ng-container *ngIf="row.hasExpiryDate">
              {{ row.serialId }} -       <span class=" pi pi-calendar"></span> {{ row.expireDate | date: 'yyyy-MM-dd' }}
            </ng-container>
            <ng-container *ngIf="!row.hasExpiryDate">
              {{ row.serialId }}
            </ng-container>
          </ng-container>

              <!--END Comment -->

        </td>
        <td>{{ row.notes }}</td>
      </tr>
    </ng-template>
  </p-table>


  </div>




  <ng-template #actions let-action>
    <ng-container trackingType >

    </ng-container>
  </ng-template>


  <div class="grid">
    <div class="md:col-12 my-3 grid flex justify-content-end">
      <div class="md:col-4 grid flex justify-content-end">
        <div class="md:col-6">
          <lib-button-micro
            title="{{ 'cancel' | translate }}"
            nameClass="cancel"
            widthNumber="100%"

          >
          </lib-button-micro>
        </div>
        <div class="md:col-6">
          <lib-button-micro
            title="{{ 'Save' | translate }}"
            nameClass="save"
            widthNumber="100%"

          >
          </lib-button-micro>
        </div>
      </div>
    </div>
  </div>
  </lib-page-content>
