<lib-page-content>
  <lib-new-bread-crumb > </lib-new-bread-crumb>
  <div class="app_list card_micro">
    <div class="grid">
      <div class="col-12">
        <div class="sub_header">
          <div class="count_of_apps">
            {{ appInStore }} {{ 'AppStore.App-in-Store' | translate }}
          </div>

          <div class="btns">
            <!-- <div class="togel_card">
                          <button class="pi pi-microsoft" (click)="card()">

                          </button>
                          <button class="pi pi-bars" (click)="row()">

                          </button>
                      </div> -->
            <label class="switch">
              <span class="sun"> <i class="icon pi pi-bars"></i> </span>

              <span class="moon"> <i class="icon pi pi-microsoft"></i></span>
              <input type="checkbox" class="input" (click)="toggelview()" />
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 md:col-3">
        <div class="Modules">
          <lib-accordion header="Modules">
            <div>
              <p>Accounts</p>
              <p>Stores</p>
              <p>HR</p>
              <p>See all</p>
            </div>
          </lib-accordion>
        </div>
      </div> -->

      <div class=" col-12 md:col-12">
        <div class="" [ngClass]="{ contant: cardList }">
          <div class="col-12" [ngClass]="{' md:col-3':cardList }" *ngFor="let app of appList">
          <div class="card card_micro " [ngClass]="{ card_list: cardList }" >
            <div class="app_img">
              <img src="assets/images/apps/Group.png" alt="" />
            </div>
            <div class="app_description">
              <div class="sec_one">
                <div class="title" (click)="routeToDetails(app.appId)">
                  {{ app.appName }}
                </div>
                <div class="cart">
                  <button (click)="renew(app.appId)">{{ 'AppStore.Renew' | translate }}</button>
                </div>
              </div>
              <div class="sec_two">
                <div class="rate">
                  <!-- <lib-rating [value]="4.5" [isReadOnly]="true" [showCancel]="false"> </lib-rating> -->
                </div>
                <div class="date">
                  <span class="pi pi-calendar"></span>
                  {{ app.endDate | date }}
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</lib-page-content>
