<lib-page-content
  [title]="'financialCalendar.financialCalendar' | translate"
  [subTitle]="'financialCalendar.financialCalendar' | translate"
>
  <div>
    <div class="user_page">
      <lib-data-table
        [items]="tableData"
        className="p-datatable-gridlines"
        [currentPageResult]="currentPageInfo"
        (pageChange)="onPageChange($event)"
        (addNew)="routeToAdd()"
        [tableConfigs]="{
              allowPagination: false,
              allowServerPagination: true,
              dataKey: 'id',
              pageSize: 10,
              columns: [
                 
                 {
                   name: 'code',
                   headerText: ('financialCalendar.code' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
                 {
                   name: 'name',
                   headerText: ('financialCalendar.name' | translate),
                   isGlobalFilter: true,
                   isSortable: true
                 },
               
                 {
                   name: 'fromDate',
                   headerText: ('financialCalendar.fromDate' | translate),
                   isSortable: true

                 },
                 {
                   name: 'toDate',
                   headerText: ('financialCalendar.toDate' | translate) ,
                   isSortable: true

                 },
               
                 {
                   name: 'status',
                   headerText: ('financialCalendar.status' | translate),
                   isSortable: true,
                   template : status

                 },
                 {
                   name: 'id',
                   headerText: ('financialCalendar.actions' | translate),
                   template : actions
                 },
               ]
            }"
      >
        <ng-container caption>
          <div class="group flex justify-content-between">
            <div>
              <lib-text-input
              type="text"
              [placeholder]="'financialCalendar.Search' | translate"
              (keyUp)="onSearchChange($event)"
              [iconUrl]="'https://static.thenounproject.com/png/101791-200.png'"
            >
            </lib-text-input>

            </div>

            <div class="flex gap-2">
              <lib-export
                (exportClick)="exportClick($event)"
                [exportData]="exportData"
                [exportColumns]="exportColumns"
                [ExportName]="'Financial Calendar'"
              >
              </lib-export>
              <lib-button-micro
              nameClass="save"
              [title]="'financialCalendar.add' | translate"
              (click)="routeToAdd()"
              [iconName]="'pi pi-plus'"
            >
            </lib-button-micro>
            </div>
          </div>
        </ng-container>
        <ng-template #status let-status>
          <div class="actions flex align-items-center gap-2">
            <lib-input-switch [disabled]="true" [(ngModel)]="status.status"></lib-input-switch>
          </div>
        </ng-template>
        <ng-template #actions let-actions>
          <div class="actions flex align-items-center">
            <lib-button-micro
            nameClass="table_button_edit"
            (click)="routeToEdit(actions.id)" >

            </lib-button-micro>
          </div>
        </ng-template>
      </lib-data-table>
    </div>
  </div>
</lib-page-content>
