
  .btn {
    background-color: #1a8eae;
    border: 2px solid #1a8eae;
    color: #fff;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    .icon {
      margin-inline-end: 5px;
    }
  }
  .pointer{
    cursor: pointer;
  }