<lib-page-content >
  <div>
    <div class="user_page">
      <lib-data-table
      [items]="tableData"
      className="p-datatable-gridlines"
      [currentPageResult]="currentPageInfo"
      (columnsFiltered)="onFilterColumn($event)"
      (pageChange)="onPageChange($event)"
      (exportObj)="exportClickBySort($event)"
      (addNew)="onAdd()"
      [tableConfigs]="{
        allowPagination: false,
        allowServerPagination: true,
        dataKey: 'id',
        pageSize: 10,
        columns: [
          {
            name:'invoiceCode',
            headerText: ('salesInvoice.code' | translate),

            isGlobalFilter: true,
            isSortable: true
          },
          {
            name:'invoiceDate',
            headerText: ('salesInvoice.invoiceDate' | translate),
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'salesman',
            headerText: ('salesInvoice.salesMan' | translate),
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'warehouse',
            headerText: ('salesInvoice.warehouse' | translate),
            isGlobalFilter: true,
            isSortable: true
          },







          {
            name: 'customerCode',
            headerText: ('salesInvoice.customerCode' | translate),
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'customerName',
            headerText: ('salesInvoice.customerName' | translate),
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'paymentTerms',
            headerText: ('salesInvoice.paymentTerms' | translate),
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'creditLimit',
            headerText: ('salesInvoice.creditLimit' | translate),
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'relatedJournal',
            headerText: ('salesInvoice.relatedJournal' | translate),
            isGlobalFilter: true,
            isSortable: true
          },

          {
            name: 'createdStockOut',
            headerText: ('salesInvoice.createdStockout' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'totalQty',
            headerText: ('salesInvoice.totalQuantity' | translate),
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'numberOfItems',
            headerText: ('salesInvoice.numberOfItems' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'totalAmount',
            headerText: ('salesInvoice.total' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'discountAmount',
            headerText: ('salesInvoice.disAmount' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'totalAfterDiscount',
            headerText: ('salesInvoice.totalAfterDiscount' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'vatAmount',
            headerText: ('salesInvoice.vatAmount' | translate),
            isGlobalFilter: true,
            isSortable: true
          },


          {
            name: 'totalAfterVat',
            headerText: ('salesInvoice.totalAfterVat' | translate),
            isGlobalFilter: true,
            isSortable: true
          },
          {
            name: 'id',
            headerText: ('salesInvoice.actions' | translate),
            template: actions
          }
        ]
      }"
      >
      <ng-container search>
        <lib-form-group>
          <lib-text-input
          type="text"
          [placeholder]="'salesInvoice.search' | translate"
          [(ngModel)]="searchTerm"
          [iconUrl]="'pi pi-search'"
          (keyUp)="onSearchChange()"
        ></lib-text-input>
        </lib-form-group>
        </ng-container>
      <ng-container action>

        <div>
          <lib-export
          (exportClick)="exportClick()"
          [exportData]="exportData"
          [exportColumns]="exportColumns"
          [ExportName]="('salesInvoice.salesInvoicePrint' |translate)"
        >
        </lib-export>
        </div>
        <!--  -->
        <div>
          <lib-button-micro
          [title]="'create' | translate"
          nameClass="save"
          iconName="pi pi-plus"
          (click)="onAdd()"
        >
        </lib-button-micro>
        </div>

        <div *ngIf="hasHelpPage">
          <lib-button-micro
          [title]="'help' | translate"
          nameClass="save"
          (click)="navigateHelpPageComponent()"
        >
        </lib-button-micro>
        </div>
        </ng-container>















      <ng-template #actions let-action>
        <div class="actions flex align-items-center">
          <img src="assets/images/table/edit.svg" alt=""  />
          <img src="assets/images/table/delete.svg" alt="" />
        </div>
      </ng-template>


      </lib-data-table>
      </div>
      </div>

  </lib-page-content>
