.add_new {
    padding: 20px 0;
    .btn {
      background: none;
      border: none;
      font-size: 16px;
      color: #1a90b0;
      cursor: pointer;
    }
    .Line {
      border-inline-end: 3px solid #dde1e6ed;
    }
  }
  .head{
    // margin-bottom: 20px;
  }